<div class="flex items-center justify-between pr-5">
  <p class="px-3 truncate text-secondary-500 font-semibold">
    {{ nameElement }}
  </p>
  <button
    mat-icon-button
    (click)="goToStationOnMap()"
    class="text-secondary-500"
    id="redirect-to-map"
    data-testid="redirect-to-map"
  >
    <i class="fa-solid fa-map text-base"></i>
  </button>
</div>
<mat-accordion>
  <app-expansion-member-group-admin
    [stationOrGroupSelected]="selectedItem"
    [isAdmin]="true"
  ></app-expansion-member-group-admin>
  <app-expansion-member-group-admin
    [stationOrGroupSelected]="selectedItem"
    [isAdmin]="false"
  ></app-expansion-member-group-admin>
</mat-accordion>
