<!-- Document list item tab -->
<div class="pt-5">
  <table
    *ngIf="itemType === 'document'"
    mat-table
    [dataSource]="itemListWidgetModal"
    class="w-full scrollbar table-container"
  >
    <ng-container [matColumnDef]="'mainInformation'">
      <td mat-cell class="min-w-[150px]" *matCellDef="let element">
        <span class="text-base font-semibold text-accent-600">{{
          element.name
        }}</span
        ><br />
        <span class="text-xs text-secondary-500"
          >Current Station: {{ element.stationName }}</span
        >
      </td>
    </ng-container>

    <ng-container [matColumnDef]="'generalInformation'">
      <td mat-cell class="min-w-[150px]" *matCellDef="let element">
        <span class="text-base font-semibold">{{
          element.stationGroupName
        }}</span
        ><br />
        <span class="text-xs text-secondary-500"
          >Group Type: {{ element.isChained ? 'Chained' : 'Not Chained' }}</span
        >
      </td>
    </ng-container>

    <ng-container [matColumnDef]="'action'" stickyEnd class="custom-action">
      <td mat-cell class="pr-0 min-w-[50px]" *matCellDef="let element">
        <span class="text-xs text-secondary-500">
          <div class="text-right">
            <button
              mat-icon-button
              class="text-secondary-500"
              data-testid="show-document-widget-tab"
              id="show-document-widget"
            >
              <i class="fas text-lg fa-angle-right"></i>
            </button>
          </div>
        </span>
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumnsTableDocument"
      class="hover:bg-secondary-50"
    ></tr>
  </table>
  <!-- Stations list item tab -->
  <table
    *ngIf="itemType === 'station'"
    mat-table
    [dataSource]="itemListWidgetModal"
    class="w-full"
  >
    <ng-container [matColumnDef]="'mainInformation'">
      <td mat-cell class="min-w-[150px]" *matCellDef="let element">
        <span class="text-base font-semibold text-accent-600">{{
          element.name
        }}</span
        ><br />
        <span class="text-xs text-secondary-500"
          >{{ element.totalDocuments }} Documents</span
        >
      </td>
    </ng-container>

    <ng-container [matColumnDef]="'generalInformation'">
      <td mat-cell class="min-w-[150px]" *matCellDef="let element">
        <span class="text-base font-semibold">{{ element.groupName }}</span
        ><br />
        <span class="text-xs text-secondary-500"
          >Group Type: {{ element.isChained ? 'Chained' : 'Not Chained' }}</span
        >
      </td>
    </ng-container>

    <ng-container [matColumnDef]="'action'" stickyEnd>
      <td mat-cell class="min-w-[50px]" *matCellDef="let element">
        <span class="text-xs text-secondary-500">
          <div class="text-right">
            <button
              mat-icon-button
              class="text-secondary-400"
              data-testid="show-station-widget-tab"
              id="show-station-widget"
            >
              <i class="fas text-lg fa-angle-right"></i>
            </button>
          </div>
        </span>
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumnsTableDocument"
      class="hover:bg-secondary-50"
    ></tr>
  </table>
  <!-- Group list item tab -->
  <table
    *ngIf="itemType === 'group'"
    mat-table
    [dataSource]="itemListWidgetModal"
    class="w-full"
  >
    <ng-container [matColumnDef]="'mainInformation'">
      <td mat-cell class="min-w-[150px]" *matCellDef="let element">
        <span class="text-base font-semibold text-accent-600">{{
          element.name
        }}</span
        ><br />
        <span class="text-xs text-secondary-500"
          >{{ element.totalStations }} Stations</span
        >
      </td>
    </ng-container>

    <ng-container [matColumnDef]="'generalInformation'">
      <td mat-cell class="min-w-[150px]" *matCellDef="let element">
        <span class="text-base font-semibold"
          >Group Type: {{ element.isChained ? 'Chained' : 'Not Chained' }}</span
        ><br />
        <span class="text-xs text-secondary-500">
          {{ element.totalSubGroups }} Sub groups</span
        >
      </td>
    </ng-container>

    <ng-container [matColumnDef]="'action'" stickyEnd>
      <td mat-cell class="min-w-[50px]" *matCellDef="let element">
        <span class="text-xs text-secondary-500">
          <div class="text-right">
            <button
              mat-icon-button
              class="text-secondary-500"
              data-testid="show-group-widget-tab"
              id="show-group-widget"
            >
              <i class="fas text-lg fa-angle-right"></i>
            </button>
          </div>
        </span>
      </td>
    </ng-container>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="3">No data found.</td>
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumnsTableDocument"
      class="hover:bg-secondary-50"
    ></tr>
  </table>
</div>
