
<!-- Document list item tab-->
<div>
  <table mat-table [dataSource]="itemListWidgetModal" class="mat-elevation-z8 w-full flex justify-between">

    <ng-container  [matColumnDef]="'documentRithmId'">
      <td mat-cell class="min-w-[150px]" *matCellDef="let element">
        <span class="text-xs text-secondary-500">{{ element.documentRithmId }}</span>
        <span class="text-xs text-secondary-500">Current Station: {{ (element.isChainedGroup)?'Chained':'Not Chained' }}</span>
      </td>
    </ng-container>

    <ng-container  [matColumnDef]="'groupName'">
      <td mat-cell class="min-w-[150px]" *matCellDef="let element">
        <span class="text-base font-semibold">{{ element.groupName }}</span><br>
        <span class="text-xs text-secondary-500">Group Type: {{ (element.isChainedGroup)?'Chained':'Not Chained' }}</span>
      </td>
    </ng-container>

    <ng-container  [matColumnDef]="'action'">
      <td mat-cell class="min-w-[150px]" *matCellDef="let element">
        <span class="text-xs text-secondary-500">
          <div class="text-right">
            <button
              mat-icon-button
              class="text-secondary-500"
              data-testid="show-document-widget-tab"
              id="show-document-widget"
            >
              <i class="fas text-lg fa-angle-right"></i>
            </button>
          </div>
        </span>
      </td>
    </ng-container>


    <tr mat-row *matRowDef="let row; columns: displayedColumnsTableDocument;"></tr>
  </table>
</div>
  <!-- <div class="border-t border-solid border-secondary-100 py-5 pl-5">

  </div> -->
