<!--Loading the widget-->
<app-loading-widget
  *ngIf="isLoading"
  id="app-loading-indicator"
></app-loading-widget>

<!--Show error in the widget-->
<app-error-widget
  *ngIf="failedLoadWidget"
  id="error-load-widget"
  [errorMessage]="'Unable to retrieve document data'"
  (tryAgain)="getDocumentWidget()"
>
</app-error-widget>

<!--List of the questions-->
<div class="w-full p-2 flex h-full" *ngIf="!failedLoadWidget && !isLoading">
  <div class="overflow-auto scrollbar h-full w-full" *ngIf="dataDocumentWidget">
    <ng-container *ngFor="let questions of dataDocumentWidget.questions">
      <div class="py-3 border-b border-b-secondary-200">
        <p class="font-semibold text-sm">{{ questions.prompt }}</p>
        <p class="pt-3 text-sm">
          {{
            questions.answer?.value || "This question doesn't have an answer."
          }}
        </p>
      </div>
    </ng-container>
    <div
      class="text-center py-2 text-sm"
      *ngIf="!dataDocumentWidget.questions.length"
    >
      This document doesn't have any questions.
    </div>
  </div>
</div>
