<!--Loading the widget-->
<app-loading-widget
  *ngIf="isLoading"
  id="app-loading-indicator"
></app-loading-widget>

<!--Show error in the widget-->
<app-error-widget
  *ngIf="failedLoadWidget"
  id="error-load-widget"
  [errorMessage]="'Unable to retrieve document data'"
  (tryAgain)="getDocumentWidget()"
>
</app-error-widget>
<!-- Header widget -->
<div
  class="w-full p-2 flex flex-col h-full"
  *ngIf="!isLoading && !failedLoadWidget"
>
  <!--  Header Container -->
  <div class="m-2">
    <div class="flex justify-between items-center">
      <h3 *ngIf="dataDocumentWidget" class="font-semibold truncate">
        {{ dataDocumentWidget.documentName }}
      </h3>
      <div
        *ngIf="dataDocumentWidget.stations.length > 1; else singleStationLink"
      >
        <button
          mat-icon-button
          [matMenuTriggerFor]="stationMenu"
          id="show-more-stations"
          data-testid="show-more-stations"
        >
          <i class="fas fa-ellipsis-h text-secondary-500 text-[16px]"></i>
        </button>
        <mat-menu #stationMenu>
          <div
            *ngFor="let station of dataDocumentWidget.stations; let i = index"
          >
            <div
              mat-menu-item
              [id]="'go-to-document-station-' + i"
              [attr.data-testid]="'go-to-document-station-' + i"
              (click)="goToDocument(station.stationRithmId)"
            >
              <i
                class="fas fa-external-link-alt text-[16px] text-secondary-500"
              ></i>
              {{ station.stationName }}
            </div>
          </div>
        </mat-menu>
      </div>
      <ng-template #singleStationLink>
        <button
          mat-icon-button
          id="go-to-document-page-single"
          (click)="goToDocument(dataDocumentWidget.stations[0].stationRithmId)"
        >
          <i
            class="fas fa-external-link-alt text-[16px] text-secondary-500"
          ></i>
        </button>
      </ng-template>
    </div>
  </div>
  <!--List of the questions-->
  <div
    class="w-full p-2 flex h-full overflow-auto scrollbar"
    *ngIf="!failedLoadWidget && !isLoading"
  >
    <div class="h-full w-full" *ngIf="dataDocumentWidget">
      <ng-container
        class="h-full w-full"
        *ngFor="let questionList of dataDocumentWidget.questions"
      >
        <ng-container
          class="h-full w-full"
          *ngFor="let questions of questionList.questions"
        >
          <div class="py-3 border-b border-b-secondary-200">
            <p class="font-semibold text-sm">{{ questions.prompt }}</p>
            <p class="pt-3 text-sm">
              {{
                questions.answer?.value ||
                  "This question doesn't have an answer."
              }}
            </p>
          </div>
        </ng-container>
      </ng-container>
      <div
        class="text-center py-2 text-sm"
        *ngIf="!dataDocumentWidget.questions.length"
      >
        This document doesn't have any questions.
      </div>
    </div>
  </div>
</div>
