<div class="px-4">
  <div class="grid grid-cols-1 py-3 border-b border-secondary-200 border-solid">
    <div class="w-full">
      <div class="col-span-12 py-2">
        <h6>Image Settings</h6>
      </div>
      <div class="col-span-12 pb-5">
        <p class="text-sm">
          Upload and configure the image now, or allow users to upload a file
          the document.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full py-3 border-b border-secondary-200 border-solid">
    <p class="mb-1 text-md tracking-tight font-semibold">
      User Image
      <i class="fa-solid fa-circle-question px-2"></i>
    </p>
    <div class="flex flex-row justify-between items-center text-sm py-3">
      User Upload
      <mat-slide-toggle class="mat-slide"> </mat-slide-toggle>
    </div>
    <div class="flex flex-row justify-between items-center text-sm py-3">
      Required
      <mat-slide-toggle class="mat-slide"> </mat-slide-toggle>
    </div>
  </div>
  <div class="w-full pt-6">
    <button mat-stroked-button color="accent">
      <i class="fa-solid fa-arrow-up-from-bracket px-2"></i>
      Upload Image
    </button>
  </div>
</div>
