<div class="row no-gutters template-fields">
  <mat-form-field class="col-12" appearance="outline" [ngClass]="{'long-text': field?.type === fieldTypeEnum.LongText}">
    <mat-label>{{field?.prompt}}</mat-label>
    <div matPrefix class="icon" [ngClass]="{'icon-top': field.type === fieldTypeEnum.LongText}">
      <i *ngIf="field.type === fieldTypeEnum.ShortText" class="fas fa-font"></i>
      <i *ngIf="field.type === fieldTypeEnum.LongText" class="fas fa-paragraph"></i>
      <i *ngIf="field.type === fieldTypeEnum.URL" class="fas fa-link"></i>
      <i *ngIf="field.type === fieldTypeEnum.Email" class="far fa-envelope"></i>
    </div>
    <input *ngIf="field?.type !== fieldTypeEnum.LongText" matInput type="{{field?.type}}" [required]="field?.isRequired" class="font-awesome">
    <textarea *ngIf="field?.type === fieldTypeEnum.LongText" matInput placeholder="{{field?.prompt}}" rows="3" [required]="field?.isRequired" spellcheck="true"></textarea>
  </mat-form-field>
</div>
