@import "../custom-fields.scss";

textarea {
  min-height: 19px;
}

.long-text ::ng-deep .mat-form-field-prefix {
  align-self: center;
}

.information-field ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
