<div
  id="avatar"
  [ngClass]="{
    'circle-40-secondary': navProfile,
    'circle-30-secondary': !navProfile
  }"
  matTooltip="{{ firstName + ' ' + lastName }}"
  [matTooltipDisabled]="hideToolTip"
  class="cursor-pointer"
  (mouseenter)="hoverEffect ? (badgeHover = true) : (badgeHover = false)"
  (mouseleave)="badgeHover = false"
>
  <button *ngIf="badge === 'none'">{{ initials }}</button>
  <button
    *ngIf="badge !== 'none'"
    [matBadge]="getBadge()"
    matBadgeSize="small"
    matBadgePosition="below after"
    [matBadgeColor]="badgeHover || badge === 'minus' ? 'warn' : 'accent'"
  >
    {{ initials }}
  </button>
</div>
