<div class="grid grid-cols-1">
  <div class="w-full py-2">
    <div class="col-span-12">
      <p class="overline">Connection Information</p>
    </div>
    <div class="col-span-12">
      <p>{{connectionStartStationName}} connects to {{connectionEndStationName}}</p>
    </div>
  </div>
  <div class="w-full py-2">
    <p class="overline">Flow Logic</p>
    <div class="col-span-12">
      <p>No data available.</p>
    </div>
  </div>
  <div class="w-full py-2">
    <button mat-stroked-button color="warn" class="priority" (click)="toggleDrawer('connectionInfo')">Remove Connection</button>
  </div>
</div>
<div class="flex justify-center">
  <div class="bottom-0 absolute mb-7">
    <button mat-stroked-button color="accent" class="bottom-0 absolute mb-7"
      (click)="toggleDrawer('connectionInfo')">Done</button>
  </div>
</div>
