<div class="mt-5">
  <span class="font-semibold text-2xl">{{dataDescriptionTemplate.title}}</span> <br>
  <p class="text-sm mt-1">Selected Document: <span class="font-bold text-sm">{{itemWidgetModalSelected.itemList.name}}</span> </p>
  <br>
  <div class="w-full flex flex-wrap-reverse md:flex-nowrap">
    <div class="w-full md:w-3/5 md:p-5">
      <br /> <br />
      <span class="font-bold">List Widget </span>
      <div class="flex flex-col">
        <div class="flex border-t border-secondary-100 py-5">
          <div class="w-2/4">
            <span>Type</span>
          </div>
          <div class="w-2/4">
            <span class="text-sm">{{dataDescriptionTemplate.type}}</span>
          </div>
        </div>

        <div class="flex border-t border-secondary-100 py-5">
          <div class="w-2/4">
            <span>Customizable Data</span>
          </div>
          <div class="w-2/4">
            <span>{{dataDescriptionTemplate.customizable}}</span>
          </div>
        </div>

        <div class="flex justify-between border-t border-secondary-100 py-5">
          <div class="w-2/4">
            <span>Description</span>
          </div>
          <div class="w-2/4">
            <span class="w-52">{{dataDescriptionTemplate.description}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-2/5 md:p-8">
      <div class="w-full lg:w-4/5 shadow-md rounded h-[500px]">
        <app-document-widget
        [dataWidget]="dataWidget"
        [editMode]="false"
        [showButtonSetting]="false"
        [widgetType]="dataDescriptionTemplate.widgetType"
        ></app-document-widget>
      </div>
    </div>
  </div>
</div>
