// Primary Colors---------------

/// Rithm Primary color 1 - Blue
$primary-blue: #031023;

// Accent Colors---------------

/// Rithm Accent Blue
$accent-blue: #1d4d91;

// Secondary Colors---------------

/// Rithm Black
$secondary-black: #202020;
/// Rithm Secondary Blue
$secondary-blue: #2b3c54;
/// Rithm Secondary Gray
$secondary-gray: #667080;

// Warning Colors---------------
$warning-red: #91372c;
