@import 'rithm-light-palettes', 'variables', 'functions';

mat-card {
  padding: 8px;
  margin-top: 10px;
  height: 102px;

  h6 {
    font-weight: 500;
    color: $accent-blue;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.isAdmin {
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .docs {
    margin-left: 15px;
  }

  .roster,
  .docs {
    float: left;
    margin-top: 10px;

    p.overline {
      font-size: fixed-font-size(10) !important;
    }

    span.circles {
      div.doc-count {
        margin: 5px 2px;
        float: left;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          cursor: pointer;
          background: map-get($secondary-gray-palette, 600);
        }
      }
    }
  }
}
