<mat-expansion-panel
  hideToggle
  expanded
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
  class="expansion-member"
>
  <mat-expansion-panel-header class="bg-secondary-50">
    <mat-panel-title id="expansion-option" data-testid="expansion-option">
      <div class="w-full flex justify-between">
        <div class="flex items-center">
          <i
            [ngClass]="panelOpenState ? 'fa-angle-down' : 'fa-angle-right'"
            class="fas text-lg ml-5"
          ></i>
          <span class="ml-8">{{ isAdmin ? 'ADMINS' : 'USERS' }} </span>
        </div>
        <button
          mat-icon-button
          id="add-user-button"
          data-testid="add-user-button"
          (click)="openManagementRosterModal($event)"
        >
          <i class="fa-solid fa-user-plus text-secondary-500"></i>
        </button>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="loading flex p-5" *ngIf="isLoading">
    <app-loading-indicator
      class="flex-grow m-auto"
      [inlineText]="'loading'"
      id="loading-get-members"
    ></app-loading-indicator>
  </div>

  <div *ngIf="isErrorGetUsers" id="failed-get-users" class="px-5">
    <p class="text-error-500">Error: Station users cannot be displayed.</p>
  </div>

  <mat-list
    class="list-options"
    *ngIf="members && !isLoading && !isErrorGetUsers"
  >
    <div class="p-3" *ngIf="!members.length">
      <p>There are no members to display.</p>
    </div>

    <div *ngFor="let member of members">
      <mat-list-item
        matRipple
        [id]="'member' + member.rithmId"
        [attr.data-testid]="'member' + member.rithmId"
        class="item hover:bg-accent-50 cursor-pointer border-b color-border"
      >
        <div class="w-full flex justify-between items-center">
          <div class="w-9/12 flex space-x-3 items-center">
            <app-user-avatar
              [firstName]="member.firstName"
              [lastName]="member.lastName"
              [profileImageRithmId]="''"
            >
            </app-user-avatar>
            <div class="w-full flex flex-col">
              <span class="text-sm whitespace-nowrap truncate">{{
                member.firstName + member.lastName
              }}</span>
              <span class="text-sm text-accent-500 whitespace-nowrap truncate"
                >{{ member.email }}
              </span>
            </div>
          </div>
          <button
            mat-icon-button
            id="option-button-{{ member.rithmId }}"
            [attr.data-testid]="'option-button-' + member.rithmId"
            (click)="$event.stopPropagation()"
            class="showButton"
            [matMenuTriggerFor]="menu"
          >
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button
              id="remove-member-{{ member.rithmId }}"
              [attr.data-testid]="'remove-member-' + member.rithmId"
              mat-menu-item
              (click)="confirmRemoveMember(member.rithmId)"
            >
              Remove member
            </button>
          </mat-menu>
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</mat-expansion-panel>
