@import 'variables';

.color-border {
  border-color: map-get($primary-palette, 50);
}

.expansion-member {
  .mat-expansion-panel-header {
    padding: 0;
    background-color: #f8f8f8;

    .mat-expansion-panel-header-title {
      padding: 0 0 0 6px;
    }
  }

  &::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
    background-color: #f8f8f8;
  }
}

.list-options {
  ::ng-deep .mat-list-item-content {
    display: block !important;
    padding: 3px 15px !important;
  }
}

.showButton {
  @apply md:hidden;
}

.item:hover .showButton {
  @apply block;
}
