<section>
  <h4 class="text-center">{{ isWorker ? 'Worker' : 'Supervisor' }} Roster</h4>
  <div *ngIf="!isLoading" class="users">
    <div class="row" *ngFor="let member of members">
      <div class="col-2 user-avatar">
        <app-user-avatar [firstName]="member.firstName" [lastName]="member.lastName" [hideToolTip]="true"></app-user-avatar>
      </div>
      <div class="col-10">
        <p>
          {{member.firstName}} {{member.lastName}}
          <br>
          <span class="overline">{{member.email}}</span>
        </p>
      </div>
    </div>
  </div>
  <app-loading-indicator class="loader" *ngIf="isLoading"></app-loading-indicator>
  <div mat-dialog-actions class="row justify-content-end">
    <button id="confirm" mat-button color="accent" [mat-dialog-close]="true">Close</button>
  </div>
</section>
