<section>
  <h4 class="text-center">{{ isWorker ? 'Worker' : 'Supervisor' }} Roster</h4>
  <div *ngIf="!isLoading" class="users">
    <div class="row" *ngFor="let user of users">
      <div class="col-2">
        <app-user-avatar firstName="Tyler" lastName="Hendrickson"></app-user-avatar>
      </div>
      <div class="col-10">
        <p>
          {{user?.firstName}} {{user?.lastName}}
          <br>
          <span class="overline">{{user?.email}}</span>
        </p>
      </div>
    </div>
  </div>
  <app-loading-indicator class="loader" *ngIf="isLoading"></app-loading-indicator>
  <div mat-dialog-actions class="row justify-content-end">
    <button id="confirm" mat-button color="accent" [mat-dialog-close]="true">Close</button>
  </div>
</section>
