*.scss @belugasanity
*.css @belugasanity

*.ts @HendricksonTyler
*.js @HendricksonTyler
.stylelintrc.json @belugasanity
*.json @HendricksonTyler

*.spec.ts @HendricksonTyler

*.html @HendricksonTyler @belugasanity

src/assets/**/* @belugasanity


.browserslistrc @belugasanity

# Map module rules
src/app/map/*.scss @Gobsmack90
src/app/map/**/*.scss @Gobsmack90
src/app/map/**/*.html @Gobsmack90

# Document and Station rules
src/app/detail/**/*.ts @cqmdeveloper
src/app/document/**/*.ts @cqmdeveloper
src/app/station/**/*.ts @cqmdeveloper

src/app/detail/**/*.html @cqmdeveloper
src/app/document/**/*.html @cqmdeveloper
src/app/station/**/*.html @cqmdeveloper
