# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For the full list of supported browsers by the Angular framework, please see:
# https://angular.io/guide/browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

> 0.2%, last 4 Chrome version, not dead
> 0.2%, last 4 Firefox version, not dead
> 0.2%, last 4 Edge major versions, not dead
> 0.2%, last 4 Safari major versions, not dead
> 0.2%, last 4 iOS major versions, not dead
> 0.2%, Firefox ESR, not dead,
> 0.2%, last 4 Opera version, not dead
not IE 11 # Angular supports IE 11 only as an opt-in. To opt-in, remove the 'not' prefix on this line.
