.input-search {
  ::ng-deep .mat-form-field {
    height: 50px;
    width: 60%;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 50px !important;
  }

  ::ng-deep .mat-form-field-infix {
    padding-top: 1px !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 2px;
  }

  input.mat-input-element {
    margin-top: 3px;
    margin-left: 8px;
  }
}

.container-group {
  height: calc(100% - 85px);
}
