<!--Loading the widget-->
<app-loading-widget
  *ngIf="isLoading"
  id="app-loading-indicator-station-group"
></app-loading-widget>
<!--Show error in the widget-->
<app-error-widget
  *ngIf="errorStationGroup"
  id="error-load-widget-station-group"
  [errorMessage]="'Unable to retrieve group data'"
  (tryAgain)="getStationGroups()"
>
</app-error-widget>

<div class="scrollbar p-2 overflow-auto h-full w-full" *ngIf="dataStationGroup">
  <div
    id="list-stations-groups"
    *ngIf="dataStationGroup.stations.length; else stationGroupsEmpty"
  >
    <div
      *ngFor="let station of dataStationGroup.stations"
      class="border-b border-secondary-100 py-3 text-sm font-semibold"
    >
      {{ station.name }}
    </div>
  </div>

  <ng-template #stationGroupsEmpty>
    <div id="station-group-empty" class="text-sm text-center p-3">
      No stations found in this group.
    </div>
  </ng-template>
</div>
