<!--Loading the widget-->
<app-loading-widget
  *ngIf="isLoading"
  id="app-loading-indicator-station-group"
></app-loading-widget>
<!--Show error in the widget-->
<app-error-widget
  *ngIf="errorStationGroup"
  id="error-load-widget-station-group"
  [errorMessage]="'Unable to retrieve group data'"
  (tryAgain)="getStationGroups()"
>
</app-error-widget>

<div class="w-full h-full p-2" *ngIf="!isLoading && !errorStationGroup">
  <!-- Header widget -->
  <div class="flex flex-col input-search m-2">
    <h3 *ngIf="dataStationGroup" class="font-semibold truncate">
      {{ dataStationGroup.title }}
    </h3>
    <mat-form-field appearance="outline" class="mt-3">
      <input
        [(ngModel)]="search"
        type="text"
        matInput
        placeholder="Search"
        id="search-stations"
        data-testid="search-stations"
        maxlength="55"
        (keyup)="searchStation()"
        [disabled]="
          dataStationGroup.stations.length === 0 &&
          dataStationGroup.subStationGroups.length === 0
        "
        autocomplete="off"
      />
      <span matPrefix><i class="fas fa-search text-secondary-300"></i></span>
    </mat-form-field>
  </div>

  <div
    class="scrollbar overflow-scroll h-full w-full container-group mt-5 border-t border-secondary-100"
    *ngIf="dataStationGroup"
  >
    <div
      id="list-stations-groups"
      *ngIf="
        stations.length || subStationGroupData.length;
        else stationGroupsEmpty
      "
    >
      <!--subStations-->
      <div
        *ngFor="let subStation of subStationGroupData"
        class="flex justify-between border-b border-secondary-100 py-3 text-sm font-semibold items-center"
      >
        <span class="whitespace-normal truncate"> {{ subStation.title }}</span>

        <button mat-icon-button id="map-button" data-testid="map-button">
          <i class="fa-solid fa-map text-base text-secondary-500"></i>
        </button>
      </div>

      <!--Stations-->
      <div
        *ngFor="let station of stations"
        class="flex justify-between border-b border-secondary-100 py-3 text-sm font-semibold items-center"
      >
        <span class="whitespace-normal truncate">
          {{ station.name }} <br />
          <span
            id="show-documents-{{ station.rithmId }}"
            [attr.data-testid]="'show-documents-' + station.rithmId"
            class="whitespace-normal truncate text-xs font-normal"
            (click)="openDocsModal(station)"
            ><a>Documents</a></span
          >
        </span>

        <button
          mat-icon-button
          id="link-station-button"
          data-testid="link-station-button"
        >
          <i class="fas fa-external-link-alt text-base text-secondary-500"></i>
        </button>
      </div>
    </div>

    <ng-template #stationGroupsEmpty>
      <div id="station-group-empty" class="text-sm text-center">
        No stations and sub groups found in this group.
      </div>
    </ng-template>
  </div>
</div>
