<!--Loading the widget-->
<app-loading-widget
  *ngIf="isLoading"
  id="app-loading-indicator-station-group"
></app-loading-widget>
<!--Show error in the widget-->
<app-error-widget
  *ngIf="errorStationGroup"
  id="error-load-widget-station-group"
  [errorMessage]="'Unable to retrieve group data'"
  (tryAgain)="getStationGroupsWidget()"
>
</app-error-widget>

<div class="w-full h-full p-2" *ngIf="!isLoading && !errorStationGroup">
  <!-- Header widget -->
  <div class="flex flex-col input-search">
    <h3 *ngIf="dataStationGroupWidget" class="font-semibold truncate">
      {{ dataStationGroupWidget.title }}
    </h3>
    <mat-form-field appearance="outline" class="mt-3">
      <input
        [(ngModel)]="search"
        type="text"
        matInput
        placeholder="Search"
        id="search-stations"
        data-testid="search-stations"
        maxlength="55"
        (keyup)="searchStation()"
      />
      <span matPrefix><i class="fas fa-search text-secondary-300"></i></span>
    </mat-form-field>
  </div>

  <div
    class="scrollbar p-2 overflow-auto h-full w-full"
    *ngIf="dataStationGroupWidget"
  >
    <div
      id="list-stations-groups"
      *ngIf="stations.length; else stationGroupsEmpty"
    >
      <div
        *ngFor="let station of stations"
        class="border-b border-secondary-100 py-3 text-sm font-semibold"
      >
        {{ station.name }}
      </div>
    </div>

    <ng-template #stationGroupsEmpty>
      <div id="station-group-empty" class="text-sm text-center p-3">
        No stations found in this group.
      </div>
    </ng-template>
  </div>
</div>
