//Search css styles
::ng-deep.mat-form-field-wrapper {
  padding: 0;

  .mat-form-field-underline {
    display: none;
  }
}

::ng-deep.mat-form-field-appearance-fill {
  .mat-form-field-flex {
    padding: 10px 25px 10px 35px !important;
    background-color: #fff;
    border: 1px solid #bfbfbf;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: 0.35rem;
    font-size: 0.89rem;
  }
}

::ng-deep.mat-option {
  line-height: 21px !important;
  height: 50px !important;
  padding: 0 10px !important;

  .mat-option-text {
    display: flex;
    align-items: center;
  }
}

.station {
  background-image: url('../../../assets/images/station.png');
}

.group {
  background-image: url('../../../assets/images/station group.png');
}

.top-calc {
  top: 64px;
}

.h-calc {
  height: calc(100vh - 134px); //this height is set for browser compatibility.
  height: calc(var(--mobilesearchvh, 1vh) * 100 - 134px);
}
