<app-sub-header class="fixed z-10 w-full" [itemInfo]="stationInformation"></app-sub-header>
<mat-drawer-container [hasBackdrop]="drawerHasBackdrop" class="h-full">
  <mat-drawer #drawer mode="over" position="end">
    <app-detail-drawer *ngIf="drawerContext === 'comments' || drawerContext === 'history'"></app-detail-drawer>
    <app-info-drawer *ngIf="drawerContext === 'stationInfo' || drawerContext === 'documentInfo'"></app-info-drawer>
  </mat-drawer>

  <mat-drawer-content>
    <div class="textured-bg grid grid-cols-12 min-h-full">
      <!-- Left column -->
      <app-connected-station-pane [location]='"left"' [stations]="previousStations"
        class="hidden lg:inline-block col-span-2"></app-connected-station-pane>
      <!-- Center column -->
      <div class="col-span-12 lg:col-span-8 bg-white h-full px-5 py-12">
        <div class="loading" *ngIf="stationLoading">
          <app-loading-indicator id="component-station-loading" class="flex-grow m-auto"></app-loading-indicator>
        </div>
        <form *ngIf="!stationLoading" [formGroup]="stationForm" autocomplete="off" class="station-base-form">
          <app-station-info-header [stationInformation]="stationInformation" [stationEditMode]="true"
            #stationInfoHeader></app-station-info-header>
          <!-- Tabs -->
          <mat-tab-group mat-align-tabs="center" class="mt-2 w-full pb-8">
            <mat-tab>
              <ng-template mat-tab-label>
                <span data-testid="document-tab">Document</span>
              </ng-template>
              <ng-template matTabContent>

                <app-document-info-header #documentNameFields [documentInformation]="stationInformation" *ngIf="!stationLoading"></app-document-info-header>
                <div class="mt-2">
                  <mat-form-field class="w-full long-text" appearance="outline">
                    <mat-label>General Instructions</mat-label>
                    <div matPrefix class="icon">
                      <i class="fas fa-paragraph"></i>
                    </div>
                    <textarea data-testid="general-instructions" matInput placeholder="General Instructions" rows="3"
                      spellcheck="true" formControlName="generalInstructions"></textarea>
                  </mat-form-field>
                </div>
                <app-station-template [stationRithmId]="stationRithmId" [fields]="stationInformation.questions" formControlName="stationTemplateForm">
                </app-station-template>
                <app-toolbar (fieldSelected)="addQuestion($event)"></app-toolbar>
                <div class="py-5 px-px">
                  <mat-accordion>
                    <mat-expansion-panel [(expanded)]="accordionFieldAllExpanded">
                      <mat-expansion-panel-header class="text-base">
                        <mat-panel-title data-testid="all-fields">
                          All
                        </mat-panel-title>
                        <mat-panel-description>
                          <div class="hidden sm:flex justify-start w-full">
                            View all items on this document
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <app-previous-fields [stationId]="stationInformation.rithmId" [currentQuestions]="stationInformation.questions" [isPrivate]="false" (movingQuestion)="movePreviousFieldToTemplate($event)">
                        </app-previous-fields>
                      </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel [(expanded)]="accordionFieldPrivateExpanded">
                      <mat-expansion-panel-header class="text-base">
                        <mat-panel-title data-testid="private-fields">
                          Private
                        </mat-panel-title>
                        <mat-panel-description>
                          <div class="hidden sm:flex justify-start w-full">
                            View all private items on this document
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <app-previous-fields [stationId]="stationInformation.rithmId" [currentQuestions]="stationInformation.questions" [isPrivate]="true" (movingQuestion)="movePreviousFieldToTemplate($event)">
                        </app-previous-fields>
                      </ng-template>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span data-testid="flow-logic-tab">Flow Logic</span>
              </ng-template>
              <ng-template matTabContent>
                Flow Logic tab
              </ng-template>
            </mat-tab>
          </mat-tab-group>
          <div class="w-full fixed z-10 bottom-0 left-0">
            <div class="grid grid-cols-12">
              <div class="lg:col-start-3 col-span-12 lg:col-span-8 flex bg-white px-5 py-2 footer justify-between">
                <span class="mr-3"><button data-testid="station-cancel" id="station-cancel" mat-stroked-button
                    color="accent" (click)="cancelStation()">Cancel</button></span>
                <button data-testid="station-save" mat-raised-button color="accent" class="mx-2" id="station-save"
                  (click)="saveStationInformation()" [disabled]="!stationForm.valid" >Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Right column -->
      <app-connected-station-pane [location]='"right"' [stations]="forwardStations"
        class="hidden lg:inline-block col-span-2"></app-connected-station-pane>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
