<div class="grid grid-cols-3 bg-secondary-400 py-1">
  <div class="col-start-2 text-center text-white">
    <h3>{{ title }}</h3>
  </div>
  <div class="justify-self-end px-3 md:px-5">
    <button class="group" [ngClass]="{'active': activeItem === 'comments'}" id="comment-button" mat-icon-button (click)="toggleDrawer('comments')">
      <i class="far fa-comment-alt text-white group-hover:text-accent-100 text-lg"></i>
    </button>
    <button class="group" [ngClass]="{'active': activeItem === 'history'}" id="history-button" mat-icon-button (click)="toggleDrawer('history')">
      <i class="fas fa-history text-white group-hover:text-accent-100 text-lg"></i>
    </button>
  </div>
</div>
<!-- <div>
  <div class="items"></div>
  <div class="items title">
    <h3 class="d-block">
      {{ title }}
    </h3>
  </div>
  <div class="items buttons">
    <button [ngClass]="{'active': activeItem === 'comments'}" id="comment-button" mat-icon-button (click)="toggleDrawer('comments')">
      <i class="far fa-comment-alt"></i>
    </button>
    <button [ngClass]="{'active': activeItem === 'history'}" id="history-button" mat-icon-button (click)="toggleDrawer('history')">
      <i class="fas fa-history"></i>
    </button>
  </div>
</div> -->
