<div class="container h-full">
  <div class="flex w-full h-full items-center" *ngIf="isLoading">
    <app-loading-indicator class="flex-grow"></app-loading-indicator>
  </div>
  <mat-card class="w-full md:w-11/12 lg:w-4/5 mx-auto sm:mt-6 h-full sm:h-auto" *ngIf="!isLoading">
    <h3 class="mb-4 text-accent-500">Account Settings</h3>

    <form (ngSubmit)="updateSettings()" class="relative" [formGroup]="settingsForm">
      <h4 class="pb-3">General Account Settings</h4>

      <app-user-form formControlName="userForm" class="w-full"></app-user-form>

      <div class="w-full">
        <a (click)="openTerms()" class="my-3 cursor-pointer text-sm text-accent-500 hover:underline">View the terms & conditions</a>
      </div>

      <div class="mobile-save mt-4 flex justify-end">
        <button data-testid="save-changes" type="submit" mat-raised-button color="accent"
          [disabled]="!settingsForm.valid || !settingsForm.dirty">Save Changes</button>
      </div>
      <div class="mt-4 sm:mt-0 text-center overline-font uppercase pb-12 sm:pb-0">{{ appVersionNumber }}</div>
    </form>
  </mat-card>
</div>
