<div class="page textured-bg">
  <div class="container">
    <div class="row justify-content-center">

      <mat-card class="col-12 col-lg-10 col-xl-7 mt-0 mt-sm-4">
        <h3 class="mb-4">Account Settings</h3>

        <form (ngSubmit)="updateSettings()" [formGroup]="settingsForm">
          <h4 class="pb-3">General Account Settings</h4>

          <app-user-form formControlName="userForm" class="row"></app-user-form>

          <app-notification-settings></app-notification-settings>

          <div class="row">
            <a (click)="viewTermsAndConditions()" class="col my-3">View the terms & conditions</a>
          </div>

          <div class="buttons mt-4">
            <button type="submit" mat-raised-button color="accent" [disabled]="!settingsForm.valid || !settingsForm.dirty">Save Changes</button>
          </div>
        </form>



      </mat-card>
    </div>
  </div>
</div>
