<ng-container [formGroup]="stationTemplateForm">
  <div class="mt-2">
    <app-text-field [field]="stationInstructionsField"></app-text-field>
  </div>
  <div class="w-full">
    <app-station-field *ngFor="let field of stationInstructionsField.children; let i = index" formControlName="stationFieldForm" [field]="field"
      [movableUp]="canFieldMoveUp(i)" [movableDown]="canFieldMoveDown(i)" (move)="move($event, i)" (remove)="remove(i)"></app-station-field>
  </div>
  <!-- TODO: All items expansion panel here -->

  <!-- TODO: Hidden items expansion panel here (if admin) -->
</ng-container>
