@import 'variables';

.admin-menu {
  .mat-list-item-content {
    padding: 0;

    .mat-list-item {
      padding: 0 0 0 6px;
    }
  }

  .mat-list-option {
    @apply rounded-sm;
  }

  .mat-list-item:hover {
    @apply bg-accent-100;
  }

  .mat-list-single-selected-option {
    @apply bg-accent-100;
  }

}

.color-border {
  border-color: map-get($primary-palette, 50);
}
