<div class="toolbar-container mat-elevation-z4">
  <div class="row no-gutters">
    <button mat-button class="col-3">
      <i class="fas fa-font"></i>
      <p>Short Text</p>
    </button>
    <button mat-button class="col-3">
      <i class="fas fa-paragraph"></i>
      <p>Long Text</p>
    </button>
    <button mat-button class="col-3">
      <i class="fas fa-link"></i>
      <p>URL</p>
    </button>
    <button mat-button class="col-3">
      <i class="far fa-envelope"></i>
      <p>Email</p>
    </button>
    <button mat-button class="col-3">
      <i class="far fa-address-card"></i>
      <p>Address</p>
    </button>
    <button mat-button class="col-3">
      <i class="fas fa-calculator"></i>
      <p>Number</p>
    </button>
    <button mat-button class="col-3">
      <i class="fas fa-phone"></i>
      <p>Phone Number</p>
    </button>
    <button mat-button class="col-3">
      <i class="fas fa-money-bill-wave"></i>
      <p>Currency</p>
    </button>
    <button mat-button class="col-3">
      <i class="fas fa-calendar-day"></i>
      <p>Date</p>
    </button>
    <button mat-button class="col-3">
      <i class="far fa-check-square"></i>
      <p>Checkbox</p>
    </button>
    <button mat-button class="col-3">
      <i class="fas fa-list"></i>
      <p>Checklist</p>
    </button>
    <button mat-button class="col-3">
      <i class="fas fa-chevron-circle-down"></i>
      <p>Single Select</p>
    </button>
    <button mat-button class="col-3">
      <i class="fas fa-chevron-circle-down"></i>
      <p>Multi Select</p>
    </button>
  </div>
</div>
