<div class="toolbar-container">
  <div class="row no-gutters">
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Short Text</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Long Text</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>URL</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Email</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Address</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Number</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Phone Number</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Currency</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Date</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Checkbox</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Checklist</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Single Select</p>
    </div>
    <div class="col-3">
      <i class="fas fa-font"></i>
      <p>Multi Select</p>
    </div>
  </div>
</div>
