@import 'functions', 'rithm-light-palettes', 'variables';

.toolbar-container {
  width: 315px;
  border-radius: 4px;
  padding: 5px 0;
  // position: absolute;
  z-index: 9;
  background-color: #fff;

  div.row {
    button {
      text-align: center;
      padding: 5px;

      ::ng-deep span.mat-button-wrapper {
        i {
          font-size: fixed-font-size(30);
          color: map-get($primary-palette, 400);
        }

        p {
          font-size: fixed-font-size(12);
          white-space: normal;
          line-height: 14px;
          margin-top: 2px;
        }
      }

      &:hover {
        color: $accent-blue;

        ::ng-deep span.mat-button-wrapper i {
          color: $accent-blue;
        }
      }
    }
  }
}
