@import 'functions', 'rithm-light-palettes';

.toolbar-container {
  width: 315px;
  border-radius: 4px;

  div.row {
    div {
      text-align: center;
      padding: 5px;

      i {
        font-size: fixed-font-size(30);
        color: map-get($primary-palette, 400);
      }

      p {
        font-size: fixed-font-size(12);
      }
    }
  }
}
