<div class="mt-10 tabs-group">
  <mat-button-toggle-group
    #colorToggle="matButtonToggleGroup"
    value="primary"
    class="button-group"
  >
    <mat-button-toggle
      value="primary"
      (click)="selectedTab(0)"
      data-testid="tab-button-document"
      id="tab-button-document"
    >
      Documents
    </mat-button-toggle>
    <mat-button-toggle
      value="accent"
      (click)="selectedTab(1)"
      data-testid="tab-button-station"
      id="tab-button-station"
    >
      Stations
    </mat-button-toggle>
    <mat-button-toggle
      value="accent"
      (click)="selectedTab(2)"
      data-testid="tab-button-flow"
      id="tab-button-flow"
    >
      Groups
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-tab-group [(selectedIndex)]="indexTab" class="tabs">
    <mat-tab> Content 1</mat-tab>
    <mat-tab>
      <!-- Station tab. -->
      <div *ngIf="errorLoadingStationtTab" id="error-station-list-tab">
        <p class="text-error-500 text-center">Stations could not be listed.</p>
      </div>
      <div *ngIf="isLoadingStationTab" id="loading-station-list-tab">
        <app-loading-indicator></app-loading-indicator>
      </div>
    </mat-tab>
    <mat-tab> Content 3</mat-tab>
  </mat-tab-group>
</div>
