.tabs-group {
  .button-group {
    ::ng-deep .mat-button-toggle-checked {
      @apply bg-accent-500;

      ::ng-deep .mat-button-toggle-label-content {
        @apply text-white;
      }
    }
  }

  .tabs {
    ::ng-deep .mat-tab-header {
      @apply hidden;
    }
  }

  height: calc(100% - 170px) !important;

  .mat-tab-group {
    @media only screen and (max-width: 830px) {
      height: calc(100% - 45px) !important;
    }

    @media only screen and (min-width: 831px) {
      height: calc(100% - 20px) !important;
    }
  }
}

.loading {
  @apply flex items-center justify-center h-full;
}
