<div
  class="grid grid-cols-3 py-1"
  [ngClass]="newInterfaceView ? 'textured-bg' : 'bg-secondary-400 '"
>
  <div
    [ngClass]="{
      'col-start-2 text-center': title,
      'h-10 ': !title,
      'text-white': !newInterfaceView
    }"
  >
    <h6 class="leading-10">{{ newInterfaceView ? stationName : title }}</h6>
  </div>
  <div class="justify-self-end px-3 md:px-5" *ngIf="newInterfaceView">
    <button
      class="group"
      type="button"
      [ngClass]="{ active: activeItem === 'stationInfo' }"
      data-testid="station-info-button"
      id="station-info-button"
      mat-icon-button
      (click)="toggleDrawer('stationInfo')"
    >
      <i class="fas fa-info-circle group-hover:text-accent-100 text-lg"></i>
    </button>
    <button
      class="group"
      type="button"
      [ngClass]="{ active: activeItem === 'comments' }"
      data-testid="comment-button"
      id="comment-button"
      mat-icon-button
      (click)="toggleDrawer('comments')"
    >
      <i class="far fa-comment-alt group-hover:text-accent-100 text-lg"></i>
    </button>
    <button
      class="group"
      type="button"
      [ngClass]="{ active: activeItem === 'history' }"
      id="history-button"
      data-testid="comment-button"
      mat-icon-button
      (click)="toggleDrawer('history')"
      [disabled]="!itemInfo"
    >
      <i class="fas fa-history group-hover:text-accent-100 text-lg"></i>
    </button>
  </div>
</div>
