<div class="col-span-12 md:col-span-6"
  [ngClass]="{'md:col-start-3': editMode, 'xl:col-span-5': !editMode}">
  <div class="flex"
    [ngClass]="{'justify-between flex-wrap': type !== 'worker', 'justify-end md:mr-20': type === 'worker'}">
    <div class="w-full py-2">
      <p class="overline font-bold">supervisor roster</p>
      <p>
        <app-roster [rosterMembers]="stationInformation.supervisors"
          [rosterSize]="stationInformation.supervisors.length"
          [stationId]="stationInformation.stationRithmId" [stationName]="stationName"
          [isWorker]="isWorker" [editMode]="editMode"></app-roster>
      </p>
    </div>
    <div class="w-full py-2" *ngIf="type !== 'worker'">
      <p class="overline">worker roster</p>
      <p>
        <app-roster [rosterMembers]="stationInformation.workers"
          [rosterSize]="stationInformation.workers.length"
          [stationId]="stationInformation.stationRithmId" [stationName]="stationName"
          [isWorker]="isWorker" [editMode]="editMode"></app-roster>
      </p>
    </div>
  </div>
</div>
