<div class="h-full w-full flex justify-center items-center absolute" *ngIf="stationLoading">
  <app-loading-indicator></app-loading-indicator>
</div>
<div class="grid grid-cols-1" *ngIf="!stationLoading">
  <div class="w-full py-2">
    <div class="col-span-12">
      <p class="overline">Station Information</p>
    </div>
    <div class="col-span-12">
      <p>{{stationName}}</p>
    </div>
  </div>
  <div class="w-full py-2">
    <p class="overline">station owners</p>
    <app-roster [rosterMembers]="stationInformation.stationOwners" [rosterSize]="stationInformation.stationOwners.length"
      [stationId]="stationInformation.rithmId" [stationName]="stationName" [isWorker]="isWorker" [editMode]="editMode">
    </app-roster>
  </div>
  <div class="w-full py-2" *ngIf="type !== 'worker'">
    <p class="overline">worker roster</p>
    <app-roster [rosterMembers]="stationInformation.workers" [rosterSize]="stationInformation.workers.length"
      [stationId]="stationInformation.rithmId" [stationName]="stationName" [isWorker]="isWorker" [editMode]="editMode">
    </app-roster>
  </div>
  <div class="w-full py-2">
    <p class="overline">station priority</p>
    <button mat-mini-fab color="warn" class="priority">
      1
    </button>
  </div>
  <div class="w-full py-2">
    <p class="overline">document generation</p>
    <div class="w-24 items-center py-2" *ngIf="docGenLoading">
      <app-loading-indicator [inlineText]="'Loading...'"></app-loading-indicator>
    </div>
    <div class="py-1" *ngIf="!docGenLoading">
      <mat-radio-group class="text-sm" aria-label="Set the document generation" *ngIf="!showDocumentGenerationError">
        <mat-radio-button class="px-1" value="1" [checked]="stationDocumentGenerationStatus === 'None'? true: false">None
        </mat-radio-button>
        <mat-radio-button class="px-1" value="2" [checked]="stationDocumentGenerationStatus === 'Manual'? true: false">Manual
        </mat-radio-button>
      </mat-radio-group>
      <div class="text-left text-xs py-2" *ngIf="showDocumentGenerationError">
        <span class="text-error-500">Error: unable to set document generation status</span>
      </div>
    </div>
  </div>
  <div class="w-full py-2">
    <p class="overline">last updated</p>
     <div class="w-24 items-center py-2" *ngIf="lastUpdatedLoading">
      <app-loading-indicator [inlineText]="'Loading...'"></app-loading-indicator>
    </div>
    <div class="col-span-8 md:col-span-4 text-left text-xs py-2" *ngIf="!lastUpdatedLoading">
      <span class="{{colorMessage}}">{{lastUpdatedDate}} </span>
    </div>
  </div>
  <div class="w-full py-2">
    <button mat-stroked-button color="warn" class="priority" (click)="deleteStation(stationInformation.rithmId)">Delete Station</button>
  </div>
</div>
<div class="flex justify-center">
  <div class="bottom-0 absolute mb-7">
    <button mat-stroked-button color="accent" class="bottom-0 absolute mb-7"
      (click)="toggleDrawer('stationInfo')">Done</button>
  </div>
</div>
