<div class="grid grid-cols-1">
  <div class="w-full py-2">
    <p class="overline font-bold">supervisor roster</p>
      <app-roster [rosterMembers]="stationInformation.supervisors"
        [rosterSize]="stationInformation.supervisors.length"
        [stationId]="stationInformation.stationRithmId" [stationName]="stationName"
        [isWorker]="isWorker" [editMode]="editMode"></app-roster>
  </div>
  <div class="w-full py-2" *ngIf="type !== 'worker'">
    <p class="overline">worker roster</p>
      <app-roster [rosterMembers]="stationInformation.workers"
        [rosterSize]="stationInformation.workers.length"
        [stationId]="stationInformation.stationRithmId" [stationName]="stationName"
        [isWorker]="isWorker" [editMode]="editMode"></app-roster>
  </div>
</div>
<div mat-dialog-actions class="flex justify-center">
   <div class="bottom-0 absolute mb-7">
    <button mat-stroked-button  class="bottom-0 absolute mb-7" (click)="toggleDrawer('stationInfo')">Done</button>
   </div>
</div>

