@import 'rithm-light-palettes';

.mat-mini-fab {
  &.priority {
    &::ng-deep .mat-button-wrapper {
      padding: 0;
    }

    @apply mt-1 w-7 h-7 leading-6;
  }
}

.mat-stroked-button {
  &.priority {
    &::ng-deep .mat-button-wrapper {
      padding: 0;
    }

    border: 2px solid map-get($error-palette, 300);
    color: map-get($error-palette, 300);
  }
}

