<div
  class="p-4 w-72 overflow-y-auto"
  [ngClass]="{
    'drawer-content-h-doc': !openedFromMap,
    'drawer-content-h-map': openedFromMap
  }"
>
  <app-station-info-drawer
    *ngIf="drawerMode === 'stationInfo'"
  ></app-station-info-drawer>
  <app-document-info-drawer
    *ngIf="drawerMode === 'documentInfo'"
  ></app-document-info-drawer>
</div>
<div class="flex justify-center border-t border-solid border-secondary-50">
  <button mat-button color="accent" (click)="toggleDrawer(drawerMode)">
    Close
  </button>
</div>
