<ng-container *ngIf="stationViewMode === 'edit'; else previewMode">
  <div class="min-h-full" cdkDropList [id]="'bodyTextWidget-' + id">
    <textarea
      matInput
      class="p-1 min-w-full"
      rows="3"
      spellcheck="true"
      [value]="bodyTextValue"
      [id]="'bodyTextWidgetTextArea' + id"
      data-testid="bodyTextWidget"
    >
    </textarea>
  </div>
</ng-container>
<ng-template #previewMode>
  <textarea
    matInput
    class="p-1 min-w-full"
    rows="3"
    spellcheck="true"
    [value]="bodyTextValue"
    [id]="'bodyTextWidgetTextArea' + id"
    data-testid="bodyTextWidget"
  >
  </textarea>
</ng-template>
