.table {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  border-spacing: 0;

  tbody {
    tr {
      border-bottom: 1px solid #e7e7e7;

      td {
        padding: 8px 0;
        min-width: 10%;

        span {
          color: #fefefe;
        }

        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }
}

.bar {
  width: 87%;
  height: 6px;
  border-radius: 4px;

  @apply bg-secondary-100;
}
