<!-- Toggle template by widgetType -->
<ng-container
  *ngTemplateOutlet="cardOfWidget; context: dataTemplate[widgetType]"
></ng-container>

<!-- Card of the station widget -->
<ng-template let-description="description" let-title="title" #cardOfWidget>
  <div
    class="h-[300px] w-full rounded border border-secondary-100 cursor-pointer"
    matRipple
    (click)="emitPreviewWidgetSelected()"
  >
    <div
      class="py-3 px-5 bg-secondary-50 rounded-t h-4/6 border-b border-b-secondary-100"
      [ngSwitch]="widgetType"
    >
      <!-- Type station -->
      <ng-container
        *ngSwitchCase="enumWidgetType.Station"
        [ngTemplateOutlet]="previewStation"
      ></ng-container>
      <!-- Type StationTableBanner -->
      <ng-container
        *ngSwitchCase="enumWidgetType.StationTableBanner"
        [ngTemplateOutlet]="previewStationTableBanner"
      ></ng-container>
    </div>
    <!-- Info of card. -->
    <div class="p-2 overflow-auto h-2/6 scrollbar">
      <p class="text-sm font-semibold">{{ title }}</p>
      <p class="text-xs">{{ description }}</p>
    </div>
  </div>
</ng-template>

<!-- Preview widget type station -->
<ng-template #previewStation>
  <div class="h-full w-full rounded overflow-hidden">
    <div class="w-full bg-white h-full py-1 rounded shadow">
      <div class="px-2 leading-3">
        <span class="text-sm font-semibold">Station name</span> <br />
        <span class="text-xs">Subtitle</span>
      </div>
      <div class="w-full px-1">
        <div
          class="flex gap-x-2 animate-pulse border-b border-b-secondary-50"
          *ngFor="let i of [0, 0, 0, 0, 0, 0, 0]"
        >
          <div
            class="w-[20%] h-2 bg-secondary-50 rounded m-[5px]"
            *ngFor="let i of [0, 0, 0, 0]"
          ></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Preview widget type stationTableBanner -->
<ng-template #previewStationTableBanner>
  <div class="h-full w-full rounded bg-white overflow-hidden leading-[5px]">
    <div
      class="w-full h-[70px] bg-secondary-100 flex items-center justify-center rounded-t"
    >
      <i class="fas text-3xl text-secondary-300 fa-image animate-pulse"></i>
    </div>
    <br />
    <ng-container *ngTemplateOutlet="previewStation"></ng-container>
  </div>
</ng-template>
