<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4" *ngIf="!isLoading">
  <ng-container *ngIf="questions.length > 0 && isStation">
    <div id="previous-field" class="cursor-pointer" (click)="moveFieldToTemplate(previousField)" *ngFor="let previousField of questions">
        <mat-card class="padding-card">
          <div class="flex h-full items-center justify-between previous-question-container">
            <p class="truncate">{{previousField.prompt}}</p>
            <i class="fas fa-cog text-2xl text-accent-500"></i>
          </div>
        </mat-card>
    </div>
  </ng-container>
  <ng-container *ngIf="questions.length > 0 && !isStation">
    <div id="previous-field" class="cursor-pointer" *ngFor="let previousField of questions">
        <mat-card class="padding-card" (click)="openModalPreviousQuestions(previousField)">
          <div class="flex h-full items-center justify-between previous-question-container">
            <div class="h-full w-4/5">
              <p class="truncate font-semibold">{{previousField.prompt}}</p>
              <p class="truncate">{{previousField.answer?.value}}</p>
            </div>
            <i class="fas fa-info-circle text-2xl text-primary-500"></i>
          </div>
        </mat-card>
    </div>
  </ng-container>
  <ng-container *ngIf="questions.length === 0 && !questionsError">
    <div class="text-center col-span-full">
      There are no previous fields available
    </div>
  </ng-container>
  <ng-container *ngIf="questionsError">
    <div class="text-center col-span-full text-error-500">
        Error: unable to retrieve previous fields
    </div>
  </ng-container>
</div>
<div class="flex w-full h-full items-center" *ngIf="isLoading" id="loading-previous-field-component">
  <app-loading-indicator class="flex-grow" [diameter]=50></app-loading-indicator>
</div>
