<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4" *ngIf="!isLoading">
  <ng-container *ngIf="questions.length > 0">
    <mat-card class="padding-card" *ngFor="let previousField of questions">
      {{previousField.prompt}}
    </mat-card>
  </ng-container>
  <ng-container *ngIf="questions.length === 0">
    <mat-card class="padding-card text-center col-span-full">
      There are no previous fields available
    </mat-card>
  </ng-container>
</div>
<div class="flex w-full h-full items-center" *ngIf="isLoading">
  <app-loading-indicator class="flex-grow" [diameter]=50></app-loading-indicator>
</div>
