<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4" *ngIf="!isLoading">
  <ng-container *ngIf="questions.length > 0">
    <mat-card class="padding-card" *ngFor="let previousField of questions" (click)="openPreviousFieldModal(previousField.rithmId)">
      <div class="flex h-full items-center justify-between">
        <p class="truncate">{{previousField.prompt}}</p>
        <i class="fas fa-cog text-2xl text-accent-500"></i>
      </div>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="questions.length === 0 && !questionsError">
    <div class="text-center col-span-full">
      There are no previous fields available
    </div>
  </ng-container>
  <ng-container *ngIf="questionsError">
    <div class="text-center col-span-full text-error-500">
        Error: unable to retrieve previous fields
    </div>
  </ng-container>
</div>
<div class="flex w-full h-full items-center" *ngIf="isLoading">
  <app-loading-indicator class="flex-grow" [diameter]=50></app-loading-indicator>
</div>
