<ng-container [formGroup]="userForm">
  <div *ngIf="!accountCreate && showProfilePhoto">
    <div
      class="w-full flex space-x-3 py-5 items-center"
      [ngClass]="{ 'animate-pulse': isLoadingUploadImageUser }"
    >
      <input
        type="hidden"
        name="isLoadingImage"
        formControlName="isLoadingImage"
      />
      <input type="hidden" name="vaultRithmId" formControlName="vaultRithmId" />
      <app-user-avatar
        [firstName]="accountCreate ? firstName.value : currentUser.firstName"
        [lastName]="accountCreate ? lastName.value : currentUser.lastName"
        [profileImageRithmId]="profileImageRithmId || ''"
        [isLarge]="true"
      ></app-user-avatar>

      <div>
        <ng-container *ngIf="!profileImageRithmId && !isLoadingUploadImageUser">
          <button
            mat-stroked-button
            color="accent"
            mat-button
            id="upload-image-button"
            data-testid="upload-image-button"
            type="button"
            (click)="fileInput.click()"
          >
            <i class="fa-solid fa-cloud-arrow-up"></i>
            Upload image
          </button>
        </ng-container>
        <ng-container *ngIf="profileImageRithmId && !isLoadingUploadImageUser">
          <div class="grid gap-4 grid-cols-2 padding-button">
            <div>
              <button
                mat-stroked-button
                color="accent"
                mat-button
                id="change-image-button"
                data-testid="change-image-button"
                type="button"
                (click)="fileInput.click()"
              >
                <p class="text-semibold">CHANGE</p>
              </button>
            </div>
            <div>
              <button
                mat-button
                color="warn"
                mat-button
                id="delete-image-button"
                data-testid="delete-image-button"
                type="button"
                (click)="confirmRemoveUserImage()"
              >
                <p class="text-semibold">DELETE</p>
              </button>
            </div>
          </div>
        </ng-container>
        <!--Show error-->
        <div
          class="text-error-500 text-center my-4"
          id="error-loading-upload-photo"
          *ngIf="errorUploadImageUser"
        >
          Error to upload image.
        </div>
      </div>

      <input
        #fileInput
        type="file"
        accept="image/png,image/jpeg,image/jpg"
        id="upload-image-input"
        [hidden]="true"
        (change)="uploadImage($event)"
      />
      <!--Loading upload image-->
      <div *ngIf="isLoadingUploadImageUser" id="loading-upload-photo">
        <app-loading-indicator
          [inlineText]="'Uploading...'"
        ></app-loading-indicator>
      </div>
    </div>
  </div>

  <div
    class="grid gap-x-4"
    [ngClass]="{ 'grid-cols-1 md:grid-cols-2': accountCreate }"
  >
    <!-- First name -->
    <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
      <mat-label>First name</mat-label>
      <input
        #firstName
        data-testid="first-name-field"
        id="firstName"
        type="text"
        matInput
        placeholder="First name"
        formControlName="firstName"
        autocomplete="given-name"
      />
    </mat-form-field>

    <!-- Last name -->
    <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
      <mat-label>Last name</mat-label>
      <input
        #lastName
        data-testid="last-name-field"
        id="lastName"
        type="text"
        matInput
        placeholder="Last name"
        formControlName="lastName"
        autocomplete="family-name"
      />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="col-span-2" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        id="email"
        type="email"
        matInput
        placeholder="Email"
        formControlName="email"
        autocomplete="email"
      />
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
      <mat-label>{{ passwordLabel }}</mat-label>
      <input
        id="password"
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
        (focus)="togglePasswordRequirements('password')"
        (focusout)="togglePasswordRequirements('')"
        autocomplete="new-password"
      />
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
      <mat-label>{{ confirmPasswordLabel }}</mat-label>
      <input
        id="confirmPassword"
        type="password"
        matInput
        placeholder="Confirm password"
        formControlName="confirmPassword"
        (focus)="togglePasswordRequirements('confirmPassword')"
        (focusout)="togglePasswordRequirements('')"
        autocomplete="new-password"
      />
    </mat-form-field>
  </div>
  <app-password-requirements
    class="mat-elevation-z8 w-full"
    *ngIf="
      passwordRequirementsVisible &&
      (userForm.controls['password'].value.length > 0 ||
        userForm.controls['confirmPassword'].value.length > 0)
    "
    [passReq]="userForm.get(errorsToGet)?.errors"
    [match]="showMatch"
  ></app-password-requirements>
</ng-container>
