<!-- Title -->
<h4 id="title" class="text-center">
  {{ title }}
</h4>

<!-- Message if not a prompt dialog. -->
<mat-dialog-content
  id="message"
  class="py-4 whitespace-pre-wrap overflow-y-hidden"
>
  <div *ngIf="!messageType">
    <p *ngIf="stringMessage.length">{{ stringMessage }}</p>
  </div>
  <div *ngIf="messageType">
    <figure *ngFor="let item of listMessage" class="py-2">
      <mat-checkbox disabled [checked]="item.isChecked">{{
        item.value
      }}</mat-checkbox>
    </figure>
  </div>
</mat-dialog-content>

<!-- Buttons -->
<div mat-dialog-actions class="flex justify-end">
  <!-- OK -->
  <button
    mat-button
    color="accent"
    data-testid="dialog-ok"
    [mat-dialog-close]="true"
  >
    OK
  </button>
</div>
