<div class="page">
  <div class="container">
    <div class="row justify-content-center">
      <mat-card class="col-md-10 col-sm-12 p-0">
        <div class="row m-0">
          <div class="col-md-6 col-sm-12 left-entry">
            <div>
              <img src="../../assets/logo/white-icon-white-text.svg" alt="Rithm">
            </div>
            <div class="mb-2 d-none d-md-block">
              <p>Secure your account with a strong password.</p>
            </div>
            <div class="mb-2 d-none d-md-block">
              <p>Rithm uses enterprise-level-security protocols to enable secure, cross-organizational collaboration.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 right-entry">
            <span [ngClass]="{'transparent': isLoading}">
              <div class="row mt-4">
                <div class="col-12">
                  <h4>Reset Password</h4>
                </div>
                <div class="col-12 mt-1">
                  <p>Enter a new password for your Rithm account.</p>
                </div>
              </div>
              <form (ngSubmit)="resetPassword()" [formGroup]="passResetForm" class="row mt-3">
                <app-password-requirements class="mat-elevation-z8" *ngIf="passReqVisible" [passReq]="passResetForm.get(errorsToGet)?.errors" [match]="showMatch"></app-password-requirements>
                <mat-form-field class="col-12 mt-5" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput placeholder="Password" autocomplete="new-password" formControlName="password" (focus)="togglePassReq('password')" (focusout)="togglePassReq('')">
                </mat-form-field>
                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input type="password" matInput placeholder="Confirm Password" autocomplete="new-password" formControlName="confirmPassword" (focus)="togglePassReq('confirmPassword')" (focusout)="togglePassReq('')">
                </mat-form-field>
                <div class="col-12 mt-3">
                  <button type="submit" mat-raised-button color="accent" [disabled]="!passResetForm.valid">Reset Password</button>
                </div>
              </form>
            </span>
            <!-- Loading Indicator -->
            <span *ngIf="isLoading" class="spinner">
              <div class="row">
                <div class="col text-center">
                  <mat-spinner class="m-auto"></mat-spinner>
                </div>
              </div>
            </span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
