<div class="page">
  <mat-card>
    <div class="grid grid-cols-1 md:grid-cols-2 md:h-full">
      <!-- left column -->
      <div class="bg-darkBlue md:flex md:flex-col p-3 flex-none md:rounded-l">
        <div class="flex-grow">
          <img class="w-40" src="../../assets/logo/white-icon-white-text.svg" alt="Rithm">
          <p class="mb-2 text-white hidden md:block">Secure your account with a strong password.</p>
        </div>
        <p class="mb-2 text-white hidden md:block">
          Rithm uses enterprise-level-security protocols to enable secure, cross-organizational collaboration.
        </p>
      </div>
      <!-- right column -->
      <div class="flex flex-col bg-white relative md:rounded-r">
        <span *ngIf="!isLoading" class="flex-grow">
          <h4 class="mt-10 ml-5">Reset Password</h4>
          <p class="mt-1 ml-5">Secure your account with a strong password.</p>
          <app-password-requirements class="mat-elevation-z8 absolute w-full md:top-10 top-5 bg-white"
            *ngIf="passReqVisible" [passReq]="passResetForm.get(errorsToGet)?.errors" [match]="showMatch">
          </app-password-requirements>
          <form (ngSubmit)="resetPassword()" [formGroup]="passResetForm" class="flex flex-col px-5 py-20 entry-form">
            <input data-testid="email-field" type="text" class="hidden" placeholder="Email" autocomplete="email"
              id="email">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input data-testid="password-field" id="password" type="password" matInput placeholder="Password"
                autocomplete="new-password" formControlName="password" (focus)="togglePassReq('password')"
                (focusout)="togglePassReq('')">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input data-testid="new-password-field" id="new-password" type="password" matInput
                placeholder="Confirm Password" autocomplete="new-password" formControlName="confirmPassword"
                (focus)="togglePassReq('confirmPassword')" (focusout)="togglePassReq('')">
            </mat-form-field>
            <button data-testid="reset-password" id="reset-password" type="submit" mat-raised-button color="accent"
              [disabled]="!passResetForm.valid">Reset Password</button>
          </form>
        </span>
        <app-loading-indicator class="m-auto" *ngIf="isLoading"></app-loading-indicator>
      </div>
    </div>
  </mat-card>
</div>
