<mat-card class="notification-card mat-elevation-z16">

  <!-- Header -->
  <div class="row no-gutters">
    <div class="col-2">
      <div mat-card-avatar class="profile-photo">
        <img *ngIf="hasPhoto" src="../../../assets/images/example-profile.jpg" alt="Steve Rogers">
        <p *ngIf="!hasPhoto">{{initials}}</p>
      </div>
      <div class="badge mat-elevation-z4">
        <i class="far fa-comment-alt"></i>
      </div>
    </div>
    <div class="col-8">
      <div class="subtitle-medium">{{title}}</div>
    </div>
    <button class="col-2" mat-icon-button>
      <i class="fas fa-times"></i>
    </button>
  </div>

  <!-- Text -->
  <mat-card-content>
    <p>{{message}}</p>
  </mat-card-content>

</mat-card>
