<!--Loading the widget-->
<app-loading-widget
  *ngIf="isLoading"
  id="app-loading-indicator-group-traffic"
></app-loading-widget>
<!--Show error in the widget-->
<app-error-widget
  *ngIf="errorGroupTraffic"
  id="error-load-widget-group-traffic"
  [errorMessage]="'Unable to retrieve group traffic data'"
  (tryAgain)="getGroupTrafficData()"
>
</app-error-widget>
<div
  class="w-full h-full p-2 flex flex-col"
  *ngIf="groupTrafficData && !isLoading && !errorGroupTraffic"
>
  <!-- Header widget -->
  <div class="flex justify-between items-center">
    <h3 class="font-semibold truncate">
      {{ groupTrafficData.title + ' Traffic' || 'Untitled Group Traffic' }}
    </h3>
    <div class="select-show-data">
      <mat-form-field appearance="outline" *ngIf="editMode">
        <mat-label>Value</mat-label>
        <mat-select
          [disabled]="isMobileDevice"
          (selectionChange)="updateDataWidget()"
          data-testid="select-cant-data-traffic"
          id="select-cant-data-traffic"
          [(ngModel)]="valueShowGraphic"
        >
          <mat-option
            *ngFor="let valueChart of optionsShowTraffic"
            [attr.data-testid]="'value-show-' + valueChart"
            [id]="'value-show-' + valueChart"
            [value]="valueChart"
            >{{ valueChart }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="h-full w-full pt-4 scrollbar overflow-auto">
    <canvas
      baseChart
      [datasets]="configChart.data.datasets"
      [labels]="configChart.data.labels"
      [options]="configChart.options"
    >
    </canvas>

    <div class="flex justify-between">
      <button
        mat-button
        id="previous-paginate-button"
        data-testid="previous-paginate-button"
        class="text-secondary-500"
        (click)="paginate('previous')"
        [disabled]="!paginationChart || editMode"
      >
        <i class="fa-solid text-xl fa-circle-arrow-left"></i> Previous
      </button>
      <button
        mat-button
        id="next-paginate-button"
        data-testid="next-paginate-button"
        class="text-secondary-500"
        [disabled]="
          paginationChart >=
            groupTrafficData.labels.length - valueShowGraphic || editMode
        "
        (click)="paginate('next')"
      >
        Next <i class="fa-solid text-xl fa-circle-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
