<div>
  <h3 class="text-lg font-semibold pb-3">
    Table values
  </h3>

  <form [formGroup]="formColumns">

    <div formArrayName="columns">
      <div
        *ngFor="let column of getFormColumns.controls; index as formChild"
        [formGroupName]="formChild"
      >
        <mat-form-field appearance="outline" class="w-full">
          <mat-select formControlName="name">
            <mat-option [disabled]="true">Table values</mat-option>
            <mat-optgroup [label]="'Document info'">
              <mat-option *ngFor="let column of staticColumnsInfo" [value]="column.name">
                {{column.name}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

      </div>

    </div>

  </form>

  <div class="flex">
    <button
      mat-stroked-button
      color="accent"
      data-testid="create-new-column"
      id="create-new-column"
      (click)="addNewColumn()"
    >
      New Column <i class="fas fa-plus"></i>
    </button>
  </div>


</div>

