<ng-container [formGroup]="documentTemplateForm">
  <span *ngIf="!isStationEditMode">
    <h6 class="py-3">General Instructions</h6>
    <p>
      {{generalInstructions}}
    </p>
  </span>
  <app-document-field *ngIf="isStationEditMode" [field]="generalInstructionsField" formControlName="documentFieldForm"></app-document-field>
  <hr class="my-3">

  <app-document-field *ngFor="let field of documentFields" [field]="field" formControlName="documentFieldForm"></app-document-field>


  <!-- TODO: All items expansion panel here -->

  <!-- TODO: Hidden items expansion panel here (if admin) -->
</ng-container>
