<ng-container [formGroup]="documentTemplateForm">
  <h6 class="py-3" [ngClass]="{ 'text-sm': isWidget }">General Instructions</h6>
  <p [ngClass]="{ 'text-sm': isWidget }">
    {{ stationInstructions }}
  </p>
  <hr class="my-3" />

  <section class="data-link-section">
    <div class="col-span-12 py-3">
      <!-- Title -->
    </div>
    <div class="grid grid-cols-2 gap-y-2 content-start">
      <!-- Content -->
    </div>
  </section>

  <app-document-field
    *ngFor="let field of documentFields"
    [field]="field"
    formControlName="documentFieldForm"
  ></app-document-field>

  <!-- TODO: All items expansion panel here -->

  <!-- TODO: Hidden items expansion panel here (if admin) -->
</ng-container>
