.input-search {
  ::ng-deep .mat-form-field {
    height: 40px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 40px !important;
  }

  ::ng-deep .mat-form-field-infix {
    padding-top: 1px !important;
  }
}
