<div [formGroup]="fileFieldForm">
  <mat-form-field
    class="w-full"
    appearance="outline"
    *ngIf="isStation; else titleFileField"
  >
    <mat-label> {{ field.prompt }} </mat-label>
    <div matPrefix class="icon">
      <!-- Text Icons -->
      <i class="fas fa-tag"></i>
    </div>
    <input
      *ngIf="field.questionType === fieldTypeEnum.File"
      matInput
      [required]="field.isRequired"
      [formControlName]="field.questionType"
      (dateChange)="updateFieldAnswer()"
    />
  </mat-form-field>
  <ng-template #titleFileField>
    <p class="text-sm pb-4">{{ field.prompt }}</p>
  </ng-template>
  <button
    *ngIf="!isFileUploaded"
    mat-stroked-button
    type="button"
    class="ml-2"
    color="accent"
    id="upload-button"
    data-testid="upload-button"
    (click)="openUploadFileModal()"
  >
    <i class="fas fa-arrow-up-from-bracket"></i>
    <span class="text-base"> Upload </span>
  </button>
</div>
<section *ngIf="isFileUploaded" class="flex w-3/4 h-full justify-start">
  <div class="w-14 text-center">
    <i class="fa-solid fa-file text-4xl text-secondary-300 px-2 py-3"></i>
  </div>
  <div class="w-auto py-3">
    <span class="block text-sm text-accent-300">{{ fileName }}</span>
    <span class="block text-xs">{{ fileSize }}kb</span>
  </div>
  <div class="w-13 text-center">
    <i class="fas fa-times text-xl text-secondary-500 px-4 py-3"></i>
  </div>
</section>
