// Styles here
div.station {
  width: 160px;
  height: 110px;
  border-radius: 4px;
  background: #fff;
  padding: 5px 10px;
  margin: 10px 10px;
  display: block;
  position: relative;

  svg {
    position: absolute;

    &.left {
      margin-left: 29px;
      top: 50px;
    }

    &.right {
      margin-left: -156px;
      top: 50px;
    }
  }
}
