<div class="doc-container">
  <span>
    <div class="row no-gutters">
      <div class="col-9 col-md-5 col-lg-4 col-xl-5">
        <strong>Document</strong>
      </div>
      <div class="col-3 col-md-3 col-md-4 col-lg-3">
        <strong>Assigned</strong>
      </div>
      <div class="col-2 d-none d-md-block col-md-3 col-xl-2">
        <strong>Time in Station</strong>
      </div>
      <div class="col-2 d-none d-lg-block">
        <strong>Last Updated</strong>
      </div>
    </div>
    <div *ngFor="let data of totalDocs" class="row no-gutters">
      <div class="col-9 col-md-5 col-lg-4 col-xl-5">
        <!-- Priority -->
        <div class="priority">
          {{ data.priority }}
        </div>
        <!-- Document name -->
        {{ data.docName }}
      </div>
      <!-- Assigned -->
      <div class="col-3 col-md-3 col-md-4 col-lg-3">
        <div class="initials">
          {{data?.firstName | slice:0:1}}{{data?.lastName | slice:0:1}}
        </div>
        <span class="d-none d-md-block">
          {{ data?.firstName }} {{ data?.lastName }}
        </span>
      </div>
      <!-- Time in station -->
      <div class="col-2 d-none d-md-block col-md-3 col-xl-2">
        {{ data.timeInStation }}
      </div>
      <!-- Last updated -->
      <div class="col-2 d-none d-lg-block">
        {{ data.lastUpdated }}
      </div>
    </div>
  </span>
</div>
<br>
<div *ngFor="let num of pageNumbers" style="display: inline-block;" (click)="getDocuments(num)">
  <span class="page-num">
    <span [ngClass]="{'active': activeNum === num}">{{ num }}
    </span>
  </span>
</div>
