<div class="modal-container">
  <h4 class="text-center">{{ modalData.stationName }}</h4>
  <div class="doc-container">
    <span *ngIf="!isLoading && totalNumDocs === 0">
      <div class="no-documents">
        There are no documents in this station
      </div>
    </span>
    <span *ngIf="!isLoading && totalNumDocs > 0">
      <p class="warn text-center" *ngIf="userType === userTypeEnum.None">You are not a part of this station.</p>
      <div class="row no-gutters">
        <div class="col-9 col-md-5 col-lg-4 col-xl-5 pl-5">
          <strong>Document</strong>
        </div>
        <div class="col-3 col-md-3 col-md-4 col-lg-3">
          <strong>Assigned</strong>
        </div>
        <div class="col-2 d-none d-md-block col-md-3 col-xl-2">
          <strong>Time in Station</strong>
        </div>
        <div class="col-2 d-none d-lg-block">
          <strong>Last Updated</strong>
        </div>
      </div>
      <div *ngFor="let document of documents" (click)="checkDocPermission(document.documentRithmId)" [ngClass]="{'link-permission' : userType !== userTypeEnum.None}" class="doc-link row no-gutters">
        <div matTooltip="This document has been escalated." matTooltipPosition="above"
          [matTooltipDisabled]="!document.isEscalated" class="col-9 col-md-5 col-lg-4 col-xl-5">
          <!-- Priority -->
          <div class="priority circle-30-accent">
            {{ document.priority }}
          </div>
          <p [ngClass]="{'warn' : document.isEscalated }">
            <!-- Escalated icon -->
            <i *ngIf="document.isEscalated" class="fas fa-exclamation-circle"></i>
            <!-- Document name -->
            {{ document?.documentName }}
          </p>
        </div>
        <!-- Assigned -->
        <div class="col-3 col-md-3 col-md-4 col-lg-3">
          <span *ngIf="document?.userAssigned">
            <div class="initials">
              <app-user-avatar [workerInitials]="getDocInitials(document)"></app-user-avatar>
            </div>
            <div class="d-none d-md-block">
              {{ document?.userAssigned }}
            </div>
          </span>
        </div>
        <!-- Time in station -->
        <div class="col-2 d-none d-md-block col-md-3 col-xl-2">
          {{ getElapsedTime(document.flowedTimeUTC) }}
        </div>
        <!-- Last updated -->
        <div class="col-2 d-none d-lg-block">
          {{ ((getElapsedTime(document.updatedTimeUTC) === '1 day') || (getElapsedTime(document.updatedTimeUTC) === 'Unknown')) ? (getElapsedTime(document.updatedTimeUTC) === '1 day' ? 'Yesterday' : getElapsedTime(document.updatedTimeUTC)) : getElapsedTime(document.updatedTimeUTC)  + ' ago'}}
        </div>
      </div>
    </span>
    <app-loading-indicator class="loader" *ngIf="isLoading"></app-loading-indicator>
  </div>
  <div *ngIf="!isLoading && totalNumDocs > 0" class="row no-gutters justify-content-center">
    <app-pagination (currentPageNum)="getDocuments($event)" [numDocs]="totalNumDocs" [activeNum]="activeNum">
    </app-pagination>
  </div>
</div>

<!-- Buttons -->
<div mat-dialog-actions class="row justify-content-end">
  <!-- <button id="cancel" mat-button [mat-dialog-close]="false" cdkFocusInitial>{{cancelButtonText}}</button> -->
  <button id="confirm" mat-button color="accent" [mat-dialog-close]="true">Close</button>
</div>
