.modal-container {
  height: 560px;
  width: 1000px;

  @media screen and (max-width: 1280px) {
    width: 800px;
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    width: 389px;
  }

  @media screen and (max-width: 575px) {
    width: 100%;
    height: 480px;
  }
}
