<div class="modal-container">
  <h4 class="text-center">{{ modalData.stationName }}</h4>
  <div class="h-5/6 overflow-auto cursor-default pt-5">
    <span *ngIf="!isLoading && totalNumDocs === 0">
      <div class="flex justify-around items-center h-full">
        There are no documents in this station
      </div>
    </span>
    <span *ngIf="!isLoading && totalNumDocs > 0">
      <p class="text-error-700 text-center" *ngIf="userType === userTypeEnum.None">You are not a part of this station.</p>
      <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
        <div class="pl-7 lg:col-span-2">
          <strong>Document</strong>
        </div>
        <div class="">
          <strong>Assigned</strong>
        </div>
        <div class="hidden md:block">
          <strong>Time in Station</strong>
        </div>
        <div class="hidden md:block">
          <strong>Last Updated</strong>
        </div>
      </div>
      <div *ngFor="let document of documents" (click)="checkDocPermission(document.documentRithmId)" [ngClass]="{'link-permission' : userType !== userTypeEnum.None}" class="doc-link grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
        <div matTooltip="This document has been escalated." matTooltipPosition="above"
          [matTooltipDisabled]="!document.isEscalated" class="flex lg:col-span-2">
          <!-- Priority -->
          <div class="priority circle-30-accent">
            {{ document.priority }}
          </div>
          <p [ngClass]="{'warn-text' : document.isEscalated }">
            <!-- Escalated icon -->
            <i *ngIf="document.isEscalated" class="fas fa-exclamation-circle"></i>
            <!-- Document name -->
            {{ document.documentName }}
          </p>
        </div>
        <!-- Assigned -->
        <div>
          <span *ngIf="document?.userAssigned" class="flex">
            <div class="initials">
              <app-user-avatar [firstName]="getNamePortion(document.userAssigned, 0)" [lastName]="getNamePortion(document.userAssigned, 1)" [hideToolTip]="true"></app-user-avatar>
            </div>
            <div class="hidden md:block">
              {{ document.userAssigned }}
            </div>
          </span>
        </div>
        <!-- Time in station -->
        <div class="hidden md:block">
          {{ getElapsedTime(document.flowedTimeUTC) }}
        </div>
        <!-- Last updated -->
        <div class="hidden md:block">
          {{ ((getElapsedTime(document.updatedTimeUTC) === '1 day') || (getElapsedTime(document.updatedTimeUTC) === 'Unknown')) ? (getElapsedTime(document.updatedTimeUTC) === '1 day' ? 'Yesterday' : getElapsedTime(document.updatedTimeUTC)) : getElapsedTime(document.updatedTimeUTC)  + ' ago'}}
        </div>
      </div>
    </span>
    <app-loading-indicator class="loader" *ngIf="isLoading"></app-loading-indicator>
  </div>
  <div *ngIf="!isLoading && totalNumDocs > 0" class="row no-gutters justify-content-center">
    <app-pagination (currentPageNum)="getDocuments($event)" [numItems]="totalNumDocs" [numPerPage]="10" [activeNum]="activeNum">
    </app-pagination>
  </div>
</div>

<!-- Buttons -->
<div mat-dialog-actions class="flex justify-end">
  <!-- <button id="cancel" mat-button [mat-dialog-close]="false" cdkFocusInitial>{{cancelButtonText}}</button> -->
  <button id="confirm" mat-button color="accent" [mat-dialog-close]="true">Close</button>
</div>
