.modal-container {
  height: 560px;
  width: 1000px;

  @media screen and (max-width: 1280px) {
    width: 800px;
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    width: 389px;
  }

  @media screen and (max-width: 575px) {
    width: 100%;
    height: 480px;
  }
}

.input-search {
  ::ng-deep .mat-form-field {
    height: 50px;
    width: 100%;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    @apply h-[50px] w-full sm:w-2/3 md:w-4/12;
  }

  ::ng-deep .mat-form-field-infix {
    padding-top: 1px !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 2px;
  }

  input.mat-input-element {
    margin-top: 3px;
    margin-left: 8px;
  }
}
