.page {
  .container {
    .row {
      margin-top: 30px;

      /* stylelint-disable-next-line */
      app-previously-started-documents, app-priority-queue {
        /* stylelint-disable-next-line */
        @media screen and (max-width: 991px) {
          padding-left: 0;
          padding-right: 0;

          &:last-child {
            margin-top: 30px;
          }
        }
      }
    }
  }
}
