<mat-drawer-container [hasBackdrop]="drawerHasBackdrop" class="mt-0">
  <mat-drawer #drawer mode="over" class="w-56">
    <app-menu *ngIf="drawerContext === 'menuDashboard'"></app-menu>
  </mat-drawer>
  <mat-drawer-content class="textured-bg h-calc">
    <ng-container *ngIf="!viewNewDashboard; else newDashboard">
      <div class="container mx-auto px-3 py-5 lg:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-6 gap-4">
          <app-header class="lg:col-span-6"></app-header>
          <app-priority-queue class="lg:col-span-3"></app-priority-queue>
          <app-previously-started-documents class="lg:col-span-3"></app-previously-started-documents>
          <app-my-stations class="lg:col-span-6"></app-my-stations>
          <div *ngIf="isAdmin" class="lg:col-span-6">
            <h6 class="text-orange-500">
              TEMPORARY TESTING USE - Stations for Admin
            </h6>
            <ul>
              <li *ngFor="let station of stations">
                <a [routerLink]="['/station', station.rithmId]">
                  {{ station.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #newDashboard>
      <button mat-button id="menu-button"
              class="transition ease-in-out bg-darkBlue w-[40px] h-[40px] rounded hover:scale-x-110 hover:translate-x-1 -left-1 top-36 z-10 shadow-lg"
              (click)="toggleMenu('menuDashboard')">
        <i class="fas fa-chevron-circle-right fa-lg" style="color: white"></i>
      </button>
      <div class="loading flex" *ngIf="dashboardLoading">
        <app-loading-indicator class="flex-grow m-auto" id="loading-dashboard-widgets"></app-loading-indicator>
      </div>
      <div class="mx-5" *ngIf="!dashboardLoading">
        <h2 class="my-2 font-semibold">General</h2>
        <gridster class="h-screen bg-transparent" [options]="options">
          <gridster-item [item]="item" class="drop-shadow-md rounded" *ngFor="let item of widgetsOfDashboard">
            <app-station-widget *ngIf="item.widgetType === 'station'" [stationRithmId]="item.data">
            </app-station-widget>
          </gridster-item>
        </gridster>
      </div>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>
