<div class="page textured-bg">
  <div class="container">
    <app-header></app-header>
    <section class="row">
      <h4 class="col-12 p-0">My Stations</h4>
      <app-my-stations class="col-12 p-0"></app-my-stations>
    </section>
    <div class="row">
      <section class="col-md-6 col-sm-12">
        <app-previously-started-documents></app-previously-started-documents>
      </section>
      <section class="col-md-6 col-sm-12">
        <app-priority-queue></app-priority-queue>
      </section>
    </div>
  </div>

</div>
