<div
  class="page textured-bg pb-0"
  *ngIf="!showAdminPortal; else newAdminInterface"
>
  <app-organization-management></app-organization-management>
</div>
<ng-template #newAdminInterface id="new-admin-interface">
  <div class="sm:flex sm:flex-row w-full h-full bg-white">
    <div
      class="w-full sm:w-[25%] md:w-[20%] lg:w-[15%] w-min[200px] border-r-2 color-border sm:px-2"
    >
      <app-admin-menu
        (itemMenuSelected)="getItemSelected($event)"
      ></app-admin-menu>
    </div>
    <div class="w-full sm:w-[75%] md:w-[80%] lg:w-[85%] mt-10 sm:mt-0">
      <app-group-hierarchy
        id="group-hierarchy"
        *ngIf="itemMenuSelected === listAdminOptionMenuType.GroupHierarchy"
      ></app-group-hierarchy>
    </div>
  </div>
</ng-template>
