<div
  class="page textured-bg pb-0"
  *ngIf="!showAdminPortal; else newAdminInterface"
>
  <app-organization-management></app-organization-management>
</div>
<ng-template #newAdminInterface id="new-admin-interface">
  <div class="h-full bg-white md:flex md:flex-row">
    <div
      class="w-full md:w-[300px] text-center md:border-r-2 color-border px-2"
    >
      <app-admin-menu
        (itemMenuSelected)="getItemSelected($event)"
      ></app-admin-menu>
    </div>
    <div class="w-full bg-white width-container">
      <app-group-hierarchy
        [showGroupHierarchy]="showGroupHierarchy"
        id="group-hierarchy"
        *ngIf="itemMenuSelected === listAdminOptionMenuType.GroupHierarchy"
      ></app-group-hierarchy>
      <app-coming-soon-message
        *ngIf="itemMenuSelected !== listAdminOptionMenuType.GroupHierarchy"
      ></app-coming-soon-message>
    </div>
  </div>
</ng-template>
