<section class="grid grid-cols-12 py-5 border-b border-secondary-400">
  <div class="col-span-12">
    <h6 class="text-center">Document Information</h6>
  </div>
  <div class="col-span-12 flex justify-between" *ngIf="isStation">
    <div class="items-center flex">
      <p>Document Name: </p>
      <mat-chip-list aria-label="Document Fields Selection">
        <div *ngFor="let field of documentAppendedFields; let i = index" class="mx-1">
          <mat-chip *ngIf="field.rithmId">
            {{field.prompt}}
            <button mat-icon-button class="mat-icon-6" (click)="removeAppendedFieldFromDocumentName(i)">
              <i class="fas fa-times-circle text-lg text-primary-300"></i>
            </button>
          </mat-chip>
          <span *ngIf="!field.rithmId">
            {{field.prompt}}
          </span>
        </div>
      </mat-chip-list>
    </div>
    <button *ngIf="isStation" data-testid="document-info-drawer" mat-icon-button matSuffix class="icon icon-top"
      (click)="toggleDrawer('documentInfo')">
      <i class="fas fa-info-circle text-2xl text-primary-500"></i>
    </button>
  </div>

  <form [formGroup]="documentNameForm" class="col-span-12" *ngIf="!isStation">
    <div class="w-full" *ngIf="isDocumentNameEditable else nonEditableDocName">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Document Name: </mat-label>
        <input id="name" type="text" matInput matNativeControl placeholder="Untitled document" formControlName="name" (keyup)="updateDocumentNameBs()">
        <button data-testid="document-info-drawer" mat-icon-button matSuffix class="icon icon-top"
      (click)="toggleDrawer('documentInfo')">
        <i class="fas fa-info-circle text-2xl text-primary-500"></i>
      </button>
      </mat-form-field>
    </div>
    <ng-template #nonEditableDocName>
      <p>Document Name: {{documentName}}</p>
    </ng-template>
  </form>

  <div *ngIf="!isStation" class="col-span-2 md:col-start-3 flex">
    <button mat-mini-fab [disabled]="userType === userTypeEnum.Worker" color="warn" class="priority">
      1
    </button>
    <div *ngIf="userType === userTypeEnum.Admin || userType === userTypeEnum.StationOwner">
      <button mat-icon-button color="accent">
        <!-- TODO: Display if not locked -->
        <i class="fas fa-pen"></i>
        <!-- TODO: Display if someone is editing/working -->
        <!-- <i class="fas fa-lock"></i> -->
      </button>
    </div>
  </div>
  <div *ngIf="!isStation" class="col-span-8 md:col-span-4 text-center text-xs">
    <span>Time in station</span><br>
    <span class="text-accent-300">{{ getElapsedTime(flowedTimeUTC) }}</span>
  </div>
  <div *ngIf="!isStation" class="hidden md:block md:col-span-4 text-center text-xs">
    <span>Last updated</span><br>
    <span class="text-accent-300">{{ ((getElapsedTime(lastUpdatedUTC) === 'Yesterday') || (getElapsedTime(lastUpdatedUTC) === 'Unknown')) ? (getElapsedTime(lastUpdatedUTC)) : getElapsedTime(lastUpdatedUTC)  + ' ago'}}</span>
  </div>
</section>
