<section class="row">
  <div class="col-12 col-md-2">
    <h6>Document Information</h6>
  </div>
  <div class="col-12 col-md-10">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Document name</mat-label>
        <input id="name" type="text" matInput placeholder="Untitled document">
      </mat-form-field>
    </form>
  </div>
  <div class="col-2 offset-md-2">
    Priority
  </div>
  <div class="col-5 col-md-4 text-center">
    Time in station
  </div>
  <div class="col-5 col-md-4 text-center">
    last updated
  </div>
</section>
