.mat-mini-fab {
  &.priority {
    &::ng-deep .mat-button-wrapper {
      padding: 0;
    }

    @apply w-7 h-7 leading-6;
  }
}

.mat-icon-6 {
  ::ng-deep {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 24px;
    height: 24px;
  }
}
