@import 'variables', 'functions', 'rithm-light-palettes';

section.row {
  padding: 10px 0;

  div {
    h6 {
      padding: 0 5px;

      @media screen and (max-width: 767px) {
        text-align: center;
        padding-bottom: 10px;
      }
    }

    form {
      width: 100%;

      mat-form-field {
        width: 100%;
      }
    }

    .priority {
      background: $warning-red;
      border-color: transparent;
      float: left;
      margin-top: 5px;
    }

    button {
      float: left;
      color: map-get($secondary-gray-palette, 300);
    }
  }

  .meta-data {
    font-size: font-calc(12);

    span {
      color: $accent-blue;
    }
  }
}
