@import 'functions', 'variables';

.sub-header {
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 9;
}

mat-drawer-container {
  mat-drawer {
    width: 280px;
    height: calc(100vh - 110px);
    margin-top: 45px;

    .mat-tab-label {
      min-width: 140px !important;
      font-size: font-calc(14);
      color: $accent-blue;
      opacity: 1;
    }
  }
}

.page {
  margin-top: 45px;

  @media screen and (max-width: 991px) {
    min-height: calc(100vh - 110px);
  }

  .container-fluid {
    .row {
      .bg-white {
        overflow-y: scroll;
        height: calc(100vh - 110px);
      }
    }
  }
}
