<div class="sub-header">
  <app-sub-header [documentInformation]="documentInformation"></app-sub-header>
</div>

<mat-drawer-container [hasBackdrop]="drawerHasBackdrop">
  <mat-drawer #detailDrawer mode="over" position="end">
    <app-detail-drawer></app-detail-drawer>
  </mat-drawer>

  <mat-drawer-content>
    <div class="page textured-bg pb-0">
      <div class="container-fluid p-0">
        <div class="row m-0">
          <app-connected-station-pane [location]='"left"' [stations]="previousStations" class="d-none d-lg-block col-2"></app-connected-station-pane>
          <div class="col-12 col-lg-8 bg-white">
            <app-loading-indicator class="loader" *ngIf="documentLoading"></app-loading-indicator>
            <form *ngIf="!documentLoading" autocomplete="off" [formGroup]="documentForm">
              <app-station-info-header  [stationInformation]="documentInformation"></app-station-info-header>
              <app-document-info-header [documentInformation]="documentInformation"></app-document-info-header>
              <app-document-template [generalInstructions]="'instructions here'" [documentFields]="fakeFields" ></app-document-template>
              <div class="row footer">
                <div class="col-md-6 save-cancel-buttons">
                  <button mat-stroked-button color="accent" class="align-middle">Cancel</button>
                  <button mat-stroked-button color="accent" class="align-middle">Save</button>
                </div>
                <div class="col-md-2 flow-button">
                  <button mat-raised-button color="accent" class="align-right">Flow</button>
                </div>
                <div class="col-md-1 escalate">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <g id="escalation_line" data-name="escalation_line" transform="translate(1)">
                    <line id="Line_95" data-name="Line 95" x2="20" transform="translate(0 3.5)" fill="none" stroke="#031023"
                    stroke-linecap="round" stroke-width="2" />
                    </g>
                  </svg>
                  <i class="fas fa-exclamation-circle"></i>
                </div>
              </div>
              <app-document-template [generalInstructions]="'instructions here'" [documentFields]="fakeFields" formControlName="documentTemplateForm"></app-document-template>
            </form>
          </div>
          <app-connected-station-pane [location]='"right"' [stations]="forwardStations" class="d-none d-lg-block col-2"></app-connected-station-pane>
        </div>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>

