@import 'functions', 'variables';

.footer {
  box-shadow: 1px -2px 2px #e5e4e7;
}

.info-drawer-document {
  mat-drawer {
    @apply w-72 mt-28;

    position: fixed !important;
    height: calc(100vh - 107px);

    .mat-tab-label {
      @apply opacity-100 text-accent-500 text-sm;

      min-width: 140px !important;
    }
  }
}

.loading {
  @apply flex;

  height: calc(100vh - 162px);
}

::ng-deep mat-ink-bar.mat-ink-bar {
  background: $accent-blue !important;
}

/// Documents mat-label input alignment to icon baseline.
.document-base-form {
  &::ng-deep mat-label {
    line-height: 2rem !important;
  }
}
