@import 'functions', 'variables';

.sub-header {
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 9;
}

::ng-deep mat-drawer-container {
  mat-drawer {
    width: 280px;
    height: calc(100vh - 110px);
    margin-top: 45px;

    .mat-tab-label {
      min-width: 140px !important;
      font-size: font-calc(14);
      color: $accent-blue;
      opacity: 1;
    }
  }
}

::ng-deep mat-ink-bar.mat-ink-bar {
  background: $accent-blue !important;
}

.page {
  margin-top: 45px;

  @media screen and (max-width: 991px) {
    min-height: calc(100vh - 110px);
  }

  .container-fluid {
    .row {
      .bg-white {
        overflow-y: scroll;
        height: calc(100vh - 140px);
        padding-bottom: 20px;
      }
    }
  }
}

.footer {
  position: fixed;
  width: 100%;
  z-index: 9;
  bottom: 0;

  div.col-12 {
    padding: 0;
  }

  .footer-inner {
    background-color: #fff;
    border-top: 1px solid #e0d0f0;
    box-shadow: 1px -2px 2px #e5e4e7;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .save-cancel-buttons {
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0;

    .save {
      margin-left: 15px;
    }

    @media screen and (max-width: 991px) {
      margin-left: 50px;
    }
  }

  .escalate {
    font-size: xx-large;
    color: $accent-blue;
    max-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    position: absolute;
    right: -52px;

    @media screen and (max-width: 991px) {
      right: auto;
      left: 10px;

      svg {
        display: none;
      }
    }

    svg {
      width: 20px;
      height: 5px;
    }
  }
}
