@import '../entry.scss';
@import 'functions';

.left-entry {
  div:nth-child(3) {
    position: absolute;
    bottom: 20px;
  }
}

.right-entry {
  form.row {
    app-password-requirements {
      position: absolute;
      width: 100%;
      z-index: 999;
      background: #fff;
      padding: 20px 0;
    }

    div.col-12 a {
      font-size: font-calc(16);
      line-height: 24px;
    }

    div button {
      width: 100%;
    }
  }
}
/* stylelint-disable */
:host::ng-deep.mat-checkbox-layout {
/* stylelint-enable */
  white-space: normal !important;
}

@media screen and (max-width: 1201px) {
  #terms {
    line-height: 30px;
  }
}
