<div class="page">
  <div class="container">
    <div class="row justify-content-center">
      <mat-card class="col-md-10 col-sm-12 p-0">
        <div class="row m-0">
          <div class="col-md-6 col-sm-12 left-entry">
            <div>
              <img src="../../assets/logo/white-icon-white-text.svg" alt="Rithm">
            </div>
            <div class="mb-2 d-none d-md-block">
              <p>Get started with a <b>free</b> Rithm account.</p>
            </div>
            <div class="mb-2 d-none d-md-block">
              <p>Create workflows. Manage permissions. manage processes and people with enterprise-level-security.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 right-entry">
            <span>
              <div class="row mt-1">
                <div class="col-12">
                  <!-- TODO: RIT-234 -->
                  <a class="overline" href=""><i class="fas fa-chevron-left"></i> Back to sign in</a>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <h4>Create Account</h4>
                </div>
                <div class="col-12">
                  <p>Enter your info to create your account.</p>
                </div>
              </div>
              <form [formGroup]="signUpForm" class="row mt-3">
                <app-password-requirements class="mat-elevation-z8" *ngIf="passReqVisible" [passReq]="signUpForm.get(errorsToGet)?.errors" [match]="showMatch"></app-password-requirements>
                <!-- First name -->
                <mat-form-field class="col-md-6 col-sm-12" appearance="outline">
                  <mat-label>First name</mat-label>
                  <input type="text" matInput placeholder="First name" formControlName="firstName">
                </mat-form-field>
                <!-- Last name -->
                <mat-form-field class="col-md-6 col-sm-12" appearance="outline">
                  <mat-label>Last name</mat-label>
                  <input type="text" matInput placeholder="Last name" formControlName="lastName">
                </mat-form-field>
                <!-- Email -->
                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <!-- Password -->
                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput placeholder="Password" formControlName="password" (focus)="togglePassReq('password')" (focusout)="togglePassReq('')">
                </mat-form-field>
                <!-- Confirm Password -->
                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" (focus)="togglePassReq('confirmPassword')" (focusout)="togglePassReq('')">
                </mat-form-field>
                <!-- Terms and conditions -->
                <mat-checkbox class="col-12" formControlName="agreeToTerms">
                  I have read and agree to the <a href=""> terms & conditions</a>
                </mat-checkbox>
                <!-- Create account button -->
                <div class="col-12 mt-3">
                  <button type="submit" mat-raised-button color="accent" [disabled]="!signUpForm.valid">Create Account</button>
                </div>
              </form>
            </span>
            <span><!-- Add spinner class-->
              <!-- TODO: Loading indicator here. RIT-171 -->
            </span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
