<div class="h-full" id="card-error">
  <div class="w-full h-full flex items-center justify-center">
    <div class="w-full text-center">
      <i
        [ngClass]="!permission ? 'text-accent-500' : 'text-error-500'"
        class="fas fa-exclamation-triangle text-3xl"
      ></i>
      <h3
        [ngClass]="!permission ? 'text-accent-500' : 'text-error-500'"
        class="truncate"
      >
        ERROR
      </h3>
      <p class="text-sm mb-5">
        {{
          permission
            ? errorMessage
            : 'You do not have permission to view this widget'
        }}
      </p>
      <button
        *ngIf="permission"
        mat-stroked-button
        color="warn"
        (click)="reloadRequest()"
        id="try-again"
        data-testid="try-again"
      >
        Try Again
      </button>
    </div>
  </div>
</div>
