<div class="h-full" id="card-error">
  <div class="w-full h-full flex items-center justify-center">
    <div class="w-full text-center">
      <i
        [ngClass]="
          !permission || widgetDeleted ? 'text-accent-500' : 'text-error-500'
        "
        class="fas fa-exclamation-triangle text-3xl"
      ></i>
      <h3
        [ngClass]="
          !permission || widgetDeleted ? 'text-accent-500' : 'text-error-500'
        "
        class="truncate"
      >
        ERROR
      </h3>
      <p class="text-sm mb-5">
        {{
          permission
            ? errorMessage
            : 'You do not have permission to view this widget'
        }}
      </p>
      <button
        *ngIf="permission && !widgetDeleted"
        mat-stroked-button
        color="warn"
        (click)="reloadRequest()"
        id="try-again"
        data-testid="try-again"
      >
        Try Again
      </button>

      <button
        *ngIf="
          (dashboardPermission && widgetDeleted) || (isAdmin && widgetDeleted)
        "
        mat-stroked-button
        color="warn"
        (click)="removeWidget()"
        id="delete-widget"
        data-testid="delete-widget"
        [disabled]="isDrawerOpen"
      >
        Remove widget
      </button>
    </div>
  </div>
</div>
