aside {
  @apply flex flex-col justify-center;

  height: 100%;

  &.left {
    @apply items-end;
  }

  &.right {
    @apply items-start;
  }

  &.overflow-y-scroll-none::-webkit-scrollbar {
    display: none;
  }
}
