// Styles here
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  &.left {
    align-items: flex-end;
  }

  &.right {
    align-items: flex-start;
  }
}
