@import 'rithm-light-palettes';

.divider {
  border-right: 1px solid map-get($accent-palette, 100);

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    button {
      align-self: center;
    }
  }
}
