<ng-container [formGroup]="stationFieldForm">
  <div class="grid grid-cols-12 gap-2 my-4">

    <div class="col-span-2 sm:col-span-1 md:col-span-2 lg:col-span-1 flex flex-col border-r border-accent-100 justify-between pr-2 items-center">
      <button mat-icon-button [ngClass]="{'move' : movableUp}" [disabled]="!movableUp" (click)="moveFieldUp()">
        <i class="fas fa-chevron-up text-accent-100"></i>
      </button>
      <button mat-icon-button (click)="removeField()">
        <i class="fas fa-times text-accent-50"></i>
      </button>
      <button mat-icon-button [ngClass]="{'move' : movableDown}" [disabled]="!movableDown" (click)="moveFieldDown()">
        <i class="fas fa-chevron-down text-accent-100"></i>
      </button>
    </div>

    <div class="col-span-10 sm:col-span-11 md:col-span-10 lg:col-span-11">

      <app-text-field [field]="instructionField" formControlName="instructionsField" [toolBar]="true"></app-text-field>

      <app-text-field [field]="labelField" [formControlName]="field.questionType.typeString" [toolBar]="true"></app-text-field>
      <ng-container *ngIf="field.questionType.typeString === fieldType.Select || field.questionType.typeString === fieldType.MultiSelect || field.questionType.typeString === fieldType.CheckList">
        <app-text-field *ngFor="let field of options; let i = index" [field]="field" formControlName="optionField" [removableField]="i > 0 ? true : false" (removeOptionField)="removeOption(i)"></app-text-field>
        <button mat-stroked-button color="accent" (click)="addOption(field.questionType.typeString)" class="mb-3">
          <span *ngIf="field.questionType.typeString === fieldType.Select || field.questionType.typeString === fieldType.MultiSelect">
            New Option
          </span>
          <span *ngIf="field.questionType.typeString === fieldType.CheckList">
            New Item
          </span>
        </button>
        <br>
      </ng-container>
    </div>
  </div>
</ng-container>
