#map {
  touch-action: none;
}

.h-calc {
  height: calc(100vh - 128px); //this height is set for browser compatibility.
  height: calc(var(--canvasvh, 1vh) * 100 - 128px);
}

.addStationCur {
  cursor: url('../../../assets/images/cursors/addStation.png'), auto !important;
}
