.page {
  @apply flex h-screen overflow-y-auto bg-gradient-to-r from-secondary-500 to-blueGray;

  mat-card {
    @apply w-full md:w-10/12 xl:w-3/5 m-auto rounded;

    padding: 0;
    height: 575px;

    @media screen and (max-width: 767px) {
      height: 100%;
    }
  }
}

::ng-deep .mat-form-field-wrapper {
  /* stylelint-disable-next-line */
  padding-bottom: 0.5rem;
}

/// Entry folder forms
.entry-form {
  ::ng-deep mat-label {
    background-color: #fff !important;

    @apply pl-2;
  }
}
