@import 'variables', 'mixins', 'functions';

.page {
  @include gradient($secondary-gray, $secondary-blue);

  mat-card {
    padding: 0;
    overflow: hidden;
    height: 575px;

    @media screen and (max-width: 48rem) {
      height: 100%;
    }
  }
}
