<nav
  class="flex h-16 z-10 bg-darkBlue w-full fixed top-0 left-0 mat-elevation-z4 items-center px-5 md:px-0"
>
  <span class="md:hidden">
    <button (click)="toggle()" class="group" mat-icon-button>
      <i
        class="fas fa-bars text-2xl text-white group-hover:text-secondary-100"
      ></i>
    </button>
  </span>
  <span
    class="flex-grow md:flex-grow-0 flex justify-center"
    routerLink="{{ '/dashboard' }}"
  >
    <img
      src="../../../assets/logo/white-icon-white-text.svg"
      alt="Rithm"
      class="w-28 mx-5"
    />
  </span>
  <ul class="hidden md:block flex-grow h-full">
    <li
      *ngFor="let navItem of navItems"
      routerLink="{{ navItem }}"
      [routerLinkActive]="['active']"
      class="hover:bg-primary-400 cursor-pointer py-5 h-full list-none float-left text-center"
    >
      <a
        class="text-white no-underline hover:no-underline capitalize"
        attr.data-testid="{{ navItem }}-button"
        >{{ navItem }}</a
      >
    </li>
  </ul>
  <button
    id="notification-button"
    (click)="toggleNotifications()"
    (clickOutside)="clickedOutside()"
    mat-icon-button
    class="group mr-4"
    data-testid="notification-button"
  >
    <i
      class="fas fa-bell text-2xl text-white group-hover:text-secondary-100"
    ></i>
  </button>
  <button
    [matMenuTriggerFor]="userMenu"
    class="w-10 h-10 hidden md:block bg-white rounded-full mr-6"
    data-testid="profile-button"
  >
    <app-user-avatar
      [firstName]="user.firstName"
      [lastName]="user.lastName"
      [navProfile]="true"
      [hideToolTip]="true"
    ></app-user-avatar>
  </button>
</nav>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="settings/account" data-testid="my-account">
    My Account
  </button>
  <button mat-menu-item (click)="signOut()" data-testid="sign-out">
    Sign Out
  </button>
</mat-menu>
<app-notification-menu-container
  *ngIf="notificationsVisible"
></app-notification-menu-container>
