@import 'variables';

mat-card {
  margin-top: 10px;
  height: 252px;

  div.row {
    margin-top: 10px;
    line-height: 30px;
    height: 36px;

    &:first-child {
      margin-top: 0;
    }

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    div.priority {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 31px;
      border-radius: 50%;
      background: $accent-blue;
      display: block;
      float: left;
      margin-right: 10px;
      padding-left: 2px;
      color: #fff;
    }
  }

  div.loading {
    height: 220px;
    padding-top: 50px;

    div mat-spinner {
      margin-top: 30px;
    }
  }
}
