<mat-card>
  <span *ngIf="!isLoading">
    <div *ngFor="let document of documents" class="row no-gutters">
      <div
        [ngClass]="!isPriority ? 'col-8 col-sm-9 col-md-5 col-lg-9 col-xl-4' : 'col-12 col-sm-6 col-md-5 col-lg-6 col-xl-5'"
        class="d-inline-block">
        <div class="priority circle-30-accent">
          {{ document?.priority }}
        </div>
        {{ document?.documentName }}
      </div>
      <div [ngClass]="!isPriority ? 'col-3 d-lg-none col-xl-3' : 'col-4 col-sm-6 d-sm-block col-lg-6 col-xl-4'"
        class="d-none d-md-block d-xl-block col-md-4">
        {{ document?.stationName }}
      </div>
      <div [ngClass]="!isPriority ? 'col-3' : 'd-md-block col-md-3'" class="col-3 d-none d-lg-none d-xl-block">
        {{ ((getElapsedTime(document.flowedTimeUTC) === 'Yesterday') || (getElapsedTime(document.flowedTimeUTC) === 'Unknown')) ? (getElapsedTime(document.flowedTimeUTC)) : getElapsedTime(document.flowedTimeUTC)  + ' in station'}}
      </div>
      <div *ngIf="!isPriority" class="col-4 col-sm-3 col-md-2 col-lg-3 col-xl-2 d-block">
        <button mat-stroked-button color="accent">
          Continue
        </button>
      </div>
    </div>
    <span class="center" *ngIf="!documents || documents.length === 0">
      <div>
        No documents
      </div>
    </span>
  </span>
  <div *ngIf="isLoading" class="row no-gutters loading">
    <div class="col-12 text-center">
      <mat-spinner [diameter]="100" class="m-auto" color="accent"></mat-spinner>
    </div>
  </div>
</mat-card>
