.app-conditions {
  ::ng-deep .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
  }

  ::ng-deep .mat-form-field {
    flex-grow: 1 !important;
  }

  .add-condition-form {
    .first-operand-section,
    .comparison-type-section,
    .second-operand-section {
      @apply mb-6 max-w-[450px];
    }

    .app-text-field {
      @apply flex;
    }
  }
}
