<mat-card class="w-full relative">
  <div
    [ngClass]="{ invisible: isLoading }"
    class="flex flex-wrap lg:justify-between"
  >
    <div>
      <h4>Welcome, {{ user?.firstName }} {{ user?.lastName }}</h4>
      <p class="welcome-status">
        You currently have
        <strong
          >{{ numPrevDocs }} previously started document<span
            *ngIf="numPrevDocs !== 1"
            >s</span
          ></strong
        >
        and you're a member of
        <strong
          >{{ numStations }} station<span *ngIf="numStations !== 1"
            >s</span
          ></strong
        >.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-2 buttons lg:self-center my-2">
      <button
        mat-stroked-button
        color="accent"
        class="mx-2"
        data-testid="new-document"
      >
        New Document
      </button>
      <button
        mat-raised-button
        color="accent"
        class="mx-2"
        data-testid="start-working"
      >
        Start Working
      </button>
    </div>
  </div>
  <div class="w-full h-full absolute top-0 left-0 flex" *ngIf="isLoading">
    <app-loading-indicator
      [diameter]="46"
      class="m-auto self-center"
    ></app-loading-indicator>
  </div>
</mat-card>
