<!-- Header Add Widgets Modal. -->
<div>
  <h1>Title</h1>
</div>

<!-- Content Add Widgets Modal. -->
<mat-tab-group class="tabs-custom-pre-build pt-2" [selectedIndex]="tabParentSelect.value"
  (selectedIndexChange)="tabParentSelect.setValue($event)">

  <!-- Tabs Custom and Pre Built. -->
  <mat-tab *ngFor="let tab of tabsParents; let index = index" [label]="tab" [aria-label]="tab">

    <!-- Content for tab Custom. -->
    <ng-container *ngIf="tab === 'Custom'; else preBuiltTab">
      <app-custom-tab-widget-modal></app-custom-tab-widget-modal>
    </ng-container>

    <!-- Content for tab Pre Built. -->
    <ng-template #preBuiltTab>
      <div class="py-4">
        Content for {{ tab }} tab
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
