<section class="grid grid-cols-12 py-5 border-b border-secondary-400">
  <div class="col-span-12 md:col-span-2">
    <h6>Station Information</h6>
  </div>
  <div class="col-span-6" [ngClass]="{'md:col-span-10': stationEditMode, 'md:ml-2 md:col-span-4 xl:col-span-5': !stationEditMode}">
    <span *ngIf="!stationEditMode">
      <button *ngIf="type === 'admin'" mat-icon-button color="accent">
        <i class="fas fa-pen"></i>
      </button>
      <span>{{stationName}}</span>
    </span>
    <form [formGroup]="stationNameForm" *ngIf="stationEditMode">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Station Name</mat-label>
        <input id="stationName" type="text" matInput matNativeControl [value]="stationName" formControlName="name" autocomplete="off">
      </mat-form-field>
    </form>
  </div>
  <div class="col-span-6 md:col-span-6" [ngClass]="{'md:col-start-3': stationEditMode, 'xl:col-span-5': !stationEditMode}">
    <div class="flex" [ngClass]="{'justify-between': type !== 'worker', 'justify-end md:mr-20': type === 'worker'}">
      <div>
        <p class="overline">supervisor roster</p>
        <app-roster
          [rosterMembers]="stationInformation.supervisors"
          [rosterSize]="stationInformation.supervisors.length"
          [stationId]="stationInformation.stationRithmId"
          [stationName]="stationName"
          [isWorker]="false"
          [editMode]="stationEditMode"></app-roster>
      </div>
      <div *ngIf="type !== 'worker'">
        <p class="overline">worker roster</p>
        <app-roster
          [rosterMembers]="stationInformation.workers"
          [rosterSize]="stationInformation.workers.length"
          [stationId]="stationInformation.stationRithmId"
          [stationName]="stationName"
          [isWorker]="true"
          [editMode]="stationEditMode"></app-roster>
      </div>
      <div>
        <button mat-mini-fab color="warn" class="priority" *ngIf="stationEditMode">
          1
        </button>
      </div>
    </div>
  </div>
</section>
