section.row {
  padding: 10px 0;

  div {
    h6 {
      padding: 0 5px;

      @media screen and (max-width: 767px) {
        text-align: center;
        padding-bottom: 10px;
      }
    }

    form {
      width: 100%;

      mat-form-field {
        width: 100%;
      }
    }

    div.name {
      padding: 5px 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
