<section class="grid grid-cols-12 py-5 border-b border-secondary-400">
  <div class="col-span-12 lg:col-span-2">
    <h6>Station Information</h6>
  </div>
  <div class="col-span-12 lg:col-span-5 xl:col-span-6">
    <span>{{stationName}}</span>
    <button *ngIf="type === 'admin'" mat-icon-button color="accent">
      <i class="fas fa-pen"></i>
    </button>
  </div>
  <div class="col-span-12 lg:col-span-5 xl:col-span-4 lg:justify-self-end">
    <div class="flex">
      <div *ngIf="type === 'worker'" class="mr-3">
        <p class="overline">supervisor roster</p>
        <app-roster
          [rosterMembers]="stationInformation.supervisors"
          [rosterSize]="stationInformation.supervisors.length"
          [stationId]="stationInformation.stationRithmId"
          [stationName]="stationName"
          [isWorker]="false"
          [editMode]="stationEditMode"></app-roster>
      </div>
      <div>
        <p class="overline">worker roster</p>
        <app-roster
          [rosterMembers]="stationInformation.workers"
          [rosterSize]="stationInformation.workers.length"
          [stationId]="stationInformation.stationRithmId"
          [stationName]="stationName"
          [isWorker]="true"
          [editMode]="stationEditMode"></app-roster>
      </div>
      <div class="py-3 ml-3">
        <button mat-mini-fab color="warn" *ngIf="!stationEditMode">
          1
        </button>
      </div>
    </div>
  </div>
</section>
<!-- <section class="row">
  <div class="col-12 col-md-2">
    <h6>Station Information</h6>
  </div>
  <div *ngIf="stationEditMode" class="col-12 col-md-10">
    <form [formGroup]="stationNameForm">
      <mat-form-field appearance="outline">
        <mat-label>Station Name</mat-label>
        <input id="stationName" type="text" matInput matNativeControl [value]="stationName" formControlName="name">
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="!stationEditMode"
  [ngClass]="{
    'col-6 col-md-7 col-xl-8': type === 'worker',
    'col-12': type === ('super' || 'admin'),
    'col-md-4 col-xl-6': type === 'super' || 'admin'
  }">
    <div class="name">
      <button *ngIf="type === 'admin'" mat-icon-button color="accent"><i class="fas fa-pen"></i></button>
      {{stationName}}
    </div>
  </div>
  <div *ngIf="stationEditMode" class="col-md-2"></div>
  <div [ngClass]="{
    'ml-3': stationEditMode,
    'col-6 col-md-3 col-xl-2': !stationEditMode
  }">
    <p class="overline">supervisor roster</p>
    <app-roster
      [rosterMembers]="stationInformation.supervisors"
      [rosterSize]="stationInformation.supervisors.length"
      [stationId]="stationInformation.stationRithmId"
      [stationName]="stationName"
      [isWorker]="false"
      [editMode]="stationEditMode"
    ></app-roster>
  </div>
  <div
  [ngClass]="{
    'd-none': type === 'worker' && !stationEditMode,
    'col-6 col-md-3 col-xl-2': type === 'super' || 'admin' && !stationEditMode,
    'mx-3' : stationEditMode
  }">
    <p class="overline">worker roster</p>
    <app-roster
      [rosterMembers]="stationInformation.workers"
      [rosterSize]="stationInformation.workers.length"
      [stationId]="stationInformation.stationRithmId"
      [stationName]="stationName"
      [isWorker]="true"
      [editMode]="stationEditMode"
    ></app-roster>
  </div>
  <button mat-mini-fab color="warn" *ngIf="stationEditMode" class="priority">
    1
  </button>
</section>
<div class="row">
  <div class="col">
    <hr>
  </div>
</div> -->
