:host ::ng-deep .mat-expansion-panel-header-title{

}

:host ::ng-deep .mat-expansion-panel-header {
  margin: 0;
  padding: 0;
}

mat-expansion-panel-header:hover {
  background-color: #bbc7db !important;
}

.color-hover:hover {
  background-color: #bbc7db;
}
