.expansion-dashboards {
  .mat-expansion-panel-header {
    padding: 0;

    .mat-expansion-panel-header-title {
      padding: 0px 0px 0px 6px;
    }
  }

  .mat-expansion-panel-header:hover {
    @apply bg-accent-100;
  }

  &::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }
}

.list-options {
  &::ng-deep .mat-list-item-content {
    padding: 0 15px !important;
  }
}

.color-hover:hover {
  @apply bg-accent-100;
}
