<mat-expansion-panel
  hideToggle
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
  class="mat-elevation-z0 expansion-dashboards"
>
  <mat-expansion-panel-header>
    <mat-panel-title
      class="flex justify-between items-center p-3"
      [attr.data-testid]="'expansion-menu-' + dashboardRole"
      [id]="'expansion-menu-' + dashboardRole"
    >
      <div class="flex items-center">
        <i
          [ngClass]="panelOpenState ? 'fa-angle-down' : 'fa-angle-right'"
          class="fas text-lg"
        ></i>
        <div class="ml-3 w-[200px] md:w-[260px] truncate">
          <span class="text-base">{{
            dashboardRole === roleDashboardMenu.Company
              ? 'Organization Dashboard'
              : 'Personal Dashboard'
          }}</span>
        </div>
      </div>
      <app-options-menu
        [dashboardRole]="dashboardRole"
        [isDashboardListOptions]="true"
      ></app-options-menu>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-list class="list-options">
    <div *ngIf="isLoading" id="loading-dashboards-list">
      <app-loading-indicator
        [inlineText]="'Loading...'"
      ></app-loading-indicator>
    </div>

    <div *ngIf="showError" id="error-dashboard-list">
      <p class="text-error-500">Error: failed to obtain dashboards</p>
    </div>

    <div
      *ngIf="!dashboardsList.length && !isLoading"
      id="empty-dashboards-list"
    >
      <p>No dashboard for listing</p>
    </div>

    <div *ngIf="!isLoading && !showError && dashboardsList.length">
      <div *ngFor="let dashboard of dashboardsList; let i = index">
        <mat-list-item
          class="color-hover cursor-pointer"
          [attr.data-testid]="dashboardRole + '-item-' + i"
          [id]="dashboardRole + '-item-' + i"
          (click)="hiddenDrawer()"
          [routerLink]="['/', 'dashboard', dashboard.rithmId]"
          routerLinkActive="bg-accent-100"
        >
          <div class="w-full flex justify-between items-center ml-5">
            {{ dashboard.name }}
            <app-options-menu
              [dashboardRole]="dashboardRole"
              [isDashboardListOptions]="false"
              [rithmId]="dashboard.rithmId"
              (updateDashboardList)="getToListDashboards()"
            ></app-options-menu>
          </div>
        </mat-list-item>
      </div>
    </div>
  </mat-list>
</mat-expansion-panel>
