<div class="p-2">
  <mat-accordion>
    <mat-expansion-panel
      hideToggle
      *ngFor="let data of dataExpansionPanel"
      (opened)="data.panelOpenState = true"
      (closed)="data.panelOpenState = false"
      class="mat-elevation-z0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="flex justify-between items-center p-3">
          <div class="flex items-center">
            <i
              [ngClass]="
                data.panelOpenState ? 'fa-angle-down' : 'fa-angle-right'
              "
              class="fas text-lg"
            ></i>
            <div class="ml-3 w-[200px] md:w-[260px] truncate">
              <span class="text-base">{{ data.title }}</span>
            </div>
          </div>
          <button
            mat-icon-button
            data-testid="button-more"
            id="button-more"
            (click)="$event.stopPropagation()"
          >
            <i class="fas fa-ellipsis-h text-lg"></i>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item
          *ngFor="let option of staticDataOptions"
          class="color-hover cursor-pointer"
        >
          {{ option }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
