<mat-expansion-panel
  hideToggle
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
  class="mat-elevation-z0"
>
  <mat-expansion-panel-header>
    <mat-panel-title
      class="flex justify-between items-center p-3"
      [attr.data-testid]="'expansion-menu-' + dashboardRole"
      [id]="'expansion-menu-' + dashboardRole"
    >
      <div class="flex items-center">
        <i
          [ngClass]="panelOpenState ? 'fa-angle-down' : 'fa-angle-right'"
          class="fas text-lg"
        ></i>
        <div class="ml-3 w-[200px] md:w-[260px] truncate">
          <span class="text-base">{{
            dashboardRole === roleDashboardMenu.OrganizationDashboard
              ? 'Organization Dashboard'
              : 'Personal Dashboard'
          }}</span>
        </div>
      </div>
      <app-options-menu [dashboardRole]="dashboardRole"></app-options-menu>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <div
      *ngFor="let dashboard of dashboardsList; let i = index"
      class="color-hover cursor-pointer"
    >
      <mat-list-item
        [attr.data-testid]="dashboardRole + '-item-' + i"
        [id]="dashboardRole + '-item-' + i"
      >
      <div class="w-full flex justify-between">
        {{ dashboard.name }}
        <app-options-menu [dashboardRole]="dashboardRole"></app-options-menu>
      </div>
      </mat-list-item>
    </div>
  </mat-list>
</mat-expansion-panel>
