@import 'variables';

.indicator-container {
  // TODO: Update for inline loading indicator
  .inline-styles {
    display: flex;
    justify-content: center;
    text-align: center;

    * {
      color: $accent-blue;
      display: inline-block;
    }

    p {
      padding-left: 5px;
      line-height: 18px;
    }
  }
}
