<ng-container *ngIf="widgetMode !== 'preview'; else previewMode">
  <div
    *ngIf="fields"
    [ngClass]="{
      'border-2 border-error-500':
        fields.length === 0 && widgetMode === 'setting'
    }"
    class="min-h-full"
    cdkDropList
    [id]="'inputFrameWidget-' + id"
    [cdkDropListData]="fields"
    (cdkDropListDropped)="addElementDrag($event)"
  >
    <div *ngFor="let field of fields" cdkDrag class="relative">
      <div class="field-drag-placeholder" *cdkDragPlaceholder></div>
      <div
        class="screen-box h-[56px]"
        (click)="openFieldSettingDrawer(field)"
      ></div>
      <div
        class="previous-question-badge"
        *ngIf="field.originalStationRithmId !== stationRithmId"
      >
        <i class="fa-solid fa-book-open text-xs"></i>
      </div>
      <app-text-field
        [field]="field"
        [isStation]="isStation"
        [labelTag]="field.prompt"
        [widgetItem]="true"
      ></app-text-field>
    </div>
  </div>
</ng-container>
<ng-template #previewMode>
  <div *ngFor="let field of fields" class="min-h-[48.5px]" class="relative">
    <div class="screen-box h-[56px]"></div>
    <app-text-field
      [field]="field"
      [isStation]="true"
      [labelTag]="field.prompt"
      [widgetItem]="true"
    ></app-text-field>
  </div>
</ng-template>
