.field-drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.previous-question-badge {
  @apply absolute z-[3] -left-2 -top-2 inline-flex items-center justify-center p-0 w-[22px] h-[22px] rounded-full text-white text-center bg-secondary-200;
}

.screen-box {
  @apply absolute left-0 -top-1 w-full z-[9];
}
