<ng-container *ngIf="stationViewMode === 'edit'; else previewMode">
  <div
    class="min-h-full"
    cdkDropList
    [id]="'inputFrameWidget-' + id"
    [cdkDropListData]="fields"
    (cdkDropListDropped)="addElementDrag($event)"
  >
    <div *ngFor="let field of fields" cdkDrag class="relative">
      <div
        class="screen-box h-[56px]"
        (click)="openFieldSettingDrawer(field)"
      ></div>
      <div class="field-drag-placeholder" *cdkDragPlaceholder></div>
      <app-text-field
        [field]="field"
        [isStation]="true"
        [labelTag]="field.prompt"
        [widgetItem]="true"
      ></app-text-field>
    </div>
  </div>
</ng-container>
<ng-template #previewMode>
  <div *ngFor="let field of fields" class="min-h-[48.5px]">
    <app-text-field
      [field]="field"
      [isStation]="false"
      [labelTag]="field.prompt"
      [widgetItem]="true"
    ></app-text-field>
  </div>
</ng-template>
