<form [formGroup]="commentForm" (ngSubmit)="addComment()">
  <mat-form-field appearance="outline" class="pb-14 md:pb-0 p-3 md:p-2 w-full">
    <mat-label>Add a comment</mat-label>
    <input
      matInput
      type="text"
      placeholder="Add a comment..."
      formControlName="comment"
      autocomplete="off"
    />
    <button
      type="submit"
      id="commentPostButton"
      mat-icon-button
      matSuffix
      color="accent"
      [disabled]="!commentForm.valid"
      class="text-xl -top-1"
      data-testid="send-comment"
    >
      <i class="fas fa-paper-plane text-2x1 text-accent-500"></i>
    </button>
  </mat-form-field>
</form>
