@import "variables", "functions", "mixins";

.page {
  @include gradient($secondary-gray, $secondary-blue);
}

.h-calc {
  height: calc(100vh - 64px); //this height is set for browser compatibility.
  height: calc(var(--appvh, 1vh) * 100 - 64px);
}

mat-sidenav-container {
  a {
    &:nth-child(3) {
      .flex {
        border-top: 1px solid $accent-blue;
      }
    }
  }

  mat-sidenav-content {
    @media screen and (max-width: 991px) {
      &.non-entry {
        //this height is set for browser compatibility.
        height: calc(100vh - 64px);
        height: calc(var(--appvh, 1vh) * 100 - 64px);
      }
    }
  }
}
