@import 'variables', 'functions', 'mixins';

.page {
  @include gradient($secondary-gray, $secondary-blue);
}

mat-sidenav-container {
  height: calc(100vh - 64px);

  a {
    &:nth-child(3) {
      .flex {
        border-top: 1px solid $accent-blue;
      }
    }
  }

  mat-sidenav-content {
    @media screen and (max-width: 991px) {
      &.non-entry {
        height: calc(100vh - 64px);
      }
    }
  }
}
