<app-top-nav *ngIf="showTopNav"></app-top-nav>
<mat-drawer-container [ngClass]="{'sign-in': !showTopNav}" hasBackdrop="true">
  <mat-drawer #mobileNav mode="over">
    <a *ngFor="let link of mobileLinks" routerLink="{{link.name}}" (click)="mobileNav.toggle()">
      <div class="row no-gutters">
        <div class="col">
          <i class="fas {{link.icon}}"></i>
          {{link.name}}
        </div>
      </div>
    </a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
