<ng-container *ngIf="!viewNewStation; else newStationHeader">
  <section class="grid grid-cols-12 py-5 border-b border-secondary-400">
    <div class="col-span-12">
      <h6 class="text-center">Station Information</h6>
    </div>
    <div class="col-span-12">
      <div
        *ngIf="!stationEditMode"
        class="flex justify-between items-center w-full"
      >
        <span>{{ stationName }}</span>
        <button
          type="button"
          data-testid="station-info-drawer"
          mat-icon-button
          (click)="toggleDrawer('stationInfo')"
          [disabled]="isDrawerOpen"
        >
          <i
            class="fas fa-info-circle text-2xl"
            [ngClass]="isDrawerOpen ? 'text-primary-100' : 'text-primary-500'"
          ></i>
        </button>
      </div>
      <form
        [formGroup]="stationNameForm"
        *ngIf="stationEditMode"
        class="flex items-center station-header-form"
      >
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Station Name</mat-label>
          <input
            data-testid="station-name-field"
            id="stationName"
            type="text"
            matInput
            matNativeControl
            [value]="stationName"
            formControlName="name"
            autocomplete="off"
            (keyup)="updateStationInfoDrawerName()"
          />
        </mat-form-field>
        <button
          type="button"
          data-testid="station-info-drawer"
          id="info-drawer-button-station"
          mat-icon-button
          (click)="toggleDrawer('stationInfo')"
          [disabled]="isDrawerOpen"
        >
          <i
            class="fas fa-info-circle text-2xl"
            [ngClass]="isDrawerOpen ? 'text-primary-100' : 'text-primary-500'"
          ></i>
        </button>
      </form>
    </div>
  </section>
</ng-container>
<ng-template #newStationHeader>
  <section class="grid grid-cols-12 pt-8">
    <div class="col-span-12">
      <div
        *ngIf="!stationEditMode"
        class="flex justify-between items-center w-full"
      >
        <span>{{ stationName }}</span>
        <button
          type="button"
          data-testid="station-info-drawer"
          mat-icon-button
          (click)="toggleDrawer('stationInfo')"
          [disabled]="isDrawerOpen"
        >
          <i
            class="fas fa-info-circle text-2xl"
            [ngClass]="isDrawerOpen ? 'text-primary-100' : 'text-primary-500'"
          ></i>
        </button>
      </div>
      <p class="overline-font text-station">Station</p>
      <div class="col-span-12 flex justify-between">
        <p class="items-center flex font-semibold text-xl">{{ stationName }}</p>
        <button
          type="button"
          data-testid="station-info-drawer"
          id="info-drawer-button-station"
          mat-icon-button
          (click)="toggleDrawer('stationInfo')"
          [disabled]="isDrawerOpen"
        >
          <i
            class="fas fa-info-circle text-2xl"
            [ngClass]="isDrawerOpen ? 'text-primary-100' : 'text-primary-500'"
          ></i>
        </button>
      </div>
    </div>
  </section>
</ng-template>
