<section class="grid grid-cols-12 py-5 border-b border-secondary-400">
  <div class="col-span-12">
    <h6 class="text-center">Station Information</h6>
  </div>
  <div class="col-span-12">
    <div
      *ngIf="!stationEditMode"
      class="flex justify-between items-center w-full"
    >
      <span>{{ stationName }}</span>
      <button
        data-testid="station-info-drawer"
        mat-icon-button
        matSuffix
        class="icon icon-top"
        (click)="toggleDrawer('stationInfo')"
        [disabled]="isDrawerOpen"
        type="button"
      >
        <i
          class="fas fa-info-circle text-2xl"
          [ngClass]="isDrawerOpen ? 'text-primary-100' : 'text-primary-500'"
        ></i>
      </button>
    </div>
    <form [formGroup]="stationNameForm" *ngIf="stationEditMode">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Station Name</mat-label>
        <input
          data-testid="station-name-field"
          id="stationName"
          type="text"
          matInput
          matNativeControl
          [value]="stationName"
          formControlName="name"
          autocomplete="off"
          (keyup)="updateStationInfoDrawerName()"
        />
        <button
          data-testid="station-info-drawer"
          id="info-drawer-button-station"
          mat-icon-button
          matSuffix
          class="icon icon-top"
          (click)="toggleDrawer('stationInfo')"
          [disabled]="isDrawerOpen"
        >
          <i
            class="fas fa-info-circle text-2xl"
            [ngClass]="isDrawerOpen ? 'text-primary-100' : 'text-primary-500'"
          ></i>
        </button>
      </mat-form-field>
    </form>
  </div>
</section>
