<div class="flex flex-col h-full">
  <section class="px-4 border-b-2 border-secondary-300 build-categories">
    <mat-selection-list class="md:mb-8" [multiple]="false" #buildCategory>
      <mat-list-option
        *ngFor="let category of buildCategories"
        class="px-3 py-2 hover:bg-accent-100 rounded-sm"
        [value]="category"
      >
        <p class="text-xs">{{ category }}</p>
      </mat-list-option>
    </mat-selection-list>
  </section>
  <section class="w-72 overflow-y-auto px-2"></section>
</div>
