@import 'variables', 'functions', 'rithm-light-palettes';

.row {
  width: 100%;

  &.read {
    opacity: 0.7;
  }

  .body-small {
    line-height: 18px;
  }

  .subtitle-medium {
    color: $accent-blue;
  }

  .overline {
    color: map-get($secondary-gray-palette, 400);
  }
}

:host::ng-deep .user-avatar {
  .circle-30-secondary:hover {
    cursor: default;
    background-color: $secondary-gray;
  }
}
