<section>
  <h4>My Stations</h4>
  <div *ngIf="!isLoading" class="grid grid-cols-1 md:grid-cols-6 gap-4">
    <app-station-card *ngFor="let station of stations" [station]="station" class=""></app-station-card>
    <mat-card *ngIf="!stations || stations.length === 0" class="text-center mt-5">
      <span class="my-3">
        No stations
      </span>
    </mat-card>
  </div>
  <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
</section>

<!-- <section>
  <h4>My Stations</h4>
  <div *ngIf="!isLoading" class="row p-0">
    <app-station-card *ngFor="let station of stations" [station]="station"
      class="col-xl-2 col-lg-3 col-md-4 col-sm-12"></app-station-card>
    <span *ngIf="!stations || stations.length === 0" class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
      <mat-card>
        <span class="center">No stations</span>
      </mat-card>
    </span>
  </div>
  <app-loading-indicator class="loader mt-5" *ngIf="isLoading"></app-loading-indicator>
</section> -->
