.drawer-content-h-map {
  height: calc(100vh - 170px);
}

.mat-mini-fab {
  &.priority {
    &::ng-deep .mat-button-wrapper {
      padding: 0;
    }

    @apply mt-1 w-7 h-7 leading-6;
  }
}

::ng-deep .mat-ripple {
  display: none;
}
