<!--document section-->
<section *ngIf="itemWidgetModalSelected.itemType === 'document'" class="pt-3">
  <hr class="text-secondary-100" />
  <!--  default section-->
  <div class="py-6">
    <p class="font-semibold">Default</p>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 pt-5">
      <app-document-widget-template-modal
        widgetType="default"
      ></app-document-widget-template-modal>
    </div>
  </div>
  <hr class="text-secondary-100" />
  <div class="py-6">
    <p class="font-semibold">Lists</p>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 pt-5">
      <app-document-widget-template-modal
        [widgetType]="enumWidgetType.DocumentListBanner"
      ></app-document-widget-template-modal>
      <app-document-widget-template-modal
        [widgetType]="enumWidgetType.Document"
      ></app-document-widget-template-modal>
    </div>
  </div>
</section>
