<div class="w-full">
  <!--document section-->
  <section *ngIf="itemWidgetModalSelected.itemType === 'document'" class="pt-3">
    <hr class="text-secondary-100" />
    <!-- Document type default -->
    <div class="py-6">
      <p class="font-semibold">Default</p>
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 pt-5">
        <app-document-widget-template-modal
          widgetType="default"
        ></app-document-widget-template-modal>
      </div>
    </div>
    <hr class="text-secondary-100" />
    <!-- Document types list -->
    <div class="py-6">
      <p class="font-semibold">Lists</p>
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 pt-5">
        <!-- Widget card type document-list -->
        <app-document-widget-template-modal
          [widgetType]="enumWidgetType.Document"
        ></app-document-widget-template-modal>
        <!-- Widget card type document-list-banner -->
        <app-document-widget-template-modal
          [widgetType]="enumWidgetType.DocumentListBanner"
        ></app-document-widget-template-modal>
      </div>
    </div>
  </section>

  <!--Section for show station template-->
  <section *ngIf="itemWidgetModalSelected.itemType === 'station'">
    <hr class="text-secondary-100" />
    <div class="py-10">
      <p class="font-semibold mb-5">Tables</p>
      <div class="flex flex-wrap gap-4">
        <div class="w-11/12 md:w-2/5 lg:w-1/4 h-96">
          <app-station-widget-template-modal
            [widgetType]="enumWidgetType.Station"
          ></app-station-widget-template-modal>
        </div>

        <div class="w-11/12 md:w-2/5 lg:w-1/4 h-96">
          <app-station-widget-template-modal
            [widgetType]="enumWidgetType.StationTableBanner"
          ></app-station-widget-template-modal>
        </div>
      </div>
    </div>
    <hr class="text-secondary-100" />
  </section>

  <!--Section for show group template-->
  <section *ngIf="itemWidgetModalSelected.itemType === 'group'">
    <app-station-widget-template-modal
      [widgetType]="enumWidgetType.StationGroup"
    ></app-station-widget-template-modal>
  </section>
</div>
