@import 'variables';

.color-border {
  border-color: map-get($primary-palette, 50);
}

.input-search {
  ::ng-deep {
    .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      @apply h-[50px] w-full md:w-80;
    }

    .mat-form-field-infix {
      padding-top: 1px !important;
    }
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 2px;
  }

  input.mat-input-element {
    margin-top: 3px;
    margin-left: 8px;
  }
}
::ng-deep .button-navigation {
  padding: 0px;
}
