@import 'variables';

.color-border {
  border-color: map-get($primary-palette, 50);
}

.input-search {
  ::ng-deep {
    .mat-form-field-wrapper {
      padding: 0;
    }

    @media (max-width: 760px) {
      .mat-form-field-infix {
        width: 100% !important;
      }
    }
  }
}
