<div class="signin-container">
<div class="container login-container">
  <div class="row">

    <div class="col-md-6 left-container">
      <div class="mb-2" style="width: 100%;">
        <img src="../../../assets/logo/white-icon-white-text.svg" style="width: 30%;">
      </div>
      <div class="mb-2 d-none d-lg-block" style="width: 100%;">
        <p>Seamlessly connecting people and processes</p>
      </div>
      <!-- <div
        class="mb-2 d-none d-lg-block"
        style="border-style: dotted; width: 80%; height: 80%;"></div>-->
      <div class="mb-2 d-none d-lg-block" style="width: 100%;">
        <p>We make business easy.</p>
      </div>
    </div>

    <div class="col-md-6 right-container">
      <div class="mb-5">
        <p class="h4 mb-2 font-weight-bold">Sign in</p>
        <p class="h4 mb-2">Welcome to Rithm.</p>
      </div>
      <!-- Default form login -->
      <form class="text-center form-colum mt-5 mb-2">
            <!-- Email -->
            <div class="form-group">
              <input
                value=""
                type="email"
                placeholder="E-mail"
                id="SignInFormEmail"
                class="form-control input-login mb-3">
            </div>
            <!-- Password -->
            <div class="form-group">
              <input
                value=""
                type="password"
                placeholder="Password"
                id="SignInFormPassword"
                class="form-control input-login mb-3">
            </div>
            <!-- Sign in button -->
            <div class="form-group">
              <button type="submit" class="btn-login">Sign In</button>
            </div>
      </form>
      <!-- Forgot password -->
      <div class="d-flex mb-5">
        <a href="#">Forgot password?</a>
      </div>

      <!-- Register -->
      <div class="d-flex fixed-bottom mt-5" style="justify-content: center;">
        <p>New here?
          <a href="">Create an account</a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
