<div class="page">
  <app-notification-card></app-notification-card>
  <div class="container">
    <div class="row justify-content-center">
      <mat-card class="col-md-10 col-sm-12 p-0">
        <div class="row m-0">
          <div class="col-md-6 col-sm-12 left-entry">
            <div>
              <img src="../../assets/logo/white-icon-white-text.svg" alt="Rithm">
            </div>
            <div class="mb-2 d-none d-md-block">
              <p>Seamlessly connecting people and processes</p>
            </div>
            <div class="mb-2 d-none d-md-block">
              <p>We make business easy.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 right-entry">
            <span [ngClass]="{'transparent': isLoading}">
              <div class="row mt-4">
                <div class="col-12">
                  <h4>Sign in</h4>
                </div>
                <div class="col-12">
                  <p>Welcome to Rithm.</p>
                </div>
              </div>
              <p id="invalid" [ngClass]="{'transparent': !invalidCredentials}" class="mat-error">Invalid email or password</p>
                <!-- Default form login -->
                  <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="row">
                    <!-- Email -->
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input id="email" type="email" matInput placeholder="Email" formControlName="email">
                      </mat-form-field>
                    <!-- Password -->
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input id="password" type="password" matInput placeholder="Password" formControlName="password">
                      </mat-form-field>
                    <!-- Sign in button -->
                    <div class="col-12">
                      <button type="submit" mat-raised-button color="accent" [disabled]="!signInForm.valid">Sign In</button>
                    </div>
                  </form>
                <!-- Forgot password -->
                <div class="row">
                  <a id="forgot-password" routerLink="forgot-password" class="col">Forgot password?</a>
                </div>
              <!-- Register -->
              <mat-card-footer class="row">
                <div class="col center-text">
                  <p class="text-center">New here?
                    <a id="create-account" routerLink="account-create">Create an account</a>
                  </p>
                </div>
              </mat-card-footer>
            </span>
            <span *ngIf="isLoading" class="spinner">
              <div class="row">
                <div class="col text-center">
                  <mat-spinner class="m-auto"></mat-spinner>
                </div>
              </div>
            </span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
