<div class="flex h-screen page overflow-y-scroll">
  <mat-card class="w-full md:w-3/5 h-full md:h-3/5 m-auto p-0 overflow-y-scroll">
    <div class="grid grid-cols-1 md:grid-cols-2 md:h-full">
      <!-- left column -->
      <div class="bg-darkBlue md:flex md:flex-col p-3 flex-none">
        <div class="flex-grow">
          <img class="w-40" src="../../assets/logo/white-icon-white-text.svg" alt="Rithm">
          <p class="mb-2 text-white hidden md:block">Seamlessly connecting people and processes</p>
        </div>
        <p class="mb-2 text-white hidden md:block">We make business easy.</p>
      </div>
      <!-- right column -->
      <div class="flex flex-col bg-white overflow-y-scroll">
        <span *ngIf="!isLoading" class="flex-grow">
          <h4 class="mt-10 ml-5">Sign in</h4>
          <p class="mt-1 ml-5">Welcome to Rithm.</p>
          <p id="invalid" [ngClass]="{'invisible': !invalidCredentials}" class="mat-error">Invalid email or password</p>
          <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="flex flex-col px-5 py-2">
            <mat-form-field class="" appearance="outline">
              <mat-label>Email</mat-label>
              <input id="email" type="email" matInput placeholder="Email" formControlName="email" autocomplete="email">
            </mat-form-field>
            <mat-form-field class="" appearance="outline">
              <mat-label>Password</mat-label>
              <input id="password" type="password" matInput placeholder="Password" formControlName="password"
                autocomplete="current-password">
            </mat-form-field>
            <button class="w-full" id="submit" type="submit" mat-raised-button color="accent" [disabled]="!signInForm.valid">Sign In</button>
          </form>
          <a id="forgot-password" routerLink="forgot-password" class="ml-5">Forgot password?</a>
          <p class="text-center mt-5">New here?
            <a id="create-account" routerLink="account-create">Create an account</a>
          </p>
        </span>
        <!-- TODO: center loading indicator -->
        <app-loading-indicator class="loader" *ngIf="isLoading"></app-loading-indicator>
      </div>
    </div>
  </mat-card>
</div>
