<div
  *ngIf="widgetMode === 'layout'"
  class="body-text-widget h-full w-full p-2"
  (click)="handleOpenSettingDrawer(bodyTextValue)"
>
  <p class="text-xs text-primary-200">
    {{ bodyTextValue }}
  </p>
</div>
<div *ngIf="widgetMode === 'setting'" class="">
  <textarea
    *ngIf="widgetMode === 'setting'"
    placeholder="Write something descriptive"
    [(ngModel)]="bodyTextValue"
    class="textarea-inline-control body-text-widget h-full w-full p-2 text-xs text-primary-200 border-2 border-transparent rounded hover:border-accent-600"
  ></textarea>
</div>
