td.mat-cell {
  padding-right: 10px !important;
}

td.mat-cell:last-of-type {
  padding: 0 !important;
}

td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0 !important;
}

tr.mat-header-row {
  height: 30px !important;
}

table ::ng-deep {
  .mat-sort-header-ste,
  .mat-sort-header-arrow {
    display: none !important;
  }
}
