<div class="setting-fields">
  <section class="setting-field-header">
    <div class="w-full py-2" *ngIf="field">
      <div class="col-span-12 py-5">
        <h6>Field Settings</h6>
      </div>

      <div class="col-span-12">
        <mat-form-field
          *ngIf="!isPrevious; else fieldNameStatic"
          appearance="outline"
          class="w-full mat-setting-input"
        >
          <mat-label>Name your field</mat-label>
          <input
            matInput
            type="text"
            id="field-setting-input"
            data-testid="field-setting-input"
            placeholder="Name your field"
            [(ngModel)]="field.prompt"
            [maxlength]="field.questionType === 'shortText' ? 50 : null"
            autocomplete="off"
            (blur)="deleteExtraSpaces()"
          />
        </mat-form-field>
        <ng-template #fieldNameStatic>
          <p>{{ field.prompt }}</p>
        </ng-template>
      </div>
    </div>
  </section>
  <section class="w-full py-3 px-4 border-b border-secondary-200 border-solid">
    <p class="mb-1 tracking-tight font-semibold">Input Settings</p>
    <div *ngIf="stationRithmId !== field.originalStationRithmId" class="flex flex-row justify-between items-center text-sm py-3">
      Editable
      <mat-slide-toggle
        class="mat-slide"
        [checked]="field.isReadOnly"
        [(ngModel)]="field.isReadOnly"
        (change)="setReadOnlyFalse()"
      >
      </mat-slide-toggle>
    </div>
    <div class="flex flex-row justify-between items-center text-sm py-3">
      Required
      <mat-slide-toggle
        class="mat-slide"
        [checked]="field.isRequired"
        [disabled]="isPrevious && !field.isReadOnly"
        [(ngModel)]="field.isRequired"
      >
      </mat-slide-toggle>
    </div>
    <div
      *ngIf="!isPrevious"
      class="flex flex-row justify-between items-center text-sm py-3"
    >
      Private
      <mat-slide-toggle
        class="mat-slide"
        [checked]="field.isPrivate"
        [(ngModel)]="field.isPrivate"
      >
      </mat-slide-toggle>
    </div>
  </section>
  <section class="w-full px-4 py-2">
    <button
      mat-stroked-button
      id="delete-question-button"
      data-testId="delete-question-button"
      color="warn"
      class="priority"
      (click)="deleteQuestion(field)"
    >
      Delete
    </button>
  </section>
</div>
