@import 'functions';

/* stylelint-disable-next-line */
::ng-deep .mat-tab-body-content {
  mat-form-field {
    margin: 10px;
  }

  .mat-icon-button {
    font-size: font-calc(21);
    top: -4px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}
