<div
  class="h-full w-full"
  *ngIf="nextStations.length; else notConnectedStations"
>
  <div *ngIf="ruleError">
    <p class="text-center text-error-500" id="rules-error">
      Error: Unable to retrieve the flow rules.
    </p>
  </div>
  <div
    *ngIf="ruleLoading"
    class="flex w-full items-center justify-center py-16"
    id="rule-loading"
  >
    <app-loading-indicator></app-loading-indicator>
  </div>
  <section *ngIf="!ruleLoading && !ruleError">
    <div
      *ngFor="let station of nextStations; let i = index"
      class="flex flex-col justify-start"
    >
      <div class="mb-6">
        <p class="font-semibold mt-10">{{ station.name }} Rules</p>
        <!-- Loader for flow logic -->
        <div
          *ngIf="flowLogicLoading"
          class="flex justify-start"
          id="flow-logic-loading"
        >
          <app-loading-indicator
            [inlineText]="'Loading...'"
          ></app-loading-indicator>
        </div>
        <div *ngIf="!flowLogicLoading && !flowRuleError">
          <p
            class="text-error-500 mt-4"
            [id]="'there-are-not-rules-' + i"
            *ngIf="
              !getStationFlowRules(station.rithmId).equations.length &&
              !getStationFlowRules(station.rithmId).subRules.length
            "
          >
            Documents will always flow here if there are no rules.
          </p>
          <div>
            <section class="all-rules">
              <p class="mt-3">
                Flow to {{ station.name }} if ALL of the following are true.
              </p>
              <section
                *ngIf="
                  flowLogicLoadingByRuleType !== station.rithmId + '-all';
                  else flowLogicRuleLoading
                "
              >
                <div
                  class="flex justify-between items-center border-b border-secondary-100"
                  *ngFor="
                    let equation of getStationFlowRules(station.rithmId)
                      .equations;
                    let j = index
                  "
                >
                  <p
                    class="flex flex-col items-start sm:flex-row sm:items-end py-2 pl-3 text-secondary-500"
                  >
                    {{ equation.leftOperand.text | titlecase }}
                    <span class="font-semibold px-2">
                      - {{ equation.operatorType }} -</span
                    >
                    {{ equation.rightOperand.text | titlecase }}
                  </p>
                  <figure class="flex">
                    <button
                      attr.data-testid="edit-rule-button-all-{{
                        station.rithmId
                      }}-{{ j }}"
                      id="edit-rule-button-all-{{ station.rithmId }}-{{ j }}"
                      type="button"
                      mat-icon-button
                      matSuffix
                      matTooltip="Edit current rule"
                      (click)="openModal('all', station.rithmId, equation)"
                    >
                      <i class="fas fa-pen text-secondary-300 text-base"></i>
                    </button>
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      id="delete-rule-button-all-{{ station.rithmId }}-{{ j }}"
                      attr.data-testid="delete-rule-button-all-{{
                        station.rithmId
                      }}-{{ j }}"
                      matTooltip="Remove current rule"
                      (click)="
                        deleteRuleFromStationFlowLogic(
                          j,
                          'all',
                          station.rithmId
                        )
                      "
                    >
                      <i class="fas fa-trash text-secondary-300 text-base"></i>
                    </button>
                  </figure>
                </div>
              </section>
              <div class="mt-4">
                <button
                  mat-stroked-button
                  type="button"
                  (click)="openModal('all', station.rithmId)"
                  data-testid="all-new-rule"
                  id="all-new-rule"
                  class="px-4 py-1 rounded border-solid border-2 border-primary-200 text-accent-500 text-sm font-semibold"
                >
                  New Rule
                </button>
              </div>
            </section>
            <div class="mt-5">
              <span>- OR -</span>
            </div>
            <section class="any-rules">
              <p>
                Flow to {{ station.name }} if ANY of the following are true.
              </p>
              <section
                *ngIf="
                  flowLogicLoadingByRuleType !== station.rithmId + '-any';
                  else flowLogicRuleLoading
                "
              >
                <div
                  class="flex justify-between items-center border-b border-secondary-100"
                  *ngFor="
                    let subRule of getStationFlowRules(station.rithmId)
                      .subRules;
                    let k = index
                  "
                >
                  <p
                    class="flex flex-col items-start sm:flex-row sm:items-end py-2 pl-3 text-secondary-500"
                  >
                    {{ subRule.equations[0].leftOperand.text | titlecase }}
                    <span class="font-semibold px-2">
                      - {{ subRule.equations[0].operatorType }} -</span
                    >
                    {{ subRule.equations[0].rightOperand.text | titlecase }}
                  </p>
                  <figure class="flex">
                    <button
                      attr.data-testid="edit-rule-button-any-{{
                        station.rithmId
                      }}-{{ k }}"
                      id="edit-rule-button-any-{{ station.rithmId }}-{{ k }}"
                      type="button"
                      mat-icon-button
                      matSuffix
                      matTooltip="Edit current rule"
                      (click)="
                        openModal('any', station.rithmId, subRule.equations[0])
                      "
                    >
                      <i class="fas fa-pen text-secondary-300 text-base"></i>
                    </button>
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      id="delete-rule-button-any-{{ station.rithmId }}-{{ k }}"
                      attr.data-testid="delete-rule-button-any-{{
                        station.rithmId
                      }}-{{ k }}"
                      matTooltip="Remove current rule"
                      (click)="
                        deleteRuleFromStationFlowLogic(
                          k,
                          'any',
                          station.rithmId
                        )
                      "
                    >
                      <i class="fas fa-trash text-secondary-300 text-base"></i>
                    </button>
                  </figure>
                </div>
              </section>
              <div class="mt-4">
                <button
                  mat-stroked-button
                  type="button"
                  (click)="openModal('any', station.rithmId)"
                  data-testid="any-new-rule"
                  id="any-new-rule"
                  class="px-4 py-1 mt-4 rounded border-solid border-2 border-primary-200 text-accent-500 text-sm font-semibold"
                >
                  New Rule
                </button>
              </div>
            </section>
          </div>
        </div>
        <!-- Error in rules flow logic -->
        <div *ngIf="flowRuleError" id="flow-logic-rules-error">
          <p class="text-left text-error-500">
            Error: Unable to retrive station rules.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<ng-template #flowLogicRuleLoading>
  <div class="flex justify-left" id="flow-logic-loading-rules">
    <app-loading-indicator [inlineText]="'Loading...'"></app-loading-indicator>
  </div>
</ng-template>
<ng-template #notConnectedStations>
  <div class="w-100 mt-10">
    <p class="text-center text-error-500">
      There are not any forward connections, please make a connection in order
      to add flow logic.
    </p>
  </div>
</ng-template>
