<div class="my-4">
  <!-- Button close menu. -->
  <div class="flex justify-end">
    <button
      data-testid="close-menu-dashboard"
      id="close-menu-dashboard"
      mat-icon-button
      (click)="toggleMenu('menuDashboard')"
      class="text-secondary-500"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>

  <!-- Header information of the organization. -->
  <div class="flex justify-between items-end">
    <div
      class="flex items-end"
      *ngIf="!failedGetOrganization"
      id="info-organization"
    >
      <img
        src="assets/logo/black-icon-only.svg"
        class="w-10 mr-2"
        alt="Logo Rithm"
      />
      <div class="w-[200px] md:w-[260px] truncate">
        <p *ngIf="organizationInfo" class="font-semibold truncate">
          {{ organizationInfo.name }}
        </p>
      </div>
    </div>
    <div
      *ngIf="failedGetOrganization"
      id="failed-info-organization"
      class="w-full"
    >
      <p class="text-error-500 truncate">Name of organization not obtained</p>
    </div>
  </div>
</div>
