// Rithm Light Theme
@use '@angular/material' as mat;

/// import light theme color palette
@import '../helpers/rithm-light-palettes';

// mat-palette accepts $palette-name, main, lighter and darker variants
/// Apply primary color palette to theme
$rithm-light-primary: mat.define-palette($primary-palette, 500, 400, 700);
/// Apply accent color palette to theme
$rithm-light-accent: mat.define-palette($accent-palette);
/// Apply error color palette to theme
$rithm-light-warn: mat.define-palette($error-palette);

// create theme (use mat-dark-theme for themes with dark backgrounds)
/// Rithm Light Theme creation
$rithm-light: mat.define-light-theme($rithm-light-primary, $rithm-light-accent, $rithm-light-warn);
