<div *ngIf="!isWidget">
  <ng-container *ngIf="!viewNewStation; else newDocumentHeader">
    <section class="grid grid-cols-12 border-b border-secondary-400 py-5">
      <div class="col-span-12">
        <h6 class="text-center">Document Information</h6>
      </div>
      <div class="col-span-12 flex justify-between" *ngIf="isStation">
        <div class="items-center flex">
          <p>Document Name:</p>
          <mat-chip-list aria-label="Document Fields Selection">
            <div
              *ngFor="let field of documentAppendedFields; let i = index"
              class="mx-1"
            >
              <mat-chip *ngIf="field.questionRithmId">
                {{ field.prompt }}
                <button
                  mat-icon-button
                  type="button"
                  class="mat-icon-6"
                  (click)="removeAppendedFieldFromDocumentName(i)"
                >
                  <i class="fas fa-times-circle text-lg text-primary-300"></i>
                </button>
              </mat-chip>
              <span *ngIf="!field.questionRithmId">
                {{ field.prompt }}
              </span>
            </div>
          </mat-chip-list>
        </div>
        <button
          type="button"
          data-testid="document-info-drawer"
          id="info-drawer-button-document"
          mat-icon-button
          (click)="toggleDrawer('documentInfo')"
          [disabled]="isDrawerOpen"
        >
          <i
            class="fas fa-info-circle text-2xl"
            [ngClass]="isDrawerOpen ? 'text-primary-100' : 'text-primary-500'"
          ></i>
        </button>
      </div>

      <section *ngIf="!isStation" class="col-span-12">
        <div
          class="w-full flex flex-col"
          *ngIf="isDocumentNameEditable; else nonEditableDocName"
        >
          <form
            [formGroup]="documentNameForm"
            class="flex items-center document-header-form"
          >
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Document Name:</mat-label>
              <input
                id="name"
                type="text"
                matInput
                matNativeControl
                placeholder="Untitled document"
                formControlName="name"
                (keyup)="updateDocumentNameBS()"
              />
            </mat-form-field>
            <button
              type="button"
              data-testid="document-info-drawer"
              mat-icon-button
              class="icon icon-top pl-2"
              (click)="toggleDrawer('documentInfo')"
              id="info-drawer-button-document"
              [disabled]="isDrawerOpen"
            >
              <i
                class="fas fa-info-circle text-2xl"
                [ngClass]="
                  isDrawerOpen ? 'text-primary-100' : 'text-primary-500'
                "
              ></i>
            </button>
          </form>
          <p
            *ngIf="appendedDocumentName !== ''"
            class="text-xs text-secondary-500"
          >
            Appended Name: {{ appendedDocumentName }}
          </p>
        </div>
        <ng-template #nonEditableDocName>
          <div class="flex items-center justify-between col-span-12">
            <div class="w-full">
              <p>
                Document Name:
                {{ documentName }}
                {{ appendedDocumentName }}
              </p>
            </div>
            <button
              type="button"
              data-testid="document-info-drawer"
              mat-icon-button
              matSuffix
              class="icon icon-top pl-3"
              (click)="toggleDrawer('documentInfo')"
              [disabled]="isDrawerOpen"
            >
              <i
                class="fas fa-info-circle text-2xl"
                [ngClass]="
                  isDrawerOpen ? 'text-primary-100' : 'text-primary-500'
                "
              ></i>
            </button>
          </div>
        </ng-template>
      </section>

      <div *ngIf="!isStation" class="col-span-2 md:col-start-3 flex">
        <div
          *ngIf="
            userType === userTypeEnum.Admin ||
            userType === userTypeEnum.StationOwner
          "
        >
          <button mat-icon-button color="accent" type="button">
            <!-- TODO: Display if not locked -->
            <i class="fas fa-pen"></i>
            <!-- TODO: Display if someone is editing/working -->
            <!-- <i class="fas fa-lock"></i> -->
          </button>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-template #newDocumentHeader>
    <section
      class="grid grid-cols-12 border-b border-secondary-200 pt-5 pb-2 px-4"
    >
      <div class="col-span-12 flex justify-between items-center mt-6 mb-1">
        <div class="flex items-center">
          <p class="text-center tracking-tight text-xl font-semibold">
            {{ appendedDocumentName || 'Untitled Container' }}
          </p>
        </div>
        <button
          type="button"
          data-testid="document-info-drawer"
          id="info-drawer-button-document"
          mat-icon-button
          (click)="toggleDrawer('documentInfo')"
          [disabled]="isDrawerOpen"
        >
          <i
            class="fas fa-cog text-2xl"
            [ngClass]="
              isDrawerOpen ? 'text-secondary-100' : 'text-secondary-500'
            "
          ></i>
        </button>
      </div>
    </section>
  </ng-template>
</div>

<section
  *ngIf="isWidget"
  id="section-current-worker"
  class="border-b border-secondary-400"
>
  <div class="py-2 border-b border-secondary-400">
    <p class="font-semibold">
      {{ documentName }}
    </p>

    <p class="text-xs">
      {{ stationNameDocument }}
    </p>
  </div>
  <div class="flex justify-between p-1">
    <div *ngIf="currentAssignedUserDocument?.rithmId; else startButton">
      <small
        class="text-secondary-900 font-semibold text-[0.6rem] tracking-[1.5px]"
      >
        ASSIGNED
      </small>
      <div class="px-4">
        <app-user-avatar
          [firstName]="currentAssignedUserDocument.firstName"
          [lastName]="currentAssignedUserDocument.lastName"
        >
        </app-user-avatar>
      </div>
    </div>
    <ng-template #startButton>
      <div class="py-2">
        <button
          mat-stroked-button
          (click)="assignUserToDocument()"
          data-testid="start-document-button"
          color="accent"
          id="start-document-button"
        >
          Start Document
        </button>
        <div *ngIf="loadingAssignUser" class="w-24 items-center py-2">
          <app-loading-indicator
            id="assign-user-loading"
            [inlineText]="'Loading...'"
          ></app-loading-indicator>
        </div>
        <div
          *ngIf="displayAssignUserError"
          class="text-error-500 text-xs px-[15px] pt-2"
          data-testid="assign-user-error"
          id="assign-user-error"
        >
          User not assigned!
        </div>
      </div>
    </ng-template>

    <button
      mat-icon-button
      data-testid="return-document-button"
      id="return-document-button"
      class="text-secondary-500"
      (click)="goToDocument()"
    >
      <i class="fas fa-external-link-alt"></i>
    </button>
  </div>
</section>
