<div class="h-full w-full flex justify-center items-center absolute" *ngIf="documentInfoDrawerLoading">
  <app-loading-indicator></app-loading-indicator>
</div>
<div class="grid grid-cols-1" *ngIf="!documentInfoDrawerLoading">
  <div class="w-full py-2">
    <div class="col-span-12">
      <h6 class="text-center">Document Information</h6>
    </div>
    <div class="col-span-12 pt-2">
      <p class="overline-font">Document Name</p>
      <p>{{documentName}}</p>
      <div class="w-24 items-center py-2" *ngIf="documentNameLoading">
        <app-loading-indicator [inlineText]="'Loading...'"></app-loading-indicator>
      </div>
      <div class="pt-1" *ngIf="!documentNameLoading && isStation">
        <mat-checkbox (click)="updateStatusDocumentEditable(!documentNameEditable)" [(ngModel)]="documentNameEditable">
          Editable Name
        </mat-checkbox>
      </div>
    </div>
    <div class="col-span-12 pt-4" *ngIf="isStation">
      <p class="overline-font mb-2">Append fields to name</p>
      <form [formGroup]="appendFieldForm">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Search</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Search" matInput formControlName="appendField"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption classList="test-class"
            (optionSelected)="addStationDocumentFieldName($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.prompt">
              <p *ngIf="option.prompt">{{option.prompt}}</p>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="col-span-12 py-3">
          <p class="overline-font pb-2">Separator Value</p>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select formControlName="separatorField" (selectionChange)="updateSeparatorFieldValue($event.value)">
              <mat-option *ngFor="let option of fieldNameSeparatorOptions | keyvalue" [value]="option.value">
                {{option.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
    <ng-container *ngIf="!isStation">
      <div class="col-span-12 pt-4">
        <p class="overline-font mb-2">Assigned to</p>
      </div>
      <div class="col-span-12 pt-4">
        <p class="overline-font mb-2">Document Priority</p>
      </div>
      <div class="col-span-12 pt-4">
        <p class="overline-font mb-2">Time in station</p>
      </div>
      <div class="w-full py-2">
        <p class="overline">last updated</p>
        <div class="text-left text-xs py-2">
          <span class="{{colorMessage}}">{{lastUpdatedDate}} </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
