<div class="h-full w-full flex justify-center items-center absolute" *ngIf="documentInfoDrawerLoading">
  <app-loading-indicator></app-loading-indicator>
</div>
<div class="grid grid-cols-1" *ngIf="!documentInfoDrawerLoading">
  <div class="w-full py-2">
    <div class="col-span-12">
      <h6 class="text-center">Document Information</h6>
    </div>
    <div class="col-span-12 pt-2">
      <p class="overline">Document Name</p>
      <div class="w-24 items-center py-2" *ngIf="documentNameLoading">
        <app-loading-indicator [inlineText]="'Loading...'"></app-loading-indicator>
      </div>
      <div class="pt-1" *ngIf="!documentNameLoading">
        <mat-checkbox (click)="updateStatusDocumentEditable(!documentNameEditable)" [(ngModel)]="documentNameEditable">
          Editable Name
        </mat-checkbox>
      </div>
    </div>
    <div class="col-span-12 pt-4">
      <p class="overline mb-2">Append fields to name</p>
      <form [formGroup]="appendFieldForm">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Search</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Search"
                 matInput
                 formControlName="appendField"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption classList="test-class" (optionSelected)="updStationDocumentFieldName($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.prompt">
              <p>{{option.prompt}}</p>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <div class="col-span-12 py-3">
      <p class="overline pb-2">Separator Value</p>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="separatorValueSelect">
          <mat-option *ngFor="let option of fieldNameSeparatorOptions | keyvalue" [value]="option.value">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
