<div class="container-tab-actions px-8">
  <button *ngIf="!addingAction" mat-stroked-button color="accent" (click)="addingAction = true">
    New Action
  </button>
  <div class="container-action-form" *ngIf="addingAction">
    <form [formGroup]="conditionForm">
      <section class="container-action-type">
        <mat-form-field appearance="outline">
          <mat-label>Action Type</mat-label>
          <mat-select formControlName="conditionType">
            <mat-option value="creation">Container Creation</mat-option>
            <mat-option value="archive">Archive Container</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section class="container-action-shared-values">
        <div class="static-input-container">
          <div class="screen-box" data-testid="open-multiselect-search" (click)="multiSelect.open()"></div>
          <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Available Stations</mat-label>
            <input matInput disabled>
            <button matPrefix mat-icon-button>
              <i class="fa-solid fa-search"></i>
            </button>
          </mat-form-field>
        </div>

        <div class="multiselect-section">
          <mat-form-field appearance="outline">
            <mat-label>Available Stations</mat-label>
            <mat-select [formControl]="websiteMultiCtrl" placeholder="Website" [multiple]="true"  #multiSelect>
              <mat-option class="bg-brightBlue">
                <ngx-mat-select-search placeholderLabel="Find bank..." [formControl]="websiteMultiFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let stations of filteredOptionsAutocomplete$ | async" [value]="stations">
                {{stations.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="selected-stations-chips">
          <mat-chip-list>
            <mat-chip *ngFor="let station of websiteMultiCtrl.value">
              {{station.name}}
              <button class="pl-2" type="button">
                <i class="fas fa-times-circle text-lg text-primary-200"></i>
              </button>
            </mat-chip>
          </mat-chip-list>
        </div>
      </section>


      <section class="container-action-shared-values">
        <mat-form-field appearance="outline">
          <mat-label>Shared Values</mat-label>
          <mat-select formControlName="conditionSharedValues" multiple>
            <mat-option *ngFor="let field of currentStationFields" [value]="field">{{ field.prompt }}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section class="container-action-control-buttons space-x-4 py-4">
        <button mat-button color="accent" (click)="addingAction = false">
          Cancel
        </button>
        <button mat-stroked-button color="accent" (click)="addingAction = false">
          Save
        </button>
      </section>
    </form>
  </div>
</div>
