<div class="container-tab-actions px-8">
  <button
    *ngIf="!addingAction"
    mat-stroked-button
    color="accent"
    (click)="addingAction = true"
  >
    New Action
  </button>
  <div class="container-action-form" *ngIf="addingAction">
    <form [formGroup]="conditionForm">
      <section class="container-action-type mb-4">
        <mat-form-field appearance="outline">
          <mat-label>Action Type</mat-label>
          <mat-select
            formControlName="conditionType"
            (selectionChange)="clearForm($event)"
          >
            <mat-option value="creation">Container Creation</mat-option>
            <mat-option value="archive">Archive Container</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section
        class="container-action-stations relative mb-2"
        *ngIf="conditionForm.controls.conditionType.value === 'creation'"
      >
        <div class="static-input-container">
          <div
            class="screen-box"
            data-testid="open-multiselect-search"
            (click)="multiSelect.open()"
          ></div>
          <mat-form-field class="overlap-form-field" appearance="outline">
            <mat-label>Available Stations</mat-label>
            <input matInput disabled />
            <button matPrefix mat-icon-button>
              <i class="fa-solid fa-search"></i>
            </button>
          </mat-form-field>
        </div>

        <div class="multiselect-section">
          <mat-form-field appearance="outline">
            <mat-label>Available Stations</mat-label>
            <mat-select
              formControlName="conditionStations"
              placeholder="Stations"
              [multiple]="true"
              #multiSelect
            >
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Search..."
                  formControlName="conditionStationsFilter"
                  noEntriesFoundLabel="Not match found..."
                >
                <span aria-hidden="true" class="close" ngxMatSelectSearchClear>
                  <i class="fa-solid fa-xmark"></i>
                </span>

                </ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let stations of filteredOptionsAutocomplete$ | async"
                [value]="stations"
              >
                {{ stations.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="selected-stations-chips flex py-2">
          <mat-chip-list>
            <mat-chip
              *ngFor="
                let station of conditionForm.controls.conditionStations.value
              "
            >
              {{ station.name }}
              <button
                class="pl-2"
                type="button"
                (click)="removeStation(station.rithmId)"
              >
                <i class="fas fa-times-circle text-lg text-primary-200"></i>
              </button>
            </mat-chip>
          </mat-chip-list>
        </div>
      </section>

      <section
        class="container-action-shared-values mb-4"
        *ngIf="conditionForm.controls.conditionStations.value.length"
      >
        <mat-form-field appearance="outline">
          <mat-label>Shared Values</mat-label>
          <mat-select formControlName="conditionSharedValues" multiple>
            <mat-option
              *ngFor="let field of currentStationFields"
              [value]="field"
              >{{ field.prompt }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </section>

      <section class="container-action-control-buttons space-x-4">
        <button mat-button color="accent" (click)="addingAction = false">
          Cancel
        </button>
        <button
          mat-stroked-button
          color="accent"
          (click)="addingAction = false"
          [disabled]="!conditionForm.valid"
        >
          Save
        </button>
      </section>
    </form>
  </div>
</div>
