<app-loading-indicator *ngIf="mapDataLoading" class="fixed right-0 left-0 top-2/4 text-center"></app-loading-indicator>
<div class="h-12 flex justify-end items-center space-x-2.5 mx-2 py-2" *ngIf="!mapDataLoading">
  <button mat-raised-button color="accent" *ngIf="!isBuilding" (click)="build()" class="h-9">Build</button>
  <button mat-raised-button color="basic" *ngIf="isBuilding" (click)="cancel()" class="h-9">Cancel</button>
  <button mat-raised-button color="accent" *ngIf="isBuilding" class="h-9">Publish</button>
</div>
