::ng-deep.cdk-overlay-backdrop.cdk-overlay-transparent-backdrop {
  display: none;
}

:host {
  touch-action: manipulation;
}

::ng-deep .mat-drawer-container {
  background-color: transparent;
}

::ng-deep .mapElementDrawer {
  position: fixed !important;
  top: 129px;

  @media screen and (min-width: 992px) {
    left: calc(100% - 20rem);
  }
}

.info-drawer-map {
  ::ng-deep mat-drawer-container {
    mat-drawer.mapStationInfo {
      @apply mt-0;

      position: absolute !important;
      height: 100%;
    }
  }
}

//Needed for the center-map icon.
.fa-stack-1x {
  font-size: 0.5rem;
}

.mat-accent.mat-button-disabled {
  background-color: #1b4387;
  color: #fff;
  opacity: 0.7;
}

.mat-basic.mat-button-disabled {
  background-color: #fff;
  color: #000000de;
  opacity: 0.7;
}

//Search css styles
::ng-deep.mat-form-field-wrapper {
  padding: 0;

  .mat-form-field-underline {
    display: none;
  }
}

::ng-deep.mat-form-field-appearance-fill {
  .mat-form-field-flex {
    padding: 0.25em 1.3rem 0.25rem 1.65rem !important;
    background-color: #fff;
    border: 1px solid #bfbfbf;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: 0.35em;
  }
}

::ng-deep.mat-option {
  line-height: 21px !important;
  height: 40px !important;
}

.station {
  background-image: url('../../../assets/images/station.png');
}

.group {
  background-image: url('../../../assets/images/station.png');
}
