@import "variables", "functions", "rithm-light-palettes";

.notification-card {
  min-height: 100px;
  width: 280px;
}

.badge-accent {
  position: absolute;
  top: 18px;
  right: 7px;
}

.subtitle-medium {
  color: $primary-blue;
}

button {
  color: $primary-blue;

  &:hover {
    color: map-get($primary-palette, 300);
  }

  i {
    font-size: font-calc(24);
  }
}

mat-card-content {
  width: 100%;
  min-height: 36px;
  overflow: hidden;

  p {
    width: 100%;
    font-size: font-calc(14) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.menu-notification {
  padding: 8px;

  .title {
    font-size: font-calc(14);
  }

  .read {
    height: 10px;
    width: 10px;
    background: $accent-blue;
    border-radius: 50%;
    margin: 10px auto;
  }

  .overline-font {
    color: $secondary-gray;
    padding: 2px 0;
  }
}
