<button
  mat-button
  [matMenuTriggerFor]="isDashboardListOptions ? menuList : menuDashboard"
  (click)="openOptionsMenu($event)"
  mat-icon-button
  [attr.data-testid]="'button-more-' + dashboardRole"
  [id]="'button-more-' + dashboardRole"
>
  <i class="fas fa-ellipsis-h text-lg"></i>
</button>
<mat-menu #menuList="matMenu">
  <button
    mat-menu-item
    *ngIf="dashboardRole === roleDashboardMenu.OrganizationDashboard"
  >
    <i class="fas fa-users"></i>
    <span class="p-4">Manage Members</span>
  </button>
  <button mat-menu-item>
    <i class="fas fa-plus"></i>
    <span class="p-4">New Dashboard</span>
  </button>
</mat-menu>

<mat-menu #menuDashboard="matMenu">
  <button mat-menu-item>
    <i class="fas fa-users"></i>
    <span class="p-4">Manage Members</span>
  </button>
  <button mat-menu-item>
    <i class="fas fa-trash"></i>
    <span class="p-4">Delete Dashboard</span>
  </button>
</mat-menu>
