<button
  mat-button
  [matMenuTriggerFor]="menu"
  (click)="openOptionsMenu($event)"
  mat-icon-button
  [attr.data-testid]="'button-more-' + dashboardRole"
  id="button-more-{{ dashboardRole }}"
>
  <i class="fas fa-ellipsis-h text-lg"></i>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item><i class="fas fa-users"></i> Manage Members</button>
  <button mat-menu-item><i class="fas fa-user-plus"></i> Add Member</button>
  <button mat-menu-item><i class="fas fa-plus"></i> New Dashboard</button>
</mat-menu>
