<!-- Header widget -->
<div class="m-2">
  <div class="flex justify-between">
    <div class="justify-self-start">
      <p class="font-semibold text-2xl text-left">
        {{ dataStationWidget.stationName }}
      </p>
    </div>
    <div class="justify-self-end">
      <button
        *ngIf="dataStationWidget?.documentGeneratorStatus === 'Manual'"
        mat-stroked-button
        color="accent"
        data-testid="create-new-document"
        id="create-new-document"
      >
        New Document <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>
