<div class="w-full flex justify-between p-2">
  <h3 *ngIf="dataStationWidget" class="font-semibold">
    {{ dataStationWidget.stationName }}
  </h3>
  <div class="text-brightBlue">
    <button mat-button class="text-xs">
      New Document <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="grid grid-cols-12 text-xs text-secondary-500 pt-2 px-2">
  <p class="col-span-5 overline-font">Document</p>
  <p class="col-span-2 overline-font">Assigned</p>
  <p class="col-span-2 overline-font">Priority</p>
  <p class="col-span-3 overline-font">Time in Station</p>
</div>
<div *ngIf="dataStationWidget" class="grid grid-cols-12 text-secondary-500 p-2">
  <ng-container *ngFor="let document of dataStationWidget?.documents">
    <div
      class="col-span-5 py-2 border-solid border-b border-b-primary-100 text-xs"
    >
      {{ document.name }}
    </div>
    <div
      class="col-span-2 py-2 border-solid border-b border-b-primary-100 text-xs"
    >
      {{ document.assignedUser }}
    </div>
    <div
      class="col-span-2 py-2 border-solid border-b border-b-primary-100 text-xs"
    >
      {{ document.priority }}
    </div>
    <div
      class="col-span-2 py-2 border-solid border-b border-b-primary-100 text-xs"
    >
      {{
        getElapsedTime(document.flowedTimeUTC) === 'Unknown'
          ? ''
          : getElapsedTime(document.flowedTimeUTC)
      }}
    </div>
    <button class="col-span-1 py-2 border-solid border-b border-b-primary-100">
      <i class="fas fa-angle-double-right"></i>
    </button>
  </ng-container>
</div>
<div class="h-full">
  <!-- Header widget -->
  <div class="m-2">
    <div
      class="text-right"
      *ngIf="dataStationWidget?.documentGeneratorStatus === 'Manual'"
    >
      <button
        mat-stroked-button
        color="accent"
        data-testid="create-new-document"
        id="create-new-document"
      >
        New Document <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>

  <div
    *ngIf="!isLoading; else loading"
    data-testid="show-docs"
    id="show-docs"
  ></div>
</div>

<ng-template #loading>
  <div
    data-testid="loading-docs"
    id="loading-docs"
    class="h-full flex justify-center items-center flex-col"
  >
    <p class="py-2 truncate">Loading</p>
    <app-loading-indicator></app-loading-indicator>
  </div>
</ng-template>
