td.mat-cell {
  padding-right: 10px !important;
}

td.mat-cell:last-of-type {
  padding: 0 !important;
}

td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0 !important;
}

tr.mat-header-row {
  height: 30px !important;
}

.line-clamp-custom {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.mat-icon-button {
  margin-top: -10px !important;
}

.table-sort ::ng-deep {
  .mat-sort-header-ste,
  .mat-sort-header-arrow {
    display: none !important;
  }
}

.button-right {
  right: -1px !important;
}
