<div class="py-2 bg-white flex justify-between items-center shadow">
  <div class="flex flex-col pl-5">
    <span class="text-xs">Current Organization</span>
    <span class="font-bold">{{orgInfo?.name}}</span>
  </div>
<div class="w-32 flex justify-center text-secondary-500">
  <button mat-icon-button color="accent" class="w-14 flex flex-col items-center hover:text-secondary-300">
    <i class="far fa-plus-square text-2xl"></i>
    <span class="text-sm leading-3 font-semibold">Flow</span>
  </button>
  <button mat-icon-button color="accent" class="w-14 flex flex-col items-center hover:text-secondary-300">
    <i class="far fa-plus-square text-2xl"></i>
    <span class="text-sm leading-3 font-semibold">Station</span>
  </button>
</div>
</div>
