<div class="py-2 bg-white flex justify-between items-center shadow">
  <div class="flex flex-col pl-5">
    <span class="text-xs">Current Organization</span>
    <span class="font-bold">{{orgInfo?.name}}</span>
  </div>
<div class="h-12 bg-white flex justify-end shadow">
<div class="w-28 flex justify-between items-center px-2 mr-1">
  <button mat-icon-button color="accent" class="w-16 flex flex-col items-center group">
    <i class="block far fa-plus-square text-2xl text-secondary-500 group-hover:text-secondary-300"></i>
    <span class="block text-sm leading-3 font-semibold text-secondary-500 group-hover:text-secondary-300">Flow</span>
  </button>
  <button mat-icon-button color="accent" class="w-16 flex flex-col items-center group">
    <i class="block far fa-plus-square text-2xl text-secondary-500 group-hover:text-secondary-300"></i>
    <span class="block text-sm leading-3 font-semibold text-secondary-500 group-hover:text-secondary-300">Station</span>
  </button>
</div>
</div>
