<div class="px-3 h-[130px] overflow-hidden">
  <app-header-menu></app-header-menu>
</div>
<div class="h-[calc(100%-130px)] overflow-auto">
  <mat-accordion multi>
    <app-expansion-menu
      [isManageMember]="isManageMember"
      [dashboardRole]="dashboardRole.Company"
      [showDefaultDashboard]="showDefaultDashboard"
    ></app-expansion-menu>
    <app-expansion-menu
      [isManageMember]="isManageMember"
      [dashboardRole]="dashboardRole.Personal"
      [showDefaultDashboard]="showDefaultDashboard"
    ></app-expansion-menu>
  </mat-accordion>
</div>
