@import 'variables', 'functions';

.sidebar-container {
  .comment-container {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 247px);
    overflow-y: auto;

    .no-comments {
      color: $accent-blue;
      text-align: center;
      height: calc(70vh - 247px);
    }

    .load-more {
      transition: background-color 0.25s;
      color: $accent-blue;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: map-get($secondary-gray-palette, 50);
      }
    }
  }
}

.loader {
  height: calc(100vh - 247px);
}
