.sidebar-container {
  .comment-container {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 247px);
    overflow-y: auto;
  }
}

.loader {
  height: calc(100vh - 247px);
}
