<mat-tab-group>
  <mat-tab label="Station">
    <ng-template matTabContent>
      <div class="sidebar-container" *ngIf="!isLoading">
        <div class="comment-container">
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <app-comment></app-comment>
          <div *ngIf="loadingMoreComments" class="my-2 loadMore">
            <app-loading-indicator [inlineText]="'Loading...'"></app-loading-indicator>
          </div>
        </div>
      </div>
      <app-loading-indicator class="loader" *ngIf="isLoading"></app-loading-indicator>
    </ng-template>
  </mat-tab>
  <mat-tab label="Document">
    <ng-template matTabContent>
      Content 2
    </ng-template>
  </mat-tab>
</mat-tab-group>
