<mat-tab-group>
  <mat-tab label="Station">
    <ng-template matTabContent *ngIf="!isLoading">
      <div class="comment-container" >
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
      </div>
    </ng-template>
    <app-loading-indicator [inlineText]="'Loading...'" class="loader" *ngIf="isLoading"></app-loading-indicator>
  </mat-tab>
  <mat-tab label="Document">
    <ng-template matTabContent>
      Content 2
    </ng-template>
  </mat-tab>
</mat-tab-group>
