<div class="modal-container">
  <h4 class="text-center">Manage Worker Roster</h4>
  <div class="pt-2 flex justify-center items-center h-full">
    <div class="gap-2 flex justify-center">
      <div class="float-left my-1 mx-px first:ml-0" *ngFor="let member of rosterMembers">
          <app-user-avatar [firstName]="member.firstName" [lastName]="member.lastName" [navProfile]="true" [badge]="'check'" (click)="removeUsersToRoster(member.rithmId)"></app-user-avatar>
      </div>
    </div>
  </div>
</div>
<!-- Buttons -->
<div mat-dialog-actions class="flex justify-end">
</div>
