<div
  class="relative"
  [ngClass]="{ 'mb-3': widgetType === enumWidgetType.ContainerProfileBanner }"
>
  <div
    class="h-[155px] w-full bg-secondary-100 flex items-center justify-center flex-col"
    [ngClass]="{
      'animate-pulse':
        isLoading && widgetType === enumWidgetType.ContainerProfileBanner
    }"
  >
    <i
      *ngIf="!imageSrc && widgetType !== enumWidgetType.ContainerProfileBanner"
      [ngClass]="{ 'animate-pulse': isLoading }"
      class="fas text-[60px] text-secondary-300 fa-image"
    ></i>
    <img
      *ngIf="!isLoading && imageSrc"
      [src]="imageSrc"
      class="w-full h-full object-cover"
      [alt]="image.imageName || 'Image widget'"
    />
  </div>

  <div
    class="absolute top-[44%] lg:top-[32%] left-[5%]"
    *ngIf="widgetType === enumWidgetType.ContainerProfileBanner"
  >
    <app-avatar-image-widget></app-avatar-image-widget>
  </div>
</div>
