div.station {
  width: 160px;

  @media screen and (max-width: 1130px) {
    width: 140px;
  }

  @media screen and (max-width: 1030px) {
    width: 130px;
  }

  .left {
    margin-left: 150px;

    @media screen and (max-width: 1130px) {
      margin-left: 130px;
    }

    @media screen and (max-width: 1030px) {
      margin-left: 120px;
    }
  }
}
