<!--Loading -->
<app-loading-widget
  *ngIf="isLoadingGetUserMembers"
  id="app-loading-indicator-user-member"
></app-loading-widget>

<!--Show error -->
<app-error-widget
  *ngIf="errorGetUsersMember"
  id="error-load-user-member"
  [errorMessage]="'Unable to obtain members.'"
  [permission]="true"
  (tryAgain)="getUsersDashboardPersonal()"
>
</app-error-widget>
<ng-container *ngIf="!isLoadingGetUserMembers && !errorGetUsersMember">
  <div>
    <h3>Manage Members</h3>
    <div class="md:flex md:justify-between mt-3">
      <div class="w-full input-search">
        <mat-form-field appearance="outline">
          <input
            [(ngModel)]="search"
            type="text"
            matInput
            placeholder="Search containers"
            id="search-documents"
            data-testid="search-documents"
            maxlength="55"
            autocomplete="off"
          />
          <span matPrefix
            ><i class="fas fa-search text-secondary-300"></i
          ></span>
        </mat-form-field>
      </div>

      <div class="select-filter mt-2 md:mt-0">
        <mat-form-field appearance="fill" floatLabel="never">
          <mat-label class="text-xs">Access Type</mat-label>
          <mat-select [(ngModel)]="selectedFilterValue">
            <mat-option
              *ngFor="let filter of optionsSelectList"
              [value]="filter"
            >
              {{ filter }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div
    [formGroup]="form"
    class="h-[calc(100%-190px)] md:h-[calc(100%-140px)] overflow-scroll scrollbar"
  >
    <div class="mt-3 ml-3 md:ml-5">
      <mat-checkbox formControlName="checkAll" id="check-all"
        >Select All</mat-checkbox
      >
    </div>
    <div>
      <div
        class="w-full text-center mt-5"
        id="message-error-members"
        *ngIf="!membersDashboard.length"
      >
        There are not member for show.
      </div>
      <ng-container *ngFor="let member of membersDashboard; let i = index">
        <app-member-dashboard-list-modal
          [formControlName]="'member-' + i"
          [member]="member"
          [setCheckAll]="checkAll"
          [index]="i"
        ></app-member-dashboard-list-modal>
      </ng-container>
    </div>
  </div>

  <div class="w-full flex justify-end actions" mat-dialog-actions>
    <button
      data-testid="close-dialog-button"
      mat-button
      [mat-dialog-close]="true"
    >
      CANCEL
    </button>

    <button data-testid="close-dialog-button" mat-button color="accent">
      SAVE
    </button>
  </div>
</ng-container>
