.select-filter {
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
  }

  .mat-form-field {
    @apply border rounded overflow-hidden;

    height: 60px;
    width: 160px;
    border-color: #ddd;
  }

  .mat-focused {
    @apply border-brightBlue;
  }
}

.input-search {
  ::ng-deep .mat-form-field {
    height: 50px;
  }

  input.mat-input-element {
    margin-left: 8px;
  }
}

.height-container {
  height: calc(100% - 220px);
}
