<div class="modal-container">
  <!-- Modal header -->
  <div class="flex justify-center items-center h-full">
    <h4 class="text-center">New Rule</h4>
  </div>
  <mat-stepper [linear]="true" [orientation]="(stepperOrientation$ | async)!">
    <mat-step color="accent" [completed]="false">
      <ng-template matStepLabel>
        <p class="truncate font-semibold ml-2">Select Field</p>
      </ng-template>
      <div class="flex flex-col w-5/12 justify-start">
        <p class="text-sm mt-1">
          Select the field-set you'd like to apply a rule to.
        </p>
        <mat-form-field appearance="outline" class="mt-2">
          <mat-label>Select Field</mat-label>
          <mat-select></mat-select>
        </mat-form-field>
        <button mat-button matStepperNext class="w-1/12">Next</button>
      </div>
    </mat-step>
    <mat-step color="primary" [completed]="false">
      <ng-template matStepLabel>
        <p class="truncate ml-2">Comparison Type</p>
      </ng-template>
    </mat-step>
    <mat-step color="primary" [completed]="false">
      <ng-template matStepLabel>
        <p class="truncate ml-2">Comparison Value</p>
      </ng-template>
    </mat-step>
    <mat-step color="primary" [completed]="false">
      <ng-template matStepLabel>
        <p class="truncate ml-2">Done</p>
      </ng-template>
    </mat-step>
  </mat-stepper>
  <div mat-dialog-actions class="flex justify-end">
    <button mat-button mat-dialog-close (click)="closeModal()">Close</button>
  </div>
</div>
