<div class="modal-container">
  <!-- Modal header -->
  <div class="flex justify-center items-center h-full">
    <h4 class="text-center">New Rule</h4>
  </div>
  <!-- Stepper for new rule -->
  <mat-stepper [linear]="true" [orientation]="(stepperOrientation$ | async)!">
    <!-- Step 1 -->
    <mat-step color="accent" [completed]="false">
      <ng-template matStepLabel>
        <p class="truncate font-semibold ml-2">Select Field</p>
      </ng-template>
      <div class="flex flex-col md:w-5/12 justify-start">
        <p class="text-sm mt-1">
          Select the field-set you'd like to apply a rule to.
        </p>
        <mat-form-field appearance="outline" class="mt-2">
          <mat-label>Select Field</mat-label>
          <mat-select [(value)]="firstOperand"></mat-select>
        </mat-form-field>
        <button mat-button matStepperNext class="w-1/12">Next</button>
      </div>
    </mat-step>
    <!-- Step 2 -->
    <mat-step color="primary" [completed]="false">
      <ng-template matStepLabel>
        <p class="truncate ml-2">Comparison Type</p>
      </ng-template>
      <div class="flex flex-col md:w-5/12 justify-start">
        <p class="text-sm mt-1">
          Select the comparasion value for field type: <b>Short Text</b>
        </p>
        <mat-form-field appearance="outline" class="mt-2">
          <mat-label>Comparison Type</mat-label>
          <mat-select [(value)]="operator"></mat-select>
        </mat-form-field>
      </div>
      <div class="flex flex-row space-x-2">
        <button mat-button matStepperPrevious class="w-1/12">Back</button>
        <button mat-button matStepperNext class="w-1/12 text-accent-500">
          Next
        </button>
      </div>
    </mat-step>
    <!-- Step 3 -->
    <mat-step color="primary" [completed]="false">
      <ng-template matStepLabel>
        <p class="truncate ml-2">Comparison Value</p>
      </ng-template>
      <div class="flex flex-col">
        <p class="text-sm mt-1">
          Enter the value you`d like to compare your field to.
        </p>
      </div>
      <div class="flex flex-col md:flex-row md:w-3/5 justify-start mt-2">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Placeholder</mat-label>
          <div matPrefix class="icon">
            <!-- Text Icons -->
            <i class="fas fa-font"></i>
          </div>
          <input matInput type="text" [(ngModel)]="placeholder" autocomplete="off" />
        </mat-form-field>
        <span class="md:py-5 md:px-2 self-center md:self-auto"> OR </span>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Previous field</mat-label>
          <mat-select [(value)]="previousField"></mat-select>
        </mat-form-field>
      </div>
      <div class="flex flex-row space-x-2">
        <button mat-button matStepperPrevious class="w-1/12">Back</button>
        <button mat-button matStepperNext class="w-1/12 text-accent-500">
          Next
        </button>
      </div>
    </mat-step>
    <!-- Step 4 -->
    <mat-step color="primary" [completed]="false">
      <ng-template matStepLabel>
        <p class="truncate ml-2">Done</p>
      </ng-template>
    </mat-step>
  </mat-stepper>
  <div mat-dialog-actions class="flex justify-end">
    <button mat-button mat-dialog-close (click)="closeModal()">Close</button>
  </div>
</div>
