@import 'rithm-light-palettes', 'variables', 'functions';

.circle {
  margin: 5px 2px;
  float: left;

  &:first-child {
    margin-left: 0;
  }
}

.user-avatar-like {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $secondary-gray;
  background: $secondary-gray;
  line-height: 28px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: font-calc(12);

  &:hover {
    cursor: pointer;
    background: map-get($secondary-gray-palette, 600);
  }
}
