<ng-container *ngIf="!loadingRoster; else loadingIndicator">
  <div
    *ngFor="let member of rosterMembers | slice: 0:slices"
    (click)="fromDrawer ? openManagementRosterModal() : openRosterModal()"
    class="float-left my-1 mx-px first:ml-0"
  >
    <app-user-avatar
      [firstName]="member.firstName"
      [lastName]="member.lastName"
      [isDrawer]="fromDrawer"
    ></app-user-avatar>
  </div>
  <div
    *ngIf="fromDrawer && rosterMembers.length > 3"
    [matBadge]="'+' + (rosterMembers.length - 3)"
    matBadgeSize="small"
    matBadgePosition="after"
    matBadgeColor="accent"
    class="mt-2"
  ></div>
  <p
    *ngIf="!editMode && rosterMembers.length === 0"
    class="overline-font py-2 text-secondary-300"
  >
    No station {{ isWorker ? 'workers' : 'owners' }}
  </p>
  <div
    *ngIf="!editMode && rosterMembers.length > 3"
    class="float-left my-1 mx-px first:ml-0 circle-30-secondary"
    (click)="openRosterModal()"
  >
    +{{ rosterMembers.length - 2 }}
  </div>
</ng-container>
<ng-template #loadingIndicator class="loading">
  <app-loading-indicator
    id="loading-roster-indicator"
    inlineText="Loading..."
  ></app-loading-indicator>
</ng-template>
