@import 'rithm-light-palettes', 'variables', 'functions';

.circles {
  margin: 5px 2px;
  float: left;

  &:first-child {
    margin-left: 0;
  }

  .badge {
    width: 15px;
    height: 15px;
    background-color: $accent-blue;
    border-radius: 50%;
    position: absolute;
    margin-top: -13px;
    margin-left: 27px;
    font-size: font-calc(8);
    color: #fff;
    text-align: center;
    line-height: 15px;
  }
}
