@import "functions";

//This is required to correctly display the custom add/remove user icon.
.icon {
  position: relative;

  .plus {
    position: absolute;
    font-size: fixed-font-size(8);
    top: 5px;
    left: 6px;
  }

  .slash {
    position: absolute;
    top: 9px;
    left: 7px;
  }

  .minus {
    position: absolute;
    font-size: fixed-font-size(8);
    top: 16px;
    left: 14px;
  }

  .badge-accent {
    position: absolute;
    top: -5px;
    left: 18px;
  }
}
