<ng-container [formGroup]="documentFieldForm">
  <p *ngIf="field.questionType === fieldTypes.AddressLine" class="pb-1 italic">{{field.prompt}}</p>
  <div *ngIf="field?.questionType === fieldTypes?.Instructions && field?.prompt" class="flex items-center py-1">
    <i class="fas text-secondary-200 fa-sticky-note"></i>
    <p class="pl-2">{{field?.prompt || 'no text'}}</p>
  </div>
  <app-text-field *ngIf="
    field.questionType === fieldTypes.ShortText ||
    field.questionType === fieldTypes.LongText ||
    field.questionType === fieldTypes.URL ||
    field.questionType === fieldTypes.LongTextLabel ||
    field.questionType === fieldTypes.State ||
    field.questionType === fieldTypes.City ||
    field.questionType === fieldTypes.Email" [field]="field" formControlName="textFieldForm" [labelTag]="field.prompt" [isStation]="false"></app-text-field>
  <app-number-field *ngIf="
    field.questionType === fieldTypes.Number ||
    field.questionType === fieldTypes.Phone ||
    field.questionType === fieldTypes.Zip ||
    field.questionType === fieldTypes.CreditCard ||
    field.questionType === fieldTypes.Currency" [field]="field" formControlName="numberFieldForm"></app-number-field>
  <app-date-field *ngIf="
    field.questionType === fieldTypes.Date ||
    field.questionType === fieldTypes.DateTime" [field]="field" formControlName="dateFieldForm"></app-date-field>
  <app-select-field *ngIf="
    field.questionType === fieldTypes.Select ||
    field.questionType === fieldTypes.MultiSelect" [field]="field" formControlName="selectFieldForm">
  </app-select-field>
  <app-check-field *ngIf="field.questionType === fieldTypes.CheckList" [field]="field" formControlName="checkFieldForm">
  </app-check-field>
  <app-nested-field *ngIf="field.children.length > 0" [field]="field" formControlName="nestedFieldForm">
  </app-nested-field>
</ng-container>
