<div class="w-full pl-5">
  <p>
    <i *ngIf="passReq?.missingPassLength" class="far fa-times-circle"></i>
    <i *ngIf="!passReq?.missingPassLength" class="far fa-check-circle"></i>
    Contains 8 or more characters
  </p>
</div>
<div class="w-full pl-5">
  <p>
    <i *ngIf="passReq?.missingLowerChar" class="far fa-times-circle"></i>
    <i *ngIf="!passReq?.missingLowerChar" class="far fa-check-circle"></i>
    Contains a lowercase character
  </p>
</div>
<div class="w-full pl-5">
  <p>
    <i *ngIf="passReq?.missingUpperChar" class="far fa-times-circle"></i>
    <i *ngIf="!passReq?.missingUpperChar" class="far fa-check-circle"></i>
    Contains an uppercase character
  </p>
</div>
<div class="w-full pl-5">
  <p>
    <i *ngIf="passReq?.missingDigitChar" class="far fa-times-circle"></i>
    <i *ngIf="!passReq?.missingDigitChar" class="far fa-check-circle"></i>
    Contains a number character
  </p>
</div>
<div class="w-full pl-5">
  <p>
    <i *ngIf="passReq?.missingSpecialChar" class="far fa-times-circle"></i>
    <i *ngIf="!passReq?.missingSpecialChar" class="far fa-check-circle"></i>
    Contains a special character
  </p>
</div>
<div class="w-full pl-5" *ngIf="match">
  <p>
    <i *ngIf="passReq?.mismatchingPasswords" class="far fa-times-circle"></i>
    <i *ngIf="!passReq?.mismatchingPasswords" class="far fa-check-circle"></i>
    Passwords match
  </p>
</div>
