// Import all helpers
@import './scss/helpers/index';
/// Import Tools from tools file
/// Contains global styles for buttons, forms and typography
@import './scss/tools/index';
// Material themeing
@import '~@angular/material/theming';
// Material Core
@include mat-core($custom-typography);

// Rithm light Theme
@import './scss/themes/index';
// Apply Rithm light theme
@include angular-material-theme($rithm-light);

// Set base typography settings
@include mat-base-typography($custom-typography);

// Global Styles Below
/// Global page Styles
* {
  margin: 0;
  padding: 0;
}
/// Set the height of the page
/// Apply page specific styles within the component
.page {
  height: 100vh;
}

/// Overrides the default accent color for the snackbar action
.snackbar {
  .mat-simple-snackbar-action {
    color: #fff;
  }
}

.snackbar-error {
  color: $warning-red;
  background-color: map-get($error-palette, 50);

  .mat-simple-snackbar-action {
    color: $warning-red;
  }
}
