<div
  class="h-full w-full flex justify-center items-center"
  *ngIf="stationLoading"
>
  <app-loading-indicator id="loading-drawer-component"></app-loading-indicator>
</div>

<mat-tab-group class="tabs-station" *ngIf="!stationLoading">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-cog fa-lg"></i>
    </ng-template>
    <ng-template matTabContent>
      <div class="grid grid-cols-1">
        <div class="w-full py-2">
         <!-- Station Name -->
          <div class="flex px-4 py-2 border-b-2 border-b-secondary-100">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Station Name</mat-label>
              <input
                matInput
                type="text"
                id="station"
                data-testid="station-name-field"
                [(ngModel)]="stationName"
                (ngModelChange)="reportNewStationMapChange()"
              />
            </mat-form-field>
          </div>
        </div>

        <!-- Priority -->
        <div
          class="flex justify-between w-full px-4 py-2 border-b-2 border-b-secondary-100"
        >
          <h6>Priority</h6>
          <div class="text-xs text-secondary-500 py-2" *ngIf="locallyCreated">
            {{ publishStationMessage }}station priority.
          </div>
          <button
            *ngIf="!locallyCreated"
            class="mat-focus-indicator priority mat-mini-fab mat-button-base mat-warn"
          >
            {{ stationPriority }}
          </button>
        </div>

        <!-- Last Updated -->
        <div class="flex justify-between w-full px-4 py-4 border-b-2 border-b-secondary-100">
          <h6>Last Updated</h6>
          <div class="w-24 items-center py-2" *ngIf="lastUpdatedLoading">
            <app-loading-indicator
              [inlineText]="'Loading...'"
            ></app-loading-indicator>
          </div>
          <div
            class="col-span-8 md:col-span-4 text-left text-xs py-2"
            *ngIf="!lastUpdatedLoading"
          >
            <span class="{{ colorMessage }}">{{ lastUpdatedDate }} </span>
          </div>
        </div>

        <!-- Chained Flow -->
        <div class="flex justify-between w-full px-4 py-4 border-b-2 border-b-secondary-100">
          <h6>Chained Flow</h6>
          <div>
            <i class="fas fa-check text-accent-500"></i>
          </div>
        </div>

        <!-- Button Settings -->
        <div class="w-full px-4 py-4 border-b-2 border-b-secondary-100">
          <div class="flex flex-row gap-2">
            <h6>Button Settings</h6>
            <div><i class="fas fa-question-circle text-secondary-300"></i></div>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-full">
              <input
                matInput
                type="text"
                id="button-name"
                data-testid="button-name"
              />
            </mat-form-field>
          </div>
          <div class="flex justify-between">
            <div>
              <p class="text-sm text-secondary-300">
                Users can flow document to previous station
              </p>
            </div>
            <div><mat-slide-toggle></mat-slide-toggle></div>
          </div>
        </div>

        <div *ngIf="mapMode === mapModeEnum.Build">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Notes</mat-label>
            <textarea
              class="h-28"
              matInput
              [(ngModel)]="stationNotes"
              (ngModelChange)="reportNewStationMapChange()"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="w-full py-2 px-2" *ngIf="openedFromMap && !locallyCreated">
          <button mat-stroked-button color="accent" (click)="goToStation()">
            View Station
          </button>
        </div>
        <div class="w-full py-2 px-2">
          <button
            mat-stroked-button
            id="delete-station-button"
            color="warn"
            class="priority"
            (click)="deleteStation()"
          >
            Delete Station
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-file fa-lg"></i>
    </ng-template>
    <ng-template matTabContent> </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-users fa-lg"></i>
    </ng-template>
  </mat-tab>
</mat-tab-group>
