<div
  class="h-full w-full flex justify-center items-center"
  *ngIf="stationLoading"
>
  <app-loading-indicator id="loading-drawer-component"></app-loading-indicator>
</div>

<mat-tab-group
  class="tabs-station"
  *ngIf="!stationLoading"
  [selectedIndex]="selectedTabIndex"
>
  <mat-tab label="tab-station-info">
    <ng-template mat-tab-label>
      <i class="fas fa-cog fa-lg"></i>
    </ng-template>
    <ng-template matTabContent>
      <div class="grid grid-cols-1 px-2">
        <!-- Station Name -->
        <section class="flex py-4">
          <div
            class="col-span-12 pt-2"
            *ngIf="
              (openedFromMap && !editMode) || (!openedFromMap && !editMode);
              else editStationName
            "
          >
            <p class="overline-font">Station Name</p>
            <p class="pt-2">{{ stationName }}</p>
          </div>
          <ng-template #editStationName>
            <mat-form-field
              appearance="outline"
              class="w-full mat-station-name"
            >
              <mat-label>Station Name</mat-label>
              <input
                matInput
                type="text"
                id="station"
                data-testid="station-name-field"
                [(ngModel)]="stationName"
                (keyup)="updateStationInfoDrawerName()"
                (ngModelChange)="
                  mapMode === mapModeEnum.Build
                    ? reportNewStationMapChange()
                    : null
                "
              />
            </mat-form-field>
          </ng-template>
        </section>

        <!-- Priority -->
        <section
          class="flex justify-between items-center w-full py-4 border-t-2 border-t-secondary-200"
        >
          <h6 class="w-11/12">Priority</h6>
          <div class="text-xs text-secondary-500" *ngIf="locallyCreated">
            {{ publishStationMessage }}station priority.
          </div>
          <div class="flex justify-end items-center">
            <button
              *ngIf="!locallyCreated"
              class="priority rounded-full h-7 w-7 text-center text-lg font-semibold leading-7 text-white bg-error-500 hover:bg-error-700 mat-button-base mat-warn"
              data-testid="priority-field"
              id="priority-field"
            >
              {{ stationPriority }}
            </button>
            <i class="fas fa-chevron-right text-secondary-500 fa-lg ml-2"></i>
          </div>
        </section>

        <!-- Last Updated -->
        <section
          class="flex justify-between w-full py-4 border-t-2 border-t-secondary-200"
        >
          <h6>Last Updated</h6>
          <div class="flex items-center text-xs" *ngIf="!lastUpdatedLoading">
            <span class="{{ colorMessage }}">{{ lastUpdatedDate }} </span>
          </div>
          <div class="items-center" *ngIf="lastUpdatedLoading">
            <app-loading-indicator
              [inlineText]="'Loading...'"
            ></app-loading-indicator>
          </div>
        </section>

        <!-- Chained Flow -->
        <section
          class="flex justify-between w-full py-4 border-t-2 border-t-secondary-200"
        >
          <h6>Chained Flow</h6>
          <div>
            <i
              class="fas fa-check"
              [ngClass]="isChained ? 'text-accent-500' : 'text-secondary-500'"
            ></i>
          </div>
        </section>

        <!-- Button Settings -->
        <section class="w-full py-4 border-t-2 border-t-secondary-200">
          <div class="flex flex-row gap-2">
            <h6>Button Settings</h6>
            <div>
              <i
                class="fas fa-question-circle text-secondary-300 cursor-pointer"
                matTooltip="?"
                matTooltipPosition="right"
              ></i>
            </div>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-full">
              <input
                matInput
                type="text"
                placeholder="Button Name"
                id="button-name"
                [value]="flowButtonName"
                [(ngModel)]="flowButtonName"
                (mouseout)="updateFlowButtonName()"
                data-testid="button-name"
              />
            </mat-form-field>
          </div>
          <div class="flex justify-between items-center">
            <div>
              <p class="w-5/6 text-sm text-secondary-300">
                Users can flow document to previous station
              </p>
            </div>
            <mat-slide-toggle class="px-2"></mat-slide-toggle>
          </div>
        </section>
        <div *ngIf="mapMode === mapModeEnum.Build">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Notes</mat-label>
            <textarea
              class="h-28"
              matInput
              [(ngModel)]="stationNotes"
              (ngModelChange)="reportNewStationMapChange()"
            ></textarea>
          </mat-form-field>
        </div>
        <div
          class="w-full py-2 px-2 text-center"
          *ngIf="openedFromMap && !locallyCreated"
        >
          <button mat-stroked-button color="accent" (click)="goToStation()">
            View Station
          </button>
        </div>
        <div
          class="w-full py-2 px-2 text-center"
          *ngIf="
            locallyCreated ||
            (openedFromMap && editMode && isUserAdminOrOwner) ||
            (!openedFromMap && editMode) ||
            (!openedFromMap && isUserAdminOrOwner)
          "
        >
          <button
            mat-stroked-button
            color="warn"
            class="priority"
            id="delete-station-button"
            data-testid="delete-station-button"
            (click)="deleteStation()"
          >
            Delete Station
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="tab-document-info">
    <ng-template mat-tab-label>
      <i class="fas fa-file fa-lg"></i>
    </ng-template>
    <ng-template matTabContent>
      <div class="grid grid-cols-1 px-2">
        <div class="w-full py-2">
          <div class="col-span-12">
            <h6 class="text-center">Document Generation</h6>
          </div>
        </div>
      </div>
      <section class="px-2">
        <section class="flex justify-between items-center w-full py-3">
          <p class="text-secondary-300 inline-block">None</p>
          <div class="py-1" *ngIf="docGenLoading && !locallyCreated">
            <app-loading-indicator
              id="none-status-loading"
              [inlineText]="'Loading...'"
            ></app-loading-indicator>
          </div>
          <mat-slide-toggle
            class="pr-1"
            *ngIf="!docGenLoading && !locallyCreated"
            (change)="updateGenerationStatus('None', $event)"
            [checked]="stationDocumentGenerationStatus === 'None'"
            [disabled]="docCreationLoading || (openedFromMap && !editMode)"
          >
          </mat-slide-toggle>
        </section>
        <section class="flex justify-between items-center w-full py-3">
          <p class="text-secondary-300 inline-block">Manual</p>
          <div class="py-1" *ngIf="docGenLoading && !locallyCreated">
            <app-loading-indicator
              id="manual-status-loading"
              [inlineText]="'Loading...'"
            ></app-loading-indicator>
          </div>
          <mat-slide-toggle
            class="pr-1"
            *ngIf="!docGenLoading && !locallyCreated"
            (change)="updateGenerationStatus('Manual', $event)"
            [checked]="stationDocumentGenerationStatus === 'Manual'"
            [disabled]="docCreationLoading || (openedFromMap && !editMode)"
          >
          </mat-slide-toggle>
        </section>
      </section>
      <section class="flex justify-between items-center w-full py-3 px-2">
        <p class="text-secondary-300 inline-block">Schedule</p>
        <i class="fas fa-chevron-right"></i>
      </section>
      <section
        class="text-center w-full py-3"
        *ngIf="displayCreateDocumentButton"
      >
        <div class="py-1" *ngIf="docCreationLoading; else createDocument">
          <app-loading-indicator
            id="creating-document-loading"
            [inlineText]="'Loading...'"
          ></app-loading-indicator>
        </div>
        <ng-template #createDocument>
          <button
            data-testid="new-document"
            id="new-document"
            mat-stroked-button
            color="accent"
            (click)="createNewDocument()"
          >
            New Document
          </button>
        </ng-template>
      </section>
    </ng-template>
  </mat-tab>

  <mat-tab label="tab-owner-info">
    <ng-template mat-tab-label>
      <i class="fas fa-users fa-lg"></i>
    </ng-template>
    <ng-template matTabContent>
      <div class="grid grid-cols-1 px-2">
        <section class="flex w-full py-5">
          <div class="flex w-full flex-col justify-center">
            <h6>Station Owners</h6>
            <p
              class="overline-font"
              *ngIf="ownersRosterLength >= 0; else noRosterMember"
            >
              {{ ownersRosterLength }}
              {{ ownersRosterLength === 1 ? 'member' : 'members' }}
            </p>
            <ng-template #noRosterMember>
              <app-loading-indicator
                [inlineText]="'Loading...'"
              ></app-loading-indicator>
            </ng-template>
          </div>
          <div
            class="py-2 text-secondary-500 text-xs"
            *ngIf="locallyCreated; else showOwnerRoster"
          >
            {{ publishStationMessage }}station owners.
          </div>
          <ng-template #showOwnerRoster>
            <div class="flex w-full justify-between items-center pl-4">
              <app-roster
                [stationId]="stationRithmId"
                [isWorker]="false"
                [editMode]="editMode || isUserAdminOrOwner"
                [fromDrawer]="true"
                (rosterMemberLength)="ownersRosterLength = $event"
              >
              </app-roster>
              <div
                class="cursor-pointer pr-2"
                (click)="openManagementRosterModal(true)"
              >
                <i class="fas fa-chevron-right text-accent-800 fa-lg"></i>
              </div>
            </div>
          </ng-template>
        </section>
        <section
          class="flex flex-col w-full py-5 border-t border-secondary-200 border-solid"
        >
          <h6 class="pb-3">Station Roster</h6>
          <section class="flex justify-between items-center pb-4">
            <div>
              <p class="text-secondary-400 pr-2 inline-block">Make Public</p>
              <i
                class="fas fa-question-circle fa-2x1 text-secondary-400"
                matTooltip="Allow everyone in your organization to work on documents at this station"
              ></i>
            </div>
            <div class="pr-2">
              <app-loading-indicator
                *ngIf="allowAllOrgLoading"
                id="loading-indicator-allow-org-workers"
                [inlineText]="'Loading...'"
              ></app-loading-indicator>

              <mat-slide-toggle
                color="accent"
                *ngIf="!allowAllOrgLoading"
                (change)="updateAllOrgWorkersStation()"
                [(ngModel)]="allowAllOrgWorkers"
              >
              </mat-slide-toggle>
            </div>
          </section>
          <section class="flex justify-between items-center pb-4">
            <div>
              <p class="text-secondary-400 pr-2 inline-block">External</p>
              <i
                class="fas fa-question-circle fa-2x1 text-secondary-400"
                matTooltip="Allow anyone outside your organization to work on documents at this station"
              ></i>
            </div>
            <ng-container
              *ngIf="allowExternalLoading; else slideToggleAllowExt"
            >
              <app-loading-indicator
                id="loading-indicator-allow-external"
                [inlineText]="'Loading...'"
              ></app-loading-indicator>
            </ng-container>
            <ng-template #slideToggleAllowExt>
              <div class="pr-2">
                <mat-slide-toggle
                  color="accent"
                  (change)="updateAllowExternalWorkers()"
                  [(ngModel)]="allowExternal"
                >
                </mat-slide-toggle>
              </div>
            </ng-template>
          </section>
          <section class="flex justify-between items-center">
            <div>
              <p class="text-secondary-400 pr-2 inline-block">Custom Roster</p>
            </div>
            <div
              class="pr-2 cursor-pointer"
              (click)="openManagementRosterModal(false)"
            >
              <i class="fas fa-chevron-right text-accent-800 fa-lg"></i>
            </div>
          </section>
        </section>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
