@import 'rithm-light-palettes';

.mat-mini-fab {
  &.priority {
    &::ng-deep .mat-button-wrapper {
      padding: 0;
    }

    @apply mt-1 w-7 h-7 leading-6;
  }
}

.mat-stroked-button {
  &.priority {
    &::ng-deep .mat-button-wrapper {
      padding: 0;
    }

    border: 2px solid map-get($error-palette, 300);
    color: map-get($error-palette, 300);
  }
}

.tabs-station {
  ::ng-deep .mat-tab-header {
    .mat-tab-label {
      min-width: 33% !important;
    }

    .mat-tab-label:hover {
      @apply opacity-100 text-accent-500;
    }

    .mat-tab-label.mat-tab-label-active {
      @apply opacity-100 text-accent-500;
    }
  }

  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    @apply opacity-100 bg-accent-500;
  }
}
