<div class="grid grid-cols-1 px-4">
  <!-- Title -->
</div>
<div class="w-full py-3 px-4">
  <p class="mb-1 tracking-tight text-lg font-semibold">Input Settings</p>
  <div class="flex flex-row justify-between items-center text-sm py-3">
    Editable
    <mat-slide-toggle class="mat-slide"> </mat-slide-toggle>
  </div>
  <div class="flex flex-row justify-between items-center text-sm py-3">
    Required
    <mat-slide-toggle class="mat-slide"> </mat-slide-toggle>
  </div>
  <div class="flex flex-row justify-between items-center text-sm py-3">
    Private
    <mat-slide-toggle class="mat-slide"> </mat-slide-toggle>
  </div>
</div>
<div class="w-full px-4 py-2">
  <button mat-stroked-button id="delete-question-button" data-testId="delete-question-button" color="warn"
    class="priority">
    Delete
  </button>
</div>
