<!-- Title -->
<h1 mat-dialog-title>{{title}}</h1>

<!-- Message -->
<div mat-dialog-content>
  <p>{{message}}</p>
</div>

<!-- Input -->
<mat-form-field appearance="outline">
  <mat-label *ngIf="promptLabel">{{promptLabel}}</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="promptInput">
</mat-form-field>

<!-- Buttons -->
<div mat-dialog-actions class="dialog-actions">
  <button id="cancel" mat-button [mat-dialog-close]="undefined">{{cancelButtonText}}</button>
  <button id="confirm" mat-button color="accent" [mat-dialog-close]="promptInput">{{okButtonText}}</button>
</div>
