<div class="info-help-data-link">
  <h3 class="text-center">Data Link</h3>
  <div class="help-content py-4 mb-1 text-justify">
    <p>
      Data links allow you to pull data from a specific container in your
      selected station. Simply select a unique field with a value that matches
      on both your selected station and current station.
    </p>
    <p class="pt-2">
      When a match is found, your selected fields will be displayed in the new
      container.
    </p>
  </div>
  <div mat-dialog-actions class="flex justify-end">
    <!-- Close -->
    <button
      mat-button
      color="accent"
      (click)="closeHelpModal()"
      data-testid="close-help-modal"
      id="close-help-modal"
    >
      Dismiss
    </button>
  </div>
</div>
