<div>
  <h3 class="text-center">Data Link</h3>
  <div class="help-content py-4">
    <p>
      Data links allow you to pull data from a specific container in your
      selected station. Simply select a unique field with a value that matches
      on both your selected station and current station.
    </p>
    <p class="pt-2">
      When a match is found, your selected fields will be displayed in the new
      container.
    </p>
  </div>
  <div mat-dialog-actions class="flex justify-end">
    <!-- Close -->
    <button
      mat-button
      type="button"
      (click)="closeModalHelp()"
      color="accent"
      data-testid="help-modal-close"
      class="text-accent-500 tracking-widest font-semibold"
      id="help-modal-close"
    >
      Dismiss
    </button>
  </div>
</div>
