<mat-card>
  <h5 class="mat-h5">Unread</h5>
  <app-notification-card
    *ngFor="let notification of unread"
    [fromMenu]="true"
    [notificationType]="notification.type"
    [time]="notification.time"
    [read]="notification.read"
    [title]="notification.title"
    [initials]="notification.initials"
  >
  </app-notification-card>
  <h5 class="mat-h5">Read</h5>
  <app-notification-card
    *ngFor="let notification of read"
    [fromMenu]="true"
    [notificationType]="notification.type"
    [time]="notification.time"
    [read]="notification.read"
    [title]="notification.title"
    [initials]="notification.initials"
  >
  </app-notification-card>
</mat-card>
