mat-card {
  z-index: 3;
  position: absolute;
  width: 280px;
  right: 80px;
  top: 60px;
  padding: 20px 8px;
  max-height: calc(100vh - 75px);
  overflow-y: scroll;

  @media screen and (max-width: 767px) {
    right: 20px;
  }
}
