<div class="modal-container">
  <!-- Title -->
  <h4 id="title" class="text-center">{{title}}</h4>
  <!-- Message -->
  <p *ngIf="!isLoading" id="message" class="py-4 whitespace-pre-wrap overflow-y-auto">
    {{message}}
  </p>
  <!-- Loader -->
  <app-loading-indicator class="loader" *ngIf="isLoading"></app-loading-indicator>
</div>



<!-- Agree and Cancel Buttons -->
<div *ngIf="!isLoading && showAgreeButton" mat-dialog-actions class="flex justify-end">
  <button id="cancel" mat-button [mat-dialog-close]="false" cdkFocusInitial (click)="isAgreed(false)">{{cancelButtonText}}</button>
  <button id="confirm" mat-button color="accent" [mat-dialog-close]="true" (click)="isAgreed(true)">{{okButtonText}}</button>
</div>

<!-- Ok Button -->
<div *ngIf="!isLoading && !showAgreeButton" mat-dialog-actions class="flex justify-end">
  <button id="ok" mat-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>{{okButtonText}}</button>
</div>
