@import '../dialogs/dialog.scss';

p {
  padding: 15px 0;
  white-space: pre-wrap;
  max-height: 450px;
  overflow-y: scroll;
}

.loader {
  height: calc(100% - 24px);
  display: flex;
  align-items: center;
}

div.load-spin {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;

  div {
    padding-top: 80px;

    @media screen and (min-width: 991px) {
      padding-top: 90px;
    }

    @media screen and (min-width: 1499px) {
      padding-top: 130px;
    }
  }
}
