@import '../dialogs/dialog.scss';

p {
  padding: 15px 0;
  white-space: pre-wrap;
  max-height: 450px;
  overflow-y: scroll;

  @media screen and (max-width: 400px) {
    max-height: 81%;
  }

  @media screen and (max-height: 420px) {
    max-height: 200px;
  }

  @media screen and (max-height: 375px) {
    max-height: 150px;
  }
}

.loader {
  height: calc(100% - 24px);
}
