<div class="flex flex-col justify-between h-full">
  <div class="overflow-y-auto">
    <div class="my-4">
      <!-- Button close sidebar. -->
      <div class="flex justify-end">
        <button
          data-testid="close-station-widget-drawer"
          id="close-station-widget-drawer"
          mat-icon-button
          (click)="toggleDrawer()"
          class="text-secondary-500"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="font-semibold text-secondary-500 text-left px-3">
        Table values
      </div>
    </div>
    <app-station-widget-drawer *ngIf="drawerMode === 'stationWidget'">
    </app-station-widget-drawer>
  </div>
  <div
    class="flex justify-center items-center border-t border-solid border-secondary-100 h-16"
  >
    <button
      mat-button
      mat-raised-button
      color="accent"
      (click)="toggleDrawer()"
      data-testid="done-btn"
      id="done-btn"
    >
      Done
    </button>
  </div>
</div>
