<div class="flex flex-col justify-between h-full">
  <div class="overflow-y-auto">
    <div class="my-3">
      <!-- Button close sidebar. -->
      <div class="flex justify-end">
        <button
          data-testid="close-widget-drawer"
          id="close-widget-drawer"
          mat-icon-button
          (click)="toggleDrawer()"
          class="text-secondary-500"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!--     body drawer-->
    <div class="px-3 pb-4">
      <!--      Station drawer-->
      <app-station-widget-drawer
        *ngIf="drawerMode === 'stationWidget'"
        (getWidgetIndex)="setWidgetIndex($event)"
        (getWidgetItem)="setWidgetItem($event)"
        [image]="imageUploaded"
      >
      </app-station-widget-drawer>

      <!-- Document drawer-->
      <app-document-widget-drawer
        *ngIf="drawerMode === 'documentWidget'"
        (setWidgetIndex)="setWidgetIndex($event)"
        (getWidgetItem)="setWidgetItem($event)"
        [image]="imageUploaded"
      >
      </app-document-widget-drawer>
    </div>
    <!-- Upload image-->
    <div
      class="border-t border-solid border-secondary-100 py-5 pl-5"
      *ngIf="
        (widgetType === widgetTypeEnum.StationTableBanner ||
          widgetType === widgetTypeEnum.DocumentListBanner) &&
        showImageBanner
      "
      id="section-image-banner"
    >
      <div class="font-semibold text-secondary-500 mb-3">Banner image</div>
      <button
        mat-stroked-button
        color="accent"
        mat-button
        id="upload-image-button"
        data-testid="upload-image-button"
        (click)="fileInput.click()"
        [disabled]="isUploading || (imageUploaded && imageUploaded.imageId)"
      >
        <i class="fa fa-upload"></i>
        Upload image
        <input
          #fileInput
          type="file"
          accept="image/png,image/jpeg"
          id="upload-image-input"
          [hidden]="true"
          (change)="uploadImage($event)"
        />
      </button>

      <div
        class="w-full flex mt-5 items-center"
        *ngIf="imageUploaded && imageUploaded.imageId"
      >
        <span class="text-accent-500 truncate">{{
          imageUploaded.imageName
        }}</span>
        <button
          mat-icon-button
          class="text-secondary-500"
          id="remove-selected-image"
          data-testid="remove-selected-image"
          (click)="confirmImageDelete()"
        >
          <i class="fa fa-times text-base text-secondary-400"></i>
        </button>
      </div>
    </div>

    <div class="w-full px-3 py-4 border-t border-secondary-100 text-left">
      <button
        type="button"
        mat-stroked-button
        color="warn"
        class="priority"
        id="delete-widget-button"
        data-testid="delete-widget-button"
        [disabled]="widgetIndex === null"
        (click)="confirmWidgetDelete()"
      >
        Delete Widget
      </button>
    </div>
  </div>
  <div
    class="flex justify-center items-center border-t border-solid border-secondary-100 py-2 h-16"
  >
    <button
      mat-button
      mat-raised-button
      color="accent"
      (click)="toggleDrawer()"
      data-testid="done-btn"
      id="done-btn"
    >
      Done
    </button>
  </div>
</div>
