<div class="flex flex-col justify-between h-full">
  <div class="overflow-y-auto">
    <app-station-widget-drawer *ngIf="drawerMode === 'stationWidget'">
    </app-station-widget-drawer>
    <div class="w-full py-2 px-2 text-left">
      <button
        type="button"
        mat-stroked-button
        color="warn"
        class="priority"
        id="delete-widget-button"
        data-testid="delete-station-widget-button"
      >
        Delete Widget
      </button>
    </div>
  </div>
  <div
    class="flex justify-center items-center border-t border-solid border-secondary-100 h-16"
  >
    <button
      mat-button
      mat-raised-button
      color="accent"
      (click)="toggleDrawer(drawerMode)"
      data-testid="done-btn"
      id="done-btn"
    >
      Done
    </button>
  </div>
</div>
