<p *ngIf="field?.instructions !== ''">
  {{field?.instructions}}
</p>

<app-text-field *ngIf="
field?.type === fieldTypes.SHORT_TEXT ||
field?.type === fieldTypes.LONG_TEXT ||
field?.type === fieldTypes.URL ||
field?.type === fieldTypes.EMAIL"
[field]="field"></app-text-field>
<app-number-field *ngIf="
field?.type === fieldTypes.NUMBER ||
field?.type === fieldTypes.PHONE ||
field?.type === fieldTypes.CURRENCY"
[field]="field"></app-number-field>
<app-date-field *ngIf="
field?.type === fieldTypes.DATE ||
field?.type === fieldTypes.DATETIME"
[field]="field"></app-date-field>
<app-address-field *ngIf="
field?.type === fieldTypes.ADDRESS"></app-address-field>
<app-select-field *ngIf="
field?.type === fieldTypes.SELECT ||
field?.type === fieldTypes.MULTI_SELECT"
[field]="field"></app-select-field>
<app-check-field *ngIf="
field?.type === fieldTypes.CHECKBOX ||
field?.type === fieldTypes.CHECKLIST"></app-check-field>
