<p *ngIf="field?.instructions !== ''">
  {{field?.instructions}}
</p>

<app-text-field *ngIf="
field?.type === fieldTypes.ShortText ||
field?.type === fieldTypes.LongText ||
field?.type === fieldTypes.URL ||
field?.type === fieldTypes.Email"
[field]="field"></app-text-field>
<app-number-field *ngIf="
field?.type === fieldTypes.Number ||
field?.type === fieldTypes.Phone ||
field?.type === fieldTypes.Currency"
[field]="field"></app-number-field>
<app-date-field *ngIf="
field?.type === fieldTypes.Date ||
field?.type === fieldTypes.DateTime"
[field]="field"></app-date-field>
<app-address-field *ngIf="
field?.type === fieldTypes.Address"></app-address-field>
<app-select-field *ngIf="
field?.type === fieldTypes.Select ||
field?.type === fieldTypes.MultiSelect"
[field]="field"></app-select-field>
<app-check-field *ngIf="
field?.type === fieldTypes.CheckBox ||
field?.type === fieldTypes.CheckList"></app-check-field>
