@import 'variables';

.container {
  mat-card {
    @media screen and (max-width: 575px) {
      min-height: calc(100vh - 65px);
      height: 100%;
      padding-bottom: 65px;
    }

    h3 {
      color: $accent-blue;
    }

    div.row {
      div.row-header {
        color: $accent-blue;
      }

      div button {
        color: $secondary-gray;

        i {
          font-size: 1.25rem;
        }

        &:hover {
          color: $warning-red;
        }

        &.mat-button-disabled {
          opacity: 0.4;
        }

        &.mat-icon-button.admin {
          width: 30px;
          height: 30px;
          line-height: 30px;
          background-color: map-get($accent-palette, 500);
          color: #fff !important;
          transition: 0.3s;

          &:hover {
            background-color: map-get($accent-palette, 700);
          }

          &.non-admin {
            background-color: map-get($primary-palette, 200);
            
            &:hover {
              background-color: map-get($primary-palette, 400);
            }
          }
        }
      }

      .link-btn {
        height: 45px;
      }

      &.user {
        min-height: 40px;
      }
    }
  }
}
