@import 'variables';

.container {
  mat-card {
    @media screen and (max-width: 575px) {
      min-height: calc(100vh - 65px);
      height: 100%;
      padding-bottom: 65px;
    }

    h3 {
      color: $accent-blue;
    }

    div.row {
      div.row-header {
        color: $accent-blue;
      }

      div button {
        color: $secondary-gray;

        i {
          font-size: 1.25rem;
        }

        &:hover {
          color: $warning-red;
        }
      }

      &.user {
        min-height: 40px;
      }
    }

    .link-btn {
      height: 45px;
    }
  }
}
