<div class="container h-full">
  <mat-card class="w-full md:w-11/12 lg:w-4/5 mx-auto sm:mt-6 h-full sm:h-auto">
    <app-loading-indicator class="loader" *ngIf="isLoading"></app-loading-indicator>
    <div class="grid grid-cols-1 sm:grid-cols-2" *ngIf="!isLoading || !orgLoading">
      <div>
        <h3 class="text-accent-500 mb-1">Manage My Organization</h3>
        <h4 class="text-accent-500">{{orgInfo?.name}}</h4>
      </div>
      <div class="sm:justify-self-end">
        <button mat-button color="accent">
          <i class="fas fa-link"></i>
          Invite members
        </button>
      </div>
    </div>
    <div class="grid grid-cols-12 mt-5 gap-2 items-center" *ngIf="!isLoading || !orgLoading">
      <div class="text-accent-500 col-span-8 md:col-span-5">Name</div>
      <div class="text-accent-500 hidden md:block md:col-span-5">Email</div>
      <div class="text-accent-500 col-span-4 md:col-span-2">Admin</div>
      <ng-container *ngFor="let user of users">
        <div class="col-span-8 md:col-span-5">
          {{ user.firstName }} {{ user.lastName }}
        </div>
        <div class="hidden md:block md:col-span-5">
          {{ user.email }}
        </div>
        <div class="col-span-4 md:col-span-2">
          <button mat-icon-button class="admin-btn" [class.isAdmin]="user.role" [disabled]="user.rithmId === currentUser.rithmId"
            (click)="updateUserRole(user, user.rithmId)">
            <i class="fas fa-check-circle fa-2x"></i>
          </button>
          <button class="group" mat-icon-button *ngIf="user.rithmId !== currentUser.rithmId" (click)="removeUser(user)">
            <i class="fas fa-times fa-2x group-hover:text-error-500 text-secondary-500"></i>
          </button>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!isLoading && totalNumUsers > 0" class="flex justify-center mt-5">
      <app-pagination (currentPageNum)="getUsers($event)" [numItems]="totalNumUsers" [numPerPage]="15" [activeNum]="activeNum">
      </app-pagination>
    </div>
  </mat-card>
</div>
