<div class="page">
  <mat-card>
    <div class="grid grid-cols-1 md:grid-cols-2 md:h-full">
      <!-- left column -->
      <div class="bg-darkBlue md:flex md:flex-col p-3 flex-none md:rounded-l">
        <div class="flex-grow">
          <img
            class="w-40"
            src="../../assets/logo/white-icon-white-text.svg"
            alt="Rithm"
          />
          <p class="mb-2 text-white hidden md:block">Forgot your password?</p>
        </div>
      </div>
      <!-- right column -->
      <div class="flex flex-col bg-white pt-1 md:rounded-r">
        <span *ngIf="!isLoading" class="flex-grow">
          <a class="overline-font text-accent-400 ml-5" routerLink=""
            ><i class="fas fa-chevron-left"></i> Back to sign in</a
          >
          <h4 class="mt-3 ml-5">Forgot Password</h4>
          <p class="mt-1 ml-5">
            Enter the email associated with your account and we'll send you a
            link to help you get back into your account.
          </p>
          <form
            (ngSubmit)="sendEmail()"
            [formGroup]="forgotPassForm"
            class="flex flex-col px-5 py-2 entry-form"
          >
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                data-testid="email-field"
                id="email"
                type="email"
                matInput
                placeholder="Email"
                autocomplete="email"
                formControlName="email"
              />
            </mat-form-field>
            <button
              data-testid="send-email"
              id="send-email"
              type="submit"
              mat-raised-button
              color="accent"
              [disabled]="!forgotPassForm.valid"
            >
              Send Email
            </button>
          </form>
        </span>
        <app-loading-indicator
          class="m-auto"
          *ngIf="isLoading"
        ></app-loading-indicator>
      </div>
    </div>
  </mat-card>
</div>
