<div class="page">
  <div class="container">
    <div class="row justify-content-center">
      <mat-card class="col-md-10 col-sm-12 p-0">
        <div class="row m-0">
          <div class="col-md-6 col-sm-12 left-entry">
            <div>
              <img src="../../assets/logo/white-icon-white-text.svg" alt="Rithm">
            </div>
            <div class="mb-2 d-none d-md-block">
              <p>Forgot your password?</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 right-entry">
            <span [ngClass]="{'transparent': isLoading}">
              <div class="row mt-1">
                <div class="col-12">
                  <a class="overline"  routerLink=""><i class="fas fa-chevron-left"></i> Back to sign in</a>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <h4>Forgot Password</h4>
                </div>
                <div class="col-12 mt-1">
                  <p>Enter the email associated with your account and we'll send you a link to help you get back into your account.</p>
                </div>
              </div>
              <form (ngSubmit)="sendEmail()" [formGroup]="forgotPassForm" class="row mt-3">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput placeholder="Email" autocomplete="email" formControlName="email">
                </mat-form-field>
                <div class="col-12 mt-3">
                  <button type="submit" mat-raised-button color="accent" [disabled]="!forgotPassForm.valid">Send Email</button>
                </div>
              </form>
            </span>
            <!-- Loading Indicator -->
            <span *ngIf="isLoading" class="spinner">
              <div class="row">
                <div class="col text-center">
                  <mat-spinner class="m-auto"></mat-spinner>
                </div>
              </div>
            </span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
