name: Dev Checks

on:
  pull_request:
    paths-ignore: [.vscode/**, .github/**]
    branches: [ dev ]

jobs:

  # Checks that the Angular app conforms to standards
  lint-app:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Installing dependencies
      run: npm ci --no-audit

    - name: Linting Angular app
      run: npm run lint

  # Checks that all stylesheets conform to standards
  lint-stylesheets:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Installing dependencies
      run: npm ci --no-audit

    - name: Linting all stylesheets
      run: npm run lint-style

  # Checks that the Angular app successfully builds using ahead-of-time compilation
  build:
    runs-on: [self-hosted, front-end-checks]
    needs: [lint-app, lint-stylesheets]
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Installing dependencies
      run: npm ci --no-audit

    - name: Building Angular web project
      run: npm run build


  # Checks that the Angular app passes all defined unit and integration tests
  test:
    runs-on: [self-hosted, front-end-checks]
    needs: build
    timeout-minutes: 6

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Installing dependencies
      run: npm ci --no-audit

    - name: Running all unit and integration tests
      run: npm run test-ci
